<%= form_for(@trip) do |f| %>

  <%= render 'error_messages' %>

  <p>
    <%= f.label :name, "Trip Name" %><br />
    <%= f.text_field :name, size: 60 %>
  </p>
  
  <p>
    <%= f.label :purpose %><br />
    <%= f.select(:purpose, options_for_select(Trip.purposes_list.invert, @trip.purpose), include_blank: true)%>
  </p>

  <p>
    <%= f.check_box :hidden %> <%= f.label :hidden, "Hidden" %>
  </p>

  <p>
    <%= f.label :comment %><br />
    <%= f.text_field :comment, size: 60 %>
  </p>

  <p>
    <%= f.submit yield(:button_text) %>
  </p>

<% end %>