<table class="flightlog" id="trips-table">
  <tr>
    <th class="counter">#</th>
		<th class="trip-name">Trip</th>
    <th class="flight-date"><%= sort_link("Departure", :departure, :desc) %></th>
  </tr>
	<% trips.each_with_index do |trip, index| %>
    <tr id="trip-row-<%= trip.id %>">
      <td class="counter"><%= (@sort == [:departure, :desc]) ? trips.length - index : index + 1 %></td>
      <td class="trip-name"><%= Trip::HIDDEN_MARKER if trip.hidden %><%= link_to(trip.name, trip_path(trip), :title => "View trip details for " + trip.name) %></td></td>
      <td class="flight-date"><%= format_date(trip.departure_date) %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="3" class="flightlog-total" id="trips-total" data-total="<%= trips.length %>"><%= pluralize(trips.length, "trip") %></td>
  </tr>
</table>