<% provide(:title, "Trips") %>
<% provide(:meta_description, "A list of airplane trips Paul Bogard has taken.") %>
<% add_admin_action link_to("Add New Trip", new_trip_path) %>
<% add_breadcrumb "Trips", trips_path %>

<h1>Trips</h1>

<% if (flyer == current_user && @trips_with_no_flights.any?) %>
  <h2>Trips with No Flights</h2>
  <table class="flightlog" id="trips-with-no-flights-table">
  <% @trips_with_no_flights.each do |trip| %>
    <tr id="trip-with-no-flights-row-<%= trip.id %>">
      <td class="trip-name"><%= Trip::HIDDEN_MARKER if trip.hidden %><%= link_to(trip.name, trip_path(trip), title: "View trip details for #{trip.name}") %></td>
    </tr>
  <% end %>
  </table>

  <h2>Trips with Flights</h2>
<% end %>

<p>I have taken <%= pluralize(number_with_delimiter(@trips.length, delimiter: sanitize("&nbsp;")), "trip") %> by air.</p>

<% if @trips.any? %>
  <%= render partial: "trips/trip_table", locals: {trips: @trips} %>
<% end %>

<% if flyer == current_user && @trips.empty? && @trips_with_no_flights.empty? %>
	<%= render_message(:warning, "There are no trips in the flight log! Please #{link_to "create a trip", new_trip_path}.") %>
<% elsif !logged_in? && @trips.empty? %>
	<%= render_message(:warning, "There are no trips in the flight log!") %>
<% end %>