<h1><%= @title %></h1>

<p class="center">Part of the <%= link_to(@trip.name, @trip, :class => 'bold') %> trip.</p>

<%= @map.draw %>
<%= distance_block(@section_distance, adjective: 'section') %>

<table class="flightlog">
<%= render :partial => "flights/flight_header_row" %>
<%= render :partial => "flights/flight_row", :collection => @flights, :as => :flight %>
<%= render :partial => "flights/flight_total_row" %>
</table>