<% provide(:title, "Section #{@section} – #{@trip.name}") %>
<% provide(:meta_description, "Maps and lists of flights on section #{@section} of Paul Bogardʼs #{@trip.name} trip.") %>
<% add_breadcrumb "Trips", trips_path %>
<% add_breadcrumb @trip.name, trip_path(@trip) %>
<% add_breadcrumb "Section #{@section}", show_section_path(@trip, @section) %>

<% if @flights.count > 1 && @layover_ratio %>
<div id="title-info">
  <%= link_to "Layover Ratio", "https://onehundredairports.com/2019/02/07/my-worst-layovers/", target: :_blank %>: <%= @layover_ratio.round(3) %>
</div>
<% end %>

<h1><%= @trip.name %> (Section <%= @section %>)</h1>

<p class="center">Part of the <%= link_to(@trip.name, @trip, class: "bold", title: "View trip details for #{@trip.name}") %> trip.</p>

<%= @map.gcmap %>
<%= render partial: "routes/distance_block", locals: {distance: @section_distance, adjective: "section"} %>

<table class="flightlog">
<%= render :partial => "flights/flight_header_row" %>
<%= render :partial => "flights/flight_row", :collection => @flights, :as => :flight %>
<%= render :partial => "flights/flight_total_row" %>
</table>