<h1><%= @trip.name %></h1>

<% if @trip.comment %>
<p><%= @trip.comment %></p>
<% end %>

<%= @map.draw %>
<%= distance_block(@trip_distance, adjective: "total") %>

<table class="flightlog">
  <tr class="th">
    <th class="flight_section">Section</td>
    <th class="flight_flight">Flight</td>
    <th class="flight_route">Route</td>
    <th class="flight_date">Departure</td>
  </tr>
<% previous_section = nil %>
<% @flights.each_with_index do |flight, index| %>
  
<% if flight.trip_section != previous_section %>
	<tr>
    <td rowspan="<%= @section_count[flight.trip_section] %>" class="flight_section">
      <%= link_to("Section #{flight.trip_section}", show_section_path(flight.trip_id, flight.trip_section), :class => 'bold') %><% if @section_count[flight.trip_section] > 1 %><br /><span class="flight_section_route"><%= flight.origin_iata_code %> – <%= @section_final_destination[flight.trip_section] %></span><% end %>
    </td>
<% else %>
	<tr class="no_top_border">
<% end %>
    <td class="flight_flight"><%= "<div class=\"hidden_marker\">Hidden</div>".html_safe if flight.hidden %><%= link_to(image_tag(airline_icon_path(flight.iata_airline_code), alt: flight.iata_airline_code, class: 'airline_icon') + flight.airline_name + " " + flight.flight_number.to_s, flight_path(flight), title: "View flight details for #{flight.airline_name} #{flight.flight_number.to_s}") %></td>
    <td class="flight_route"><%= link_to(iata_mono(flight.origin_iata_code), airport_path(flight.origin_iata_code), :title => "View airport details for " + flight.origin_city) %> &ndash; <%= link_to(iata_mono(flight.destination_iata_code), airport_path(flight.destination_iata_code), :title => "View airport details for " + flight.destination_city) %></td>
    <td class="flight_date"><%= format_date(flight.departure_date) %></td>
  </tr>
  <% previous_section = flight.trip_section %>
<% end %>
  <tr><td colspan="4" class="flightlog_total"><%= render :partial => "flights/flight_total_row_cell" %></td></tr>
</table>