<% if @trip.hidden %>
<div class="hidden_trip">This trip is hidden!</div>
<% end %>
<h1><%= @title %></h1>

<p class="center">Part of the <%= link_to(@trip.name, @trip, :class => 'bold') %> trip.</p>

<%= gcmap_embed(route_string(@flights)) %>

<%= distance_block(@section_distance, 'section') %>

<table class="flightlog">
<%= render :partial => "flights/flight_header_row" %>
<%= render :partial => "flights/flight_row", :collection => @flights, :as => :flight %>
<%= render :partial => "flights/flight_total_row" %>
</table>