<% provide(:title, "Section #{@section} – #{@trip.name}") %>
<% provide(:meta_description, "Maps and lists of flights on section #{@section} of Paul Bogardʼs #{@trip.name} trip.") %>
<% add_breadcrumb "Trips", trips_path %>
<% add_breadcrumb @trip.name, trip_path(@trip) %>
<% add_breadcrumb "Section #{@section}", show_section_path(@trip, @section) %>

<h1><%= @trip.name %> (Section <%= @section %>)</h1>

<%= render(partial: "layouts/summary", locals: {summary_items: @summary_items}) %>

<%= render(partial: "layouts/map", locals: {map: @maps[:trip_section_map], distance: {miles: @section_distance, adjective: "section"}}) %>

<%= render partial: "flights/flight_table", locals: {flights: @flights, is_summary: true} %>