<h2>Boarding Pass Data</h2>

<h3>Raw</h3>

<%= render 'bcbp_raw', boarding_pass: boarding_pass %>

<% if boarding_pass.is_valid? %>

  <h3>Passenger Unique Data</h3>
  <table class="flightlog">
  
    <% if boarding_pass.document_type.present? %>
    <tr>
      <td class="flight_show_label bcbp_label">Document Type</td>
      <td class="bcbp_data"><%= boarding_pass.document_type %></td>
    </tr>  
    <% end %>
  
    <% if boarding_pass.format_version.present? %>
    <tr>
      <td class="flight_show_label bcbp_label">Format</td>
      <td class="bcbp_data"><%= boarding_pass.format_version %></td>
    </tr>
    <% end %>
  
    <% if boarding_pass.passenger_name.present? %>
    <tr>
      <td class="flight_show_label bcbp_label">Passenger Name</td>
      <td class="bcbp_data"><%= boarding_pass.passenger_name %></td>
    </tr>
    <% end %>
  
    <% if boarding_pass.passenger_description.present? %>
    <tr>
      <td class="flight_show_label bcbp_label">Passenger Description</td>
      <td class="bcbp_data"><%= boarding_pass.passenger_description %></td>
    </tr>
    <% end %>
  
    <% if boarding_pass.electronic_ticket.present? %>
    <tr>
      <td class="flight_show_label bcbp_label">Electronic Ticket?</td>
      <td class="bcbp_data"><%= boarding_pass.electronic_ticket %></td>
    </tr>
    <% end %>
  
    <% if boarding_pass.source_of_check_in.present? %>
    <tr>
      <td class="flight_show_label bcbp_label">Source of Check-In</td>
      <td class="bcbp_data"><%= boarding_pass.source_of_check_in %></td>
    </tr>
    <% end %>
  
    <% if boarding_pass.source_of_boarding_pass_issuance.present? %>
    <tr>
      <td class="flight_show_label bcbp_label">Source of Boarding Pass Issuance</td>
      <td class="bcbp_data"><%= boarding_pass.source_of_boarding_pass_issuance %></td>
    </tr>
    <% end %>
  
    <% if boarding_pass.date_of_issue_of_boarding_pass.present? %>
    <tr>
      <td class="flight_show_label bcbp_label">Date of Issue of Boarding Pass</td>
      <td class="bcbp_data"><%= format_date(boarding_pass.date_of_issue_of_boarding_pass) %></td>
    </tr>
    <% end %>
  
    <% if boarding_pass.airline_designator_of_boarding_pass_issuer.present? %>
    <tr>
      <td class="flight_show_label bcbp_label">Boarding Pass Issuer</td>
      <td class="bcbp_data">
        <%= display_airline_by_code(boarding_pass.airline_designator_of_boarding_pass_issuer) %>
      </td>
    </tr>
    <% end %>
  
    <% if boarding_pass.baggage_tag_licence_plate_number.present? %>
    <tr>
      <td class="flight_show_label bcbp_label">Baggage Tag</td>
      <td class="bcbp_data">
        <%= boarding_pass.baggage_tag_licence_plate_number %>
      </td>
    </tr>
    <% end %>
    
    <% if boarding_pass.bcbp_version && boarding_pass.bcbp_version >= 5 %>
      <% if boarding_pass.first_non_consecutive_baggage_tag_licence_number.present? %>
      <tr>
        <td class="flight_show_label bcbp_label">1st Non-Consecutive Baggage Tag</td>
        <td class="bcbp_data">
          <%= boarding_pass.first_non_consecutive_baggage_tag_licence_number %>
        </td>
      </tr>
      <% end %>
      
      <% if boarding_pass.second_non_consecutive_baggage_tag_licence_number.present? %>
      <tr>
        <td class="flight_show_label bcbp_label">2nd Non-Consecutive Baggage Tag</td>
        <td class="bcbp_data">
          <%= boarding_pass.second_non_consecutive_baggage_tag_licence_number %>
        </td>
      </tr>
      <% end %>
    <% end %>
  
    <% if boarding_pass.security.present? %>
    <tr>
      <td class="flight_show_label bcbp_label">Security</td>
      <td class="bcbp_data">
        <div class="bcbp_code"><code><%= boarding_pass.security %></code></div>
      </td>
    </tr>
    <% end %>
    
  </table>

  <% boarding_pass.legs.each_with_index do |leg_data, index| %>
    <h3>Leg <%= index+1 %></h3>
    <table class="flightlog">
  
      <% if boarding_pass.leg_operating_carrier_pnr_code(index).present? %>
      <tr>
        <td class="flight_show_label bcbp_label">Record Locator</td>
        <td class="bcbp_data"><%= iata_mono(boarding_pass.leg_operating_carrier_pnr_code(index)) %></td>
      </tr>
      <% end %>
    
      <% if boarding_pass.leg_date_of_flight(index).present? %>
      <tr>
        <td class="flight_show_label bcbp_label">Date of Flight</td>
        <td class="bcbp_data"><%= format_date(boarding_pass.leg_date_of_flight(index)) %></td>
      </tr>
      <% end %>
    
      <% if boarding_pass.leg_operating_carrier_designator(index).present? %>
      <tr>
        <td class="flight_show_label bcbp_label">Operating Carrier</td>
        <td class="bcbp_data">
          <%= display_airline_by_code(boarding_pass.leg_operating_carrier_designator(index)) %>
        </td>
      </tr>
      <% end %>
    
      <% if boarding_pass.leg_flight_number(index).present? %>
      <tr>
        <td class="flight_show_label bcbp_label">Flight Number</td>
        <td class="bcbp_data"><%= boarding_pass.leg_flight_number(index) %></td>
      </tr>
      <% end %>
    
      <% if boarding_pass.leg_from_city_airport_code(index).present? %>
      <tr>
        <td class="flight_show_label bcbp_label">From</td>
        <td class="bcbp_data">
          <%= display_airport_by_code(boarding_pass.leg_from_city_airport_code(index)) %>
        </td>
      </tr>
      <% end %>  
    
      <% if boarding_pass.leg_to_city_airport_code(index).present? %>
      <tr>
        <td class="flight_show_label bcbp_label">To</td>
        <td class="bcbp_data">
          <%= display_airport_by_code(boarding_pass.leg_to_city_airport_code(index)) %>
        </td>
      </tr>
      <% end %>
    
      <% if boarding_pass.leg_compartment_code(index).present? %>
      <tr>
        <td class="flight_show_label bcbp_label">Compartment Code</td>
        <td class="bcbp_data"><%= boarding_pass.leg_compartment_code(index) %></td>
      </tr>
      <% end %>
    
      <% if boarding_pass.leg_seat_number(index).present? %>
      <tr>
        <td class="flight_show_label bcbp_label">Seat Number</td>
        <td class="bcbp_data"><%= boarding_pass.leg_seat_number(index) %></td>
      </tr>
      <% end %>
    
      <% if boarding_pass.leg_check_in_sequence_number(index).present? %>
      <tr>
        <td class="flight_show_label bcbp_label">Check-In Sequence Number</td>
        <td class="bcbp_data"><%= boarding_pass.leg_check_in_sequence_number(index) %></td>
      </tr>
      <% end %>
      
      <% if boarding_pass.leg_passenger_status(index).present? %>
      <tr>
        <td class="flight_show_label bcbp_label">Passenger Status</td>
        <td class="bcbp_data"><%= boarding_pass.leg_passenger_status(index) %></td>
      </tr>
      <% end %>
    
      <% if boarding_pass.leg_airline_numeric_code(index).present? %>
      <tr>
        <td class="flight_show_label bcbp_label">Airline Numeric Code</td>
        <td class="bcbp_data"><%= iata_mono(boarding_pass.leg_airline_numeric_code(index)) %></td>
      </tr>
      <% end %>
    
      <% if boarding_pass.leg_document_form_serial_number(index).present? %>
      <tr>
        <td class="flight_show_label bcbp_label">Ticket Number</td>
        <td class="bcbp_data"><%= iata_mono(boarding_pass.leg_document_form_serial_number(index)) %></td>
      </tr>
      <% end %>
    
      <% if boarding_pass.leg_selectee_indicator(index).present? %>
      <tr>
        <td class="flight_show_label bcbp_label">Selectee Indicator</td>
        <td class="bcbp_data">
          <%= boarding_pass.leg_selectee_indicator(index) %>
          <% case boarding_pass.leg_selectee_indicator(index) %>
          <% when "LLLL" %>
            <div class="supplemental_info"><%= image_tag('tpc.png', title: 'TSA PreCheck', class: 'airline_icon icon_right') %></div>
          <% when "SSSS" %>
            <div class="supplemental_info">Secondary Security<br/>Screening Selectee</div>
          <% end %>
        </td>
      </tr>
      <% end %>
    
      <% if boarding_pass.leg_international_documentation_verification(index).present? %>
      <tr>
        <td class="flight_show_label bcbp_label">International Documentation Verification</td>
        <td class="bcbp_data"><%= boarding_pass.leg_international_documentation_verification(index) %></td>
      </tr>
      <% end %>
    
      <% if boarding_pass.leg_marketing_carrier_designator(index).present? %>
      <tr>
        <td class="flight_show_label bcbp_label">Marketing Carrier</td>
        <td class="bcbp_data">
          <%= display_airline_by_code(boarding_pass.leg_marketing_carrier_designator(index)) %>
        </td>
      </tr>
      <% end %>
    
      <% if boarding_pass.leg_frequent_flier_airline_designator(index).present? %>
      <tr>
        <td class="flight_show_label bcbp_label">Frequent Flier Airline</td>
        <td class="bcbp_data">
          <%= display_airline_by_code(boarding_pass.leg_frequent_flier_airline_designator(index)) %>
        </td>
      </tr>
      <% end %>
    
      <% if boarding_pass.leg_frequent_flier_number(index).present? %>
      <tr>
        <td class="flight_show_label bcbp_label">Frequent Flier Number</td>
        <td class="bcbp_data"><%= iata_mono(boarding_pass.leg_frequent_flier_number(index)) %></td>
      </tr>
      <% end %>
    
      <% if boarding_pass.leg_id_ad_indicator(index).present? %>
      <tr>
        <td class="flight_show_label bcbp_label">Industry Discount</td>
        <td class="bcbp_data"><%= boarding_pass.leg_id_ad_indicator(index) %></td>
      </tr>
      <% end %>
    
      <% if boarding_pass.leg_free_baggage_allowance(index).present? %>
      <tr>
        <td class="flight_show_label bcbp_label">Free Baggage Allowance</td>
        <td class="bcbp_data"><%= boarding_pass.leg_free_baggage_allowance(index) %></td>
      </tr>
      <% end %>
      
      <% if boarding_pass.bcbp_version && boarding_pass.bcbp_version >= 5 && boarding_pass.leg_fast_track(index).present? %>
      <tr>
        <td class="flight_show_label bcbp_label">Fast Track</td>
        <td class="bcbp_data"><%= boarding_pass.leg_fast_track(index) %></td>
      </tr>
      <% end %>
    
      <% if boarding_pass.leg_for_individual_airline_use(index).present? %>
      <tr>
        <td class="flight_show_label bcbp_label">For Individual Airline Use</td>
        <td class="bcbp_data">
          <div class="bcbp_code"><code><%= iata_mono(boarding_pass.leg_for_individual_airline_use(index)) %></code></div>
        </td>
      </tr>
      <% end %>
    
    </table>
  
  <% end %>

<% else %>
<div class="error">
  <p>This boarding pass data doesn’t meet the BCBP standard, so we can’t parse it!</p>
  <ul>
    <li>Whitespace is important in the BCBP standard; ensure that your barcode reader isn’t removing extra spaces or adding extra line breaks.</li>
  </ul>
</div>
<% end %>