<% if group_fields %>
<div class="boarding-pass-fields">
  <table class="flightlog">
    <% group_fields.each do |k, v| %>
    <tr<%= {true => "", false => %Q( class="invalid").html_safe, nil => %Q( class="unknown").html_safe}[v[:valid]] %>>
      <td class="description label"><%= v[:description] %></td>
      <td class="data">
        <div class="raw-data"><code><% v[:raw].split('').each do |char| %><span><%= char.gsub(" ", " ").gsub(/\s/, "▓") %></span><% end %></code></div>
        <% if v[:valid] == false %>
          <div class="interpreted-data">This is not the right type of data for this field.</div>
        <% elsif v[:interpretation] %>
          <div class="interpreted-data">
            <% if v[:type] %>
              <div class="interpreted-icon"><%= display_icon(v[:type], v[:raw], v[:interpretation]) %></div>
            <% end %>
            <%= v[:interpretation] %>
          </div>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
<% end %>