<% known_classes, unknown_classes = classes.partition{|tc| tc[:class_code].present?} %>

<% if known_classes.any? %>
  <% new_classes ||= Array.new %>
  <% legend_range ||= "this date range" %>
  
  <table class="flightlog">
    <thead>
      <tr>
    		<th class="counter">#</th>
    		<th class="class-quality"><%= is_summary ? "Quality" : sort_link("Quality", :quality, :desc) %></th>
        <th class="class-class">Travel Class</th>
        <th class="class-flights"><%= is_summary ? "Flights" : sort_link("Flights", :flights, :desc) %></th>
      </tr>
    </thead>
    <tbody>
      <% previous_count = nil %>

      <% class_maximum = known_classes.max_by{|i| i[:flight_count]}[:flight_count]%>
      <% known_classes.each_with_index do |tc, index| %>
        <%= content_tag(:tr, class: (new_classes.include?(tc[:class_code]) ? "new" : nil)) do %>
          <td class="counter"><%= ((is_summary || @sort[0] == :flights) && tc[:flight_count] == previous_count) ? "⋮" : index + 1 %></td>
          <td class="class-quality"><%= quality_stars(TravelClass.list[tc[:class_code]][:quality]) %></td>
          <td class="class-class"><%= link_to(TravelClass.list[tc[:class_code]][:name], show_class_path(tc[:class_code]), :title => "View #{TravelClass.list[tc[:class_code]][:name].downcase} class flights") %><% if new_classes.include?(tc[:class_code]) %>*<% end %><br><span class="class-description"><%= TravelClass.list[tc[:class_code]][:description] %></span></td>
      		<td class="class-flights"><%= render "flights/graph_block", value: tc[:flight_count], maximum: class_maximum %></td>
        <% end %>
      	<% previous_count = tc[:flight_count] %>
      <% end %>

    </tbody>

  </table>

  <% if (known_classes.map{|af| af[:class_code]} & new_classes).any? %>
    <p class="new-legend">* Class first flown in <%= legend_range %></p>
  <% end %>
  
  <% unknown_class_flights = unknown_classes.any? ? unknown_classes.first[:flight_count] : 0 %>
  <% if unknown_class_flights > 1 %>
    <p class="center"><%= unknown_class_flights %> flights with unknown classes are not included in this table.</p>
  <% elsif unknown_class_flights == 1 %> 
    <p class="center">1 flight with an unknown class is not included in this table.</p>
  <% end %>
  

 
  
<% end %>
