<table class="flightlog" id="flight-table">
  <tr>
    <th class="counter">#</th>
    <th class="flight-flight">Flight</td>
    <th class="flight-route">Route</td>
    <th class="flight-date"><%= is_summary ? "Departure" : sort_link("Departure", :departure, :asc, "flight-list") %></th>
  </tr>

  <% flights.each_with_index do |flight, index| %>
    <% row_class = (index > 0 && flights[index-1].trip_id == flight.trip_id && flights[index-1].trip_section == flight.trip_section) ? "no-top-border" : "" %>
    <tr id="flight-row-<%= flight.id %>" class="<%= row_class %>">
	
      <td class="counter"><%= (@sort == [:departure, :desc]) ? flights.length - index : index + 1 %></td>
      
      <td class="flight-flight"><%= Trip::HIDDEN_MARKER if flight.trip.hidden %><%= link_to(airline_icon(flight.airline.slug, title: "View flight details for #{flight.airline.airline_name} #{flight.flight_number.to_s}") + "#{flight.airline.airline_name} #{flight.flight_number.to_s}", flight_path(flight), title: "View flight details for #{flight.airline.airline_name} #{flight.flight_number.to_s}") %></td>
      <td class="flight-route">
        <%= (params[:controller] == "airports" && params[:action] == "show" && @airport.id == flight.origin_airport_id) ? code_mono(flight.origin_airport.iata_code) : link_to(code_mono(flight.origin_airport.iata_code), airport_path(flight.origin_airport.slug), title: "View airport details for #{flight.origin_airport.city}") %> <%= Route::ARROW_ONE_WAY_HTML %> <%= (params[:controller] == "airports" && params[:action] == "show" && @airport.id == flight.destination_airport_id) ? code_mono(flight.destination_airport.iata_code) : link_to(code_mono(flight.destination_airport.iata_code), airport_path(flight.destination_airport.slug), title: "View airport details for #{flight.destination_airport.city}") %>
      </td>
      <td class="flight-date"><%= format_date(flight.departure_date) %></td>
      
    </tr>
  <% end %>

  <%= flight_table_total_row(flights) %>
</table>