<% if flight.trip_section == @previous_section && flight.trip_id == @previous_trip %>
	<% @tr_style = "no_top_border" %>
<% else %>
	<% @tr_style = "" %>
<% end %>


<tr class="<%= @tr_style %>">
	
  <td class="counter"><%= (@sort_cat == :departure && @sort_dir == :desc) ? @flights.length - flight_counter : flight_counter + 1 %></td>
	
	<td class="flight_flight<%= @top_row_style %>"><%= "<div class=\"hidden_marker\">Hidden</div>".html_safe if flight.hidden %><%= link_to(image_tag(airline_icon_path(flight.iata_airline_code), :title => flight.airline_name, :alt => flight.iata_airline_code, :class => 'airline_icon') + flight.airline_name + " " + flight.flight_number.to_s, flight_path(flight), :title => "View flight details for " + flight.airline_name + " " + flight.flight_number.to_s) %></td>
	<td class="flight_route<%= @top_row_style %>">
		<%= (params[:controller] == "airports" && params[:action] == "show" && @airport.id == flight.origin_airport_id) ? code_mono(flight.origin_iata_code) : link_to(code_mono(flight.origin_iata_code), airport_path(flight.origin_iata_code), :title => "View airport details for " + flight.origin_city) %> &ndash; <%= (params[:controller] == "airports" && params[:action] == "show" && @airport.id == flight.destination_airport_id) ? code_mono(flight.destination_iata_code) : link_to(code_mono(flight.destination_iata_code), airport_path(flight.destination_iata_code), :title => "View airport details for " + flight.destination_city) %>
	</td>
	<td class="flight_date<%= @top_row_style %>"><%= format_date(flight.departure_date) %></td>
	
</tr>
<% @previous_trip = flight.trip_id %>
<% @previous_section = flight.trip_section %>

