<% if @year_range %>
	<p>
	<%= (params[:year].present? || (params[:start_date].present? && params[:end_date].present?)) ? link_to("All Dates", flights_path, :title => "Show all flights") : "<span class=\"bold\">All Dates</span>".html_safe %>
	&ensp;
	<% if (params[:start_date].present? && params[:end_date].present?) %>
	  <span class="bold"><%= format_date(params[:start_date].to_date) %> &dash; <%= format_date(params[:end_date].to_date) %></span>
	<% else %>
	  <% (@year_range).each do |i| %>
	    <% if (i == params[:year].to_i) %>
	      <span class="bold"><%= i %></span>
	    <% elsif @years_with_flights[i] %>
	      <%= link_to(i, show_year_path(i), :title => "Only show flights from #{i}" ) %>
	    <% else %>
	      <span class="disabled" title="There are no flights in <%= i %>"><%= i %></span>
	    <% end %>
	    &ensp;
	  <% end %>
	<% end %>
	</p>
<% end %>