<% sym_base = [type,index].join("_") %>
<% if iata_code || icao_code %>
  <h2>New <%= type.to_s.capitalize %></h2>
  <p>
    <%= label_tag (sym_base+"_iata").to_sym, "IATA" %> / <%= label_tag (sym_base+"_name").to_sym, "Name" %><br />
    <%= text_field_tag (sym_base+"_iata").to_sym, iata_code, size: 3, readonly: iata_code.present? %> <%= text_field_tag (sym_base+"_name").to_sym %>
  </p>
  <% if type == :airport %>
    <p>
      <%= label_tag (sym_base+"_country").to_sym, "Country" %><br />
      <%= text_field_tag (sym_base+"_country").to_sym %>
    </p>
    <p>
      <%= check_box_tag (sym_base+"_region_conus").to_sym %> <%= label_tag (sym_base+"_region_conus").to_sym, "CONUS" %>
    </p>
  <% end %>
  <% if type == :airline %>
    <p>
      <%= label_tag (sym_base+"_icao_code").to_sym, "ICAO code" %><br />
      <%= text_field_tag (sym_base+"_icao_code").to_sym, icao_code, size: 3, maxlength: 3, readonly: icao_code.present? %>
    </p>
    <p>
      <%= label_tag (sym_base+"_numeric_code").to_sym, "Numeric code (include leading zeroes)" %><br />
      <%= text_field_tag (sym_base+"_numeric_code").to_sym, nil, size: 3, maxlength: 3 %>
    </p>
  <% end %>
  <%= hidden_field_tag("type_#{index}", type) %>
<% end %>