<% sym_base = [type,index].join("_") %>
<% if iata_code || icao_code %>
  <h2>New <%= type.to_s.capitalize %></h2>
  
  <% if type == :airport %>
    <p>
      <%= label_tag (sym_base+"_iata").to_sym, "IATA Code" %><br />
      <%= text_field_tag (sym_base+"_iata").to_sym, iata_code, size: 3, readonly: iata_code.present?, class: "all-caps" %> 
    </p>
    <p>
      <%= label_tag (sym_base+"_icao").to_sym, "ICAO Code" %><br />
      <%= text_field_tag (sym_base+"_icao").to_sym, icao_code, size: 4, readonly: icao_code.present?, class: "all-caps" %> 
    </p>
    <p>
      <%= label_tag (sym_base+"_name").to_sym, "Airport City (Name)" %><br />
      <%= text_field_tag (sym_base+"_name").to_sym %>
    </p>
    <p>
      <%= label_tag (sym_base+"_country").to_sym, "Country" %><br />
      <%= text_field_tag (sym_base+"_country").to_sym %>
    </p>
    <p>
      <%= check_box_tag (sym_base+"_region_conus").to_sym %> <%= label_tag (sym_base+"_region_conus").to_sym, "CONUS" %>
    </p>
  <% end %>
  <% if type == :airline %>
    <p>
      <%= label_tag (sym_base+"_iata").to_sym, "IATA Code" %><br />
      <%= text_field_tag (sym_base+"_iata").to_sym, iata_code, size: 3, readonly: iata_code.present? %> 
    </p>
    <p>
      <%= label_tag (sym_base+"_icao_code").to_sym, "ICAO code" %><br />
      <%= text_field_tag (sym_base+"_icao_code").to_sym, icao_code, size: 4, maxlength: 4, readonly: icao_code.present?, class: "all-caps" %>
    </p>
    <p>
      <%= label_tag (sym_base+"_name").to_sym, "Airline Name" %><br />
      <%= text_field_tag (sym_base+"_name").to_sym %>
    </p>
    <p>
      <%= label_tag (sym_base+"_numeric_code").to_sym, "Numeric code (include leading zeroes)" %><br />
      <%= text_field_tag (sym_base+"_numeric_code").to_sym, nil, size: 3, maxlength: 3 %>
    </p>
  <% end %>
  <%= hidden_field_tag("type_#{index}", type) %>
  <% if type == :aircraft %>
    <p>
      <%= label_tag (sym_base+"_iata").to_sym, "IATA Code" %><br />
      <%= text_field_tag (sym_base+"_iata").to_sym, iata_code, size: 3, maxlength: 3, class: "all-caps" %> 
    </p>
    <p>
      <%= label_tag (sym_base+"_icao_code").to_sym, "ICAO code" %><br />
      <%= text_field_tag (sym_base+"_icao").to_sym, icao_code, size: 4, maxlength: 4, class: "all-caps" %>
    </p>
    <p>
      <%= label_tag (sym_base+"_name").to_sym, "Aircraft Type" %><br />
      <%= text_field_tag (sym_base+"_name").to_sym %>
    </p>
    <p>
      <%= label_tag (sym_base+"_family").to_sym, "Family" %><br />
      <%= select_tag((sym_base+"_family").to_sym, options_for_select(AircraftFamily.family_select_options)) %> or <%= link_to("add new family", new_aircraft_family_path, target: :_blank) %>
    </p>
  <% end %>
<% end %>