<% fields ||= Hash.new %>

<%= form_for(flight) do |f| %>
  <%= render "error_messages" %>

  <p>Trip: <strong><%= flight.trip.name %></strong></p>

  <p>
    <%= f.label :trip_section, "Trip Section" %><br />
    <% if @default_trip_section %>
      <%= f.telephone_field(:trip_section, :size => 1, value: @default_trip_section, class: "autopopulated") %>
    <% else %>
      <%= f.telephone_field(:trip_section, :size => 1) %>
    <% end %>
  </p>

  <p>
    <%= f.label :origin_airport_id, "Origin" %> &rarr; <%= f.label :destination_airport_id, "Destination" %><br />
    
    <% if fields[:origin_airport_id] %>
      <%= f.collection_select(:origin_airport_id, Airport.order(:iata_code), :id, :iata_code, {include_blank: true, selected: fields[:origin_airport_id]}, class: "autopopulated") %>
    <% elsif flight.errors.any? || params[:id] || Flight.chronological.empty? %>
      <%= f.collection_select(:origin_airport_id, Airport.order(:iata_code), :id, :iata_code, {include_blank: true}) %>
    <% else %>
      <%= f.collection_select(:origin_airport_id, Airport.order(:iata_code), :id, :iata_code, {include_blank: true, selected: Flight.chronological.last.destination_airport_id}, class: "autopopulated") %>    
    <% end %>  
    &rarr;
    <% if fields[:destination_airport_id] %>
      <%= f.collection_select(:destination_airport_id, Airport.order(:iata_code), :id, :iata_code, {include_blank: true, selected: fields[:destination_airport_id]}, class: "autopopulated") %>
    <% else %>
      <%= f.collection_select(:destination_airport_id, Airport.order(:iata_code), :id, :iata_code, {include_blank: true}) %>
    <% end %>
  </p>

  <p>
    <%= f.label :departure_date, "Departure Date (Local)" %><br />
    <% if fields[:departure_date] %>
      <%= f.date_select(:departure_date, {start_year: 2000, selected: fields[:departure_date]}, class: "autopopulated") %>
    <% else %>
      <%= f.date_select(:departure_date, {start_year: 2000}) %>
    <% end %>
  </p>

  <p>
    <%= f.label :departure_utc, "UTC Departure (for sorting flights)" %> &mdash; Current time: <strong><%= Time.now.utc %></strong><br />
    <% if fields[:departure_utc] %>
      <%= f.datetime_select(:departure_utc, {start_year: 2000, selected: fields[:departure_utc]}, class: "autopopulated") %>
    <% else %>
      <%= f.datetime_select(:departure_utc, {start_year: 2000, minute_step: 5}) %>
    <% end %>UTC
  </p>

  <p>
    <%= f.label :airline_id %> / <%= f.label :flight_number, "Flight Number" %><br />
    <% if fields[:airline_id] %>
      <%= f.collection_select(:airline_id, Airline.order("LOWER(airline_name)"), :id, :format_name, {include_blank: true, :selected => fields[:airline_id]}, :class => "autopopulated") %>
    <% else %>
      <%= f.collection_select(:airline_id, Airline.where(is_only_operator: false).order("LOWER(airline_name)"), :id, :format_name, {include_blank: true}) %>
    <% end %>
    
    <% if fields[:flight_number] %>
      <%= f.text_field(:flight_number, :size => 6, :value => fields[:flight_number], class: "autopopulated") %>
    <% else %>
      <%= f.text_field(:flight_number, :size => 6) %>
    <% end %>
  </p>

  <p>
    <%= f.label :codeshare_airline_id, "Codeshare Airline" %> / <%= f.label :codeshare_flight_number, "Codeshare Flight Number" %><br />
    <% if fields[:codeshare_airline_id] %>
      <%= f.collection_select(:codeshare_airline_id, Airline.order("LOWER(airline_name)"), :id, :format_name, {:include_blank => true, :selected => fields[:codeshare_airline_id]}, class: "autopopulated") %>
    <% else %>
      <%= f.collection_select(:codeshare_airline_id, Airline.where(is_only_operator: false).order("LOWER(airline_name)"), :id, :format_name, {:include_blank => true}) %>
    <% end %>
    <% if fields[:codeshare_flight_number] %>
      <%= f.text_field :codeshare_flight_number, value: fields[:codeshare_flight_number], size: 6, class: "autopopulated" %>
    <% else %>
      <%= f.text_field :codeshare_flight_number, size: 6 %>
    <% end %>
  </p>

  <p>
    <%= f.label :aircraft_family_id, "Aircraft Family/Type" %><br />
    <% if fields[:aircraft_family_id] %>
      <%= f.select(:aircraft_family_id, grouped_options_for_select(AircraftFamily.grouped_types, fields[:aircraft_family_id]), {include_blank: true}, class: "autopopulated") %>
    <% else %>
      <%= f.select(:aircraft_family_id, grouped_options_for_select(AircraftFamily.grouped_types, flight.aircraft_family_id), {include_blank: true}) %>
    <% end %>
  </p>

  <p>
    <%= f.label :tail_number, "Tail Number" %> / <%= f.label :aircraft_name %><br />
    <% if fields[:tail_number] %>
      <%= f.text_field :tail_number, size: 10, value: fields[:tail_number], class: "autopopulated all-caps" %>
    <% else %>
      <%= f.text_field :tail_number, size: 10, class: "all-caps" %>
    <% end %>
    <%= f.text_field :aircraft_name %>
  </p>

  <p>
    <%= f.label :operator_id, "Operator" %> / <%= f.label :fleet_number, "Fleet Number" %><br />
    <% if fields[:operator_id] %>
      <%= f.collection_select(:operator_id, Airline.order("LOWER(airline_name)"), :id, :format_name, {include_blank: true, selected: fields[:operator_id]}, class: "autopopulated") %>
    <% else %>
      <%= f.collection_select(:operator_id, Airline.order("LOWER(airline_name)"), :id, :format_name, {include_blank: true}) %>
    <% end %>
    <%= f.text_field :fleet_number, :size => 8 %>
  </p>

  <p>
    <%= f.label :travel_class, "Travel Class" %><br />
    <% if fields[:travel_class] %>
      <%= f.select(:travel_class, options_for_select(TravelClass.list.invert, fields[:travel_class]), {include_blank: true}, class: "autopopulated") %>
    <% else %>
      <%= f.select(:travel_class, options_for_select(TravelClass.list.invert, flight.travel_class), include_blank: true) %>
    <% end %>
  </p>

  <p>
    <%= f.label :comment %><br />
    <%= f.text_field :comment, :size => 60 %>
  </p>

  <p>
  	<%= f.label :boarding_pass_data %><br />
  	<% if fields[:boarding_pass_data] %>
      <%= f.text_area :boarding_pass_data, size: "60x5", class: "code-mono autopopulated", value: fields[:boarding_pass_data] %>
    <% else %>
      <%= f.text_area :boarding_pass_data, size: "60x5", class: "code-mono" %>
    <% end %>
  </p>

  <%= f.hidden_field(:trip_id, :value => flight.trip.id) %>
  <%= f.hidden_field(:pass_id, :value => params[:pass_id]) if params[:pass_id] %>
  <%= f.hidden_field(:pass_serial_number, :value => @pass.serial_number) if @pass %>

  <p>
    <%= f.submit yield(:button_text) %>
  </p>
<% end %>