<% defaults ||= Hash.new %>

<%= form_for(flight) do |f| %>
  <%= render 'error_messages' %>

  <p>Trip: <strong><%= flight.trip.name %></strong></p>

  <p>
    <%= f.label :trip_section, "Trip Section" %><br />
    <%= f.telephone_field :trip_section, :size => 2 %>
  </p>

  <p>
    <%= f.label :origin_airport_id, "Origin" %> &rarr; <%= f.label :destination_airport_id, "Destination" %><br />
      
    <%= f.collection_select(:origin_airport_id, Airport.order(:iata_code), :id, :iata_code,
    {include_blank: true, selected: (defaults[:origin_airport_id] ? defaults[:origin_airport_id] : (flight.errors.any? || params[:id] || Flight.chronological.empty? ? nil : Flight.chronological.last.destination_airport_id))}.reject{|k,v| v.nil?},
    class: ["iata_mono",form_highlight(flight.origin_airport&.id, defaults[:origin_airport_id])].compact.join(" ")
    )%>
    &rarr; 
    <%= f.collection_select(:destination_airport_id, Airport.order(:iata_code), :id, :iata_code,
    {include_blank: true, selected: defaults[:destination_airport_id]}.reject{|k,v| v.nil?},
    class: ["iata_mono",form_highlight(flight.destination_airport&.id, defaults[:destination_airport_id])].compact.join(" ")
    )%>
  </p>

  <p>
    <%= f.label :departure_date, "Departure Date (Local)" %><br />
    <% if defaults[:departure_date] %>
      <%= f.date_select(:departure_date, {start_year: 2000, selected: defaults[:departure_date]}, class: form_highlight(flight.departure_date, defaults[:departure_date])) %>
    <% else %>
      <%= f.date_select(:departure_date, {start_year: 2000}) %>
    <% end %>
  </p>

  <p>
    <%= f.label :departure_utc, "UTC Departure (for sorting flights)" %> &mdash; Current time: <strong><%= Time.now.utc %></strong><br />
    <% if defaults[:departure_utc] %>
      <%= f.datetime_select(:departure_utc, {start_year: 2000, selected: defaults[:departure_utc]}, class: form_highlight(flight.departure_utc, defaults[:departure_utc])) %>
    <% else %>
      <%= f.datetime_select(:departure_utc, {start_year: 2000, minute_step: 5}) %>
    <% end %>
  </p>

  <p>
    <%= f.label :airline_id %> / <%= f.label :flight_number, "Flight Number" %><br />
    <% if defaults[:airline_id] %>
      <%= f.collection_select(:airline_id, Airline.order("LOWER(airline_name)"), :id, :format_name, {include_blank: true, :selected => defaults[:airline_id]}, :class => form_highlight(flight.airline&.id, defaults[:airline_id])) %>
    <% else %>
      <%= f.collection_select(:airline_id, Airline.where(is_only_operator: false).order("LOWER(airline_name)"), :id, :format_name, {include_blank: true}) %>
    <% end %>
    
    <% if defaults[:flight_number] %>
      <%= f.text_field(:flight_number, :size => 6, :value => defaults[:flight_number], class: form_highlight(flight.flight_number, defaults[:flight_number])) %>
    <% else %>
      <%= f.text_field(:flight_number, :size => 6) %>
    <% end %>
  </p>

  <p>
    <%= f.label :codeshare_airline_id, "Codeshare Airline" %> / <%= f.label :codeshare_flight_number, "Codeshare Flight Number" %><br />
    <% if defaults[:codeshare_airline_id] %>
      <%= f.collection_select(:codeshare_airline_id, Airline.order("LOWER(airline_name)"), :id, :format_name, {:include_blank => true, :selected => defaults[:codeshare_airline_id]}, :class => "autopopulated") %>
    <% else %>
      <%= f.collection_select(:codeshare_airline_id, Airline.where(is_only_operator: false).order("LOWER(airline_name)"), :id, :format_name, {:include_blank => true}) %>
    <% end %>
    <%= f.text_field :codeshare_flight_number, :size => 6 %>
  </p>

  <p>
    <%= f.label :aircraft_family_id, "Aircraft Family" %> / <%= f.label :aircraft_variant, "Variant" %><br />
    <%= f.collection_select(:aircraft_family_id, AircraftFamily.order("LOWER(family_name)"), :id, :format_name, {include_blank: true}) %> <%= f.text_field :aircraft_variant %>
  </p>

  <p>
    <%= f.label :tail_number, "Tail Number" %> / <%= f.label :aircraft_name %><br />
    <%= f.text_field :tail_number, :size => 10 %> <%= f.text_field :aircraft_name %>
  </p>

  <p>
    <%= f.label :operator_id, "Operator" %> / <%= f.label :fleet_number, "Fleet Number" %><br />
    <%= f.collection_select(:operator_id, Airline.order("LOWER(airline_name)"), :id, :format_name, {include_blank: true}) %> <%= f.text_field :fleet_number, :size => 8 %>
  </p>

  <p>
    <%= f.label :travel_class, "Travel Class" %><br />
    <% if defaults[:travel_class] %>
      <%= f.select(:travel_class, options_for_select(Flight.classes_list.invert, defaults[:travel_class]), {:include_blank => true}, :class => form_highlight(flight.travel_class, defaults[:travel_class])) %>
    <% else %>
      <%= f.select(:travel_class, options_for_select(Flight.classes_list.invert, flight.travel_class), :include_blank => true) %>
    <% end %>
  </p>

  <p>
    <%= f.label :comment %><br />
    <%= f.text_field :comment, :size => 60 %>
  </p>

  <p>
  	<%= f.label :boarding_pass_data %><br />
  	<% if defaults[:boarding_pass_data] %>
      <%= f.text_area :boarding_pass_data, size: '60x5', class: ["iata_mono",form_highlight(flight.boarding_pass_data, defaults[:boarding_pass_data])].compact.join(" "), value: defaults[:boarding_pass_data] %>
    <% else %>
      <%= f.text_area :boarding_pass_data, size: '60x5', class: 'iata_mono' %>
    <% end %>
  </p>

  <%= f.hidden_field(:trip_id, :value => flight.trip.id) %>
  <%= f.hidden_field(:pass_id, :value => params[:pass_id]) if params[:pass_id] %>
  <%= f.hidden_field(:pass_serial_number, :value => defaults[:serial_number]) if defaults[:serial_number] %>

  <p>
    <%= f.submit yield(:button_text) %>
  </p>
<% end %>