<table class="flightlog">
  <tr class="th">
		<th class="counter">#</th>
    <th class="airline_airline">Airline</th>
		<th class="airline_iata_code">Code</th>
    <th class="airline_flights">Flights</th>
  </tr>
<% previous_count = nil %>
<% @airline_frequency_sorted.each_with_index do |(airline, frequency), index| %>
  <tr>
    <td class="counter"><%= (frequency == previous_count) ? "⋮" : index + 1 %></td>
		<td class="airline_airline"><%= link_to(image_tag(airline_icon_path(airline), :title => @airline_names[airline], :class => 'airline_icon') + @airline_names[airline], airline_path(airline), :title => "View all flights on #{@airline_names[airline]}") %></td>
		<td class="airline_iata_code iata_mono"><%= link_to(airline, airline_path(airline), :title => "View all flights on #{@airline_names[airline]}") %></td>
    <td class="airline_flights"><%= render "flights/graph_block", :value => frequency, :maximum => @airline_frequency_maximum %></td>
  </tr>
	<% previous_count = frequency %>
<% end %>
  <tr><td colspan="4" class="flightlog_total"><%= pluralize(@airline_frequency_sorted.count, 'airline') %></td></tr>
</table>