<h1>Update Flight with New Boarding Pass</h1>

<p>For each field, please select whether to keep the old data or use the updated boarding pass.</p>

<%= form_for(@flight) do |f| %>
  <table class="flightlog">
    <thead>
      <th colspan="2">Current Values</th>
      <th colspan="2">Updated Boarding Pass</th>
    </thead>
    <tbody>
    <% @changed_fields.each do |k, v| %>
      <tr>
        <td class="radio-button">
          <%= f.radio_button(k, v[:current_value], {checked: false}) %>
        </td>
        <td class="radio-value">
          <%= f.label(k, format_radio_text("Current #{v[:label]}", v[:current_text]).html_safe, value: v[:current_value]) %>
        </td>
        <td class="radio-button updated">
          <%= f.radio_button(k, v[:pass_value], {checked: true}) %></td>
        <td class="radio-value updated">
          <%= f.label(k, format_radio_text("Updated #{v[:label]}", v[:pass_text]).html_safe, value: v[:pass_value]) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  
  <%= f.hidden_field(:pass_id, :value => @pass.id) %>
  <div class="center"><%= f.submit %></div>
<% end %>