<h1>Which Flight is Yours?</h1>

<p>Flights matching <code class="bold"><%= session[:new_flight][:ident] %></code>:</p>
<table class="flightlog flight-select">
  <tr>
    <th></th>
    <th>Dep Date</th>
    <th class="arrival-departure">Departure</th>
    <th class="arrival-departure">Arrival</th>
  </tr>
  <% @fa_flights.each do |flight| %>
    <% ident = session[:new_flight][:ident] %>
    <% departure_time = Time.at(flight[:filed_departuretime].to_i).in_time_zone(@timezones[flight[:origin]]) %>
    <% arrival_time = Time.at(flight[:estimatedarrivaltime].to_i).in_time_zone(@timezones[flight[:destination]]) %>
    <tr>
      
      <td>
        <%= form_tag(new_flight_path, method: :post) do %>
          <%= hidden_field_tag(:departure_date, departure_time.strftime("%F").to_date) %>
          <%= hidden_field_tag(:departure_utc, Time.at(flight[:filed_departuretime].to_i).utc) %>
          <%= hidden_field_tag(:destination_airport_icao, flight[:destination]) %>
          <%= hidden_field_tag(:fa_flight_id, flight[:fa_flight_id]) %>
          <%= hidden_field_tag(:origin_airport_icao) %>
          <%= submit_tag("Select") %>
        <% end %>
      </td>
      <td class="date">
        <%= departure_time.strftime("%A") %><br />
        <%= departure_time.strftime("%d %b %Y") %>
      </td>
    
      <td class="arrival-departure">
        <div>
          <span class="airport-code"><%= flight[:origin] %></span>&ensp;<span class="time"><%= departure_time.strftime("%R") %></span> <span class="timezone"><%= departure_time.zone %></span><br />
          <span class="airport-name"><%= flight[:origin_city] %></span><br/>
          <span class="airport-name"><%= flight[:origin_name] %></span>
        </div>
      </td>
    
      <td class="arrival-departure">
        <div>
          <span class="airport-code"><%= flight[:destination] %></span>&ensp;<span class="time"><%= arrival_time.strftime("%R") %></span> <span class="timezone"><%= arrival_time.zone %></span><br />
          <span class="airport-name"><%= flight[:destination_city] %></span><br/>
          <span class="airport-name"><%= flight[:destination_name] %></span>
        </div>
      </td>
    </tr>
 
  <% end %>
  <tr>
    <td colspan="4" class="center">
      <%= form_tag(new_flight_path, method: :post) do %>
        <%= hidden_field_tag(:completed_flight_xml, true) %>
        <%= submit_tag("My flight isn’t any of the above") %>
      <% end %>
    </td>
  </tr>
</table>