<h1>Select Flight</h1>

<% if @flights && @flights.any? %>
  <p>Flights matching <code class="bold"><%= params[:airline_icao] %><%= params[:flight_number] %></code>:</p>
  <table class="flightlog flight-select">
    <tr>
      <th>Dep Date</th>
      <th>Departure</th>
      <th>Arrival</th>
      <th></th>
    </tr>
  <% @flights.each do |flight| %>
    <% departure_time = Time.at(flight[:filed_departuretime].to_i).in_time_zone(@timezones[flight[:origin]]) %>
    <% arrival_time = Time.at(flight[:estimatedarrivaltime].to_i).in_time_zone(@timezones[flight[:destination]]) %>
    <tr>
      
      <td class="date">
        <%= departure_time.strftime("%A") %><br />
        <%= departure_time.strftime("%d %b %Y") %>
      </td>
      
      <td class="arrival-departure">
        <span class="airport-code"><%= flight[:origin] %></span>&ensp;<span class="time"><%= departure_time.strftime("%R") %></span> <span class="timezone"><%= departure_time.zone %></span><br />
        <span class="airport-name"><%= flight[:origin_name] %></span>
      </td>
      
      <td class="arrival-departure">
        <span class="airport-code"><%= flight[:destination] %></span>&ensp;<span class="time"><%= arrival_time.strftime("%R") %></span> <span class="timezone"><%= arrival_time.zone %></span><br />
        <span class="airport-name"><%= flight[:destination_name] %></span>
      </td>
      
      <td>
        <%= link_to("Select", new_flight_path(trip_id: params[:trip_id], faflightid: flight[:fa_flight_id], departure_date: departure_time.strftime("%F"))) %>
      </td>
      
    </tr>
  <% end %>
  </table>
<% else %>
  <div class="message message-warning">We could not find any flights that matched <code><%= params[:airline_icao] %><%= params[:flight_number] %></code>.</div>
<% end %>
