<% provide(:title, "Select Flight") %>
<% add_breadcrumb "Select Flight", new_flight_menu_path %>

<h1>Which Flight is Yours?</h1>

<p>Flights matching <code class="bold"><%= session[:new_flight][:ident] %></code>:</p>
<table class="flightlog flight-select">
  <tr>
    <th></th>
    <th>Dep Date</th>
    <th class="arrival-departure">Departure</th>
    <th></th>
    <th class="arrival-departure">Arrival</th>
  </tr>
  <% @fa_flights.each do |flight| %>
    <% ident = session[:new_flight][:ident] %>
    <% departure_time = Time.at(flight[:filed_departuretime].to_i).in_time_zone(@timezones[flight[:origin]]) %>
    <% departure_date = departure_time.strftime("%F").to_date %>
    <% arrival_time = Time.at(flight[:estimatedarrivaltime].to_i).in_time_zone(@timezones[flight[:destination]]) %>
    <% if session[:new_flight][:departure_date] && session[:new_flight][:departure_date] == departure_date %>
      <% if session[:new_flight][:origin_airport_iata] && Airport.convert_iata_to_icao(session[:new_flight][:origin_airport_iata]) != flight[:origin] %>
        <tr id="select-flight-row-<%= flight[:fa_flight_id] %>">
      <% else %>
        <tr id="select-flight-row-<%= flight[:fa_flight_id] %>" class="suggestion">
      <% end %>
    <% else %>
      <tr id="select-flight-row-<%= flight[:fa_flight_id] %>">
    <% end %>
      
      <td>
        <%= form_tag(new_flight_path, method: :post) do %>
          <%= hidden_field_tag(:departure_date, departure_date) %>
          <%= hidden_field_tag(:departure_utc, Time.at(flight[:filed_departuretime].to_i).utc) %>
          <%= hidden_field_tag(:destination_airport_icao, flight[:destination]) %>
          <%= hidden_field_tag(:fa_flight_id, flight[:fa_flight_id]) %>
          <%= hidden_field_tag(:origin_airport_icao) %>
          <%= submit_tag("Select") %>
        <% end %>
      </td>
      <td class="date">
        <%= departure_time.strftime("%A") %><br />
        <%= departure_time.strftime("%d %b %Y") %>
      </td>
    
      <td class="arrival-departure">
        <div>
          <span class="airport-code"><%= flight[:origin] %></span>&ensp;<span class="time"><%= departure_time.strftime("%R") %></span> <span class="timezone"><%= departure_time.zone %></span><br />
          <span class="airport-name"><%= flight[:origin_city] %></span><br/>
          <span class="airport-name"><%= flight[:origin_name] %></span>
        </div>
      </td>
      
      <td><%= Route::ARROW_ONE_WAY_HTML %></td>
      
      <td class="arrival-departure">
        <div>
          <span class="airport-code"><%= flight[:destination] %></span>&ensp;<span class="time"><%= arrival_time.strftime("%R") %></span> <span class="timezone"><%= arrival_time.zone %></span><br />
          <span class="airport-name"><%= flight[:destination_city] %></span><br/>
          <span class="airport-name"><%= flight[:destination_name] %></span>
        </div>
      </td>
    </tr>
 
  <% end %>
  <tr>
    <td colspan="5" class="center">
      <%= form_tag(new_flight_path, method: :post) do %>
        <%= hidden_field_tag(:completed_aero_api, true) %>
        <%= submit_tag("My flight isn’t any of the above") %>
      <% end %>
    </td>
  </tr>
</table>