<% provide(:title, "Flights") %>
<% provide(:meta_description, "Maps and lists of all of Paul Bogardʼs flights.") %>
<% add_breadcrumb "Flights", flights_path %>

<h1>Flights</h1>

<% if @flights.any? %>

<%= render partial: "flight_year_links" %>

<% end %>

<p>I have been on <%= pluralize(NumberFormat.value(@flights.length), "commercial flight") %>.</p>

<% if @flights.any? %>

  <%= gcmap_with_region_select(@map, @region, anchor: "flight-map") %>
  <%= distance_block(@total_distance, adjective: "total") %>

  <%= render partial: "flight_table", locals: {flights: @flights, is_summary: false} %>

  

<% else %>

  <%= render partial: "error_no_flights" %>

<% end %>