<h1><%= @title %></h1>

<% if @flights.any? %>

<div class="page_navigation">
  <ul>
		<li><%= link_to("CONUS Flights", "#conus_flights", :title => "CONUS Flights") %></li>
		<li><%= link_to("World Flights", "#world_flights", :title => "World Flights") %></li>
  </ul>
</div>

<%= render "flight_year_links" %>

<% end %>

<p>I have been on <%= pluralize(@flights.length, 'commercial flight') %>.</p>

<% if @flights.any? %>

<a name="conus_flights"></a>
<h2>CONUS Flights</h2>

<p>This map shows all commercial flights I've taken within the <%= link_to("contiguous United States", "http://en.wikipedia.org/wiki/CONUS") %> since age 18.</p>

<%= gcmap_embed(route_string(@flights, "conus")) %>

<a name="world_flights"></a>
<h2>World Flights</h2>

<p>This map and table show all commercial flights I've taken worldwide since age 18.</p>

<%= gcmap_embed(route_string(@flights), nil, "world")%>

<%= distance_block(@total_distance, "total") %>

<a name="flight_list"></a>

<table class="flightlog">
<tr class="th">
  <th class="counter">#</th>
	<th class="flight_flight">Flight</td>
  <th class="flight_route">Route</td>
  <th class="flight_date"><%= sort_link("Departure", :departure, "departure", :asc, "flight_list") %></td>
</tr>
<%= render :partial => "flights/flight_row", :collection => @flights, :as => :flight %>
<%= render :partial => "flights/flight_total_row" %>
</table>

<% else %>

<%= render 'error_no_flights' %>

<% end %>