<h1>Tail Numbers</h1>

<p>Each plane has a <%= link_to("registration", 'http://en.wikipedia.org/wiki/Aircraft_registration') %> number, and I use it to keep track of which particular planes Iʼve flown on the most often.</p>
<p>I have flown on <%= pluralize(@tail_numbers_table.count, 'unique tail number') %>.</p>

<% if @flight_tail_numbers.empty? %>
	<% if (logged_in? && !Flight.any?) || (!logged_in? && Flight.visitor.empty?) %>
		<%= render 'error_no_flights' %>
	<% else %>
		<%= render_message(:warning, "There are no flights in the flight log that include a tail number!") %>
	<% end %>
<% else %>

<table class="flightlog">
  <tr>
    <th class="tail_number"><%= sort_link("Tail Number", :tail, "tail", :asc, nil) %></th>
    <th class="tail_aircraft"><%= sort_link("Aircraft", :aircraft, "aircraft", :asc, nil) %></th>
    <th class="tail_airline"><%= sort_link("Airline", :airline, "airline", :asc, nil) %></th>
    <th class="tail_flights"><%= sort_link("Flights", :flights, "flights", :desc, nil) %></th>
<% @tail_numbers_table.each do |tail| %>
  <tr>
    <td class="tail_number"><%= tail_number_country_flag(tail[:tail_number]) %> <%= link_to(tail[:tail_number], show_tail_path(tail[:tail_number]), :title => "View flights on tail number #{tail[:tail_number]}") %></td>
    <td class="tail_aircraft code-mono"><abbr title="<%= tail[:manufacturer] %> <%= tail[:family_name] %>"><%= tail[:aircraft] %></abbr></td>
    <td class="tail_airline"><%= image_tag(airline_icon_path(tail[:airline_code]), title: tail[:airline_name], alt: tail[:airline_code], class: 'airline_icon icon_no_text') %></td>
		<td class="tail_flights"><div class="graph-background"><div class="graph" style="background-size: <%= tail[:count]*100/@flights_maximum %>% 100%;"><%= tail[:count] %></div></div></td>
  </tr>
<% end %>
  <tr><td colspan="4" class="flightlog_total"><%= pluralize(@tail_numbers_table.count, 'unique tail number') %></td></tr>
</table>

<% end %>