<% provide(:title, "Flights") %>
<% provide(:meta_description, "Maps and lists of all of Paul Bogardʼs flights.") %>
<% add_breadcrumb "Flights", flights_path %>

<h1>Flights</h1>

<% if @flights.any? %>

<%= render "flight_year_links" %>

<% end %>

<p>I have been on <%= pluralize(@flights.length, "commercial flight") %>.</p>

<% if @flights.any? %>

  <%= gcmap_with_region_select(@map, @region, anchor: "flight-map") %>
  <%= distance_block(@total_distance, adjective: "total") %>

  <div id="flight-list">

    <table class="flightlog" id="flight-table">
    <tr>
      <th class="counter">#</th>
    	<th class="flight-flight">Flight</td>
      <th class="flight-route">Route</td>
      <th class="flight-date"><%= sort_link("Departure", :departure, :asc, "flight-list") %></td>
    </tr>
    <%= render partial: "flights/flight_row", collection: @flights, as: :flight %>
    <%= flight_table_total_row(@flights) %>
    </table>

  </div>

<% else %>

  <%= render "error_no_flights" %>

<% end %>