<h1><%= @title %></h1>

<% if @flights.any? %>

<%= render "flight_year_links" %>

<% end %>

<p>I have been on <%= pluralize(@flights.length, 'commercial flight') %>.</p>

<% if @flights.any? %>

<%= embed_gcmap_flights(@flights) %>
<%= distance_block(@total_distance, "total") %>

<a name="flight_list"></a>

<table class="flightlog">
<tr class="th">
  <th class="counter">#</th>
	<th class="flight_flight">Flight</td>
  <th class="flight_route">Route</td>
  <th class="flight_date"><%= sort_link("Departure", :departure, "departure", :asc, "flight_list") %></td>
</tr>
<%= render :partial => "flights/flight_row", :collection => @flights, :as => :flight %>
<%= render :partial => "flights/flight_total_row" %>
</table>

<% else %>

<%= render 'error_no_flights' %>

<% end %>