<h1>Airlines</h1>

<div class="page_navigation">
  <ul>
		<li><%= link_to("Airlines", "#airlines", :title => "Airlines") %></li>
		<li><%= link_to("Operators", "#operators", :title => "Operators") %></li>
  </ul>
</div>

<a name="airlines"></a>
<p>I have flown on <%= pluralize(@airlines_array.count, 'airline') %>.</p>

<table class="flightlog">
  <tr>
    <th class="counter">#</th>
		<th class="airline_airline"><%= sort_link("Airline", :airline, "airline", :asc, "airlines") %></th>
    <th class="airline_flights"><%= sort_link("Flights", :flights, "flights", :desc, "airlines") %></th>
  </tr>
<% @airlines_array.each_with_index do |airline, index| %>
  <tr>
		<td class="counter"><%= index + 1 %></td>
    <td class="airline_airline">
    <%= link_to(image_tag(Flight.new(:airline => airline[:airline]).airline_icon_path, :alt => airline[:airline], :class => 'airline_icon') + airline[:airline], show_airline_path(airline[:airline].gsub(" ", "_")), :title => "View flights on #{airline[:airline]}") %></td>
    <td class="airline_flights"><%= render "graph_block", :value => airline[:count], :maximum => @airlines_maximum %></td>
  </tr>
<% end %>
  <tr><td colspan="3" class="flightlog_total"><%= pluralize(@airlines_array.count, 'airline') %></td></tr>
</table>

<a name="operators"></a>
<h2>Operators</h2>


<p>In many cases, an airline subcontracts another airline to operate flights for them. This happens especially often with small regional flights. This is a list of the airlines that actually operated my flights.</p>

<% if @operators_array.length > 0 %>

<table class="flightlog">
  <tr>
    <th class="counter">#</th>
		<th class="airline_airline"><%= sort_link("Operator", :airline, "airline", :asc, "operators") %></th>
    <th class="airline_flights"><%= sort_link("Flights", :flights, "flights", :desc, "operators") %></th>
  </tr>
<% @operators_array.each_with_index do |operator, index| %>
  <tr>
		<td class="counter"><%= index + 1 %></td>
    <td class="airline_airline">
    <%= link_to(image_tag(Flight.new(:airline => operator[:operator]).airline_icon_path, :alt => operator[:operator], :class => 'airline_icon') + operator[:operator], show_operator_path(operator[:operator].gsub(" ", "_")), :title => "View flights operated by #{operator[:operator]}") %></td>
    <td class="airline_flights"><%= render "graph_block", :value => operator[:count], :maximum => @operators_maximum %></td>
  </tr>
<% end %>
	<tr><td colspan="3" class="flightlog_total"><%= pluralize(@operators_array.count, 'operator') %></td></tr>
</table>

<% else %>

<p>All flights have unknown operators.</p>

<% end %>