<h1>Fill in Unknown IATA Codes</h1>

<%= form_tag(create_iata_path) do %>

  <%= render :partial => "form_new_iata", locals: {type: :airport, name: "Origin Airport", value: @undefined_fields[:airport_orig]} %>
  <%= render :partial => "form_new_iata", locals: {type: :airport, name: "Destination Airport", value: @undefined_fields[:airport_dest]} %>
  <%= render :partial => "form_new_iata", locals: {type: :airline, name: "Airline", value: @undefined_fields[:airline]} %>
  <%= render :partial => "form_new_iata", locals: {type: :airline, name: "Codeshare Airline", value: @undefined_fields[:codeshare_airline]} %>
  
  
  <p><%= submit_tag "Submit", name: nil %></p>
     
<% end %>