<h1>Create a New Flight</h1>

<div class="center">
<%= form_tag(change_new_flight_trip_path) do %>
  <%= label_tag :trip_id, "Which trip would you like to add a flight to?" %><br />
  <%= select_tag(:trip_id, options_for_select(@trips, @trip.id)) %> <%= submit_tag "Change", name: nil %>
<% end %>
</div>

<h2>Option 1: E-mail a digital boarding pass</h2>

<p>To create a flight from an Apple Wallet pass, e-mail the pass to <%= link_to("flights@flighthistorian.com", "mailto:flights@flighthistorian.com") %>.</p>

<% if @passes.any? %>

<table class="flightlog">
  <thead>
    <th colspan="6">New Boarding Passes</th>
  </thead>
  <tbody>
  <% @passes.each do |pass| %>
    <tr>
      <td>
        <%= form_tag(new_flight_path, method: :post) do %>
          <%= hidden_field_tag(:trip_id, @trip.id) %>
          <%= hidden_field_tag(:pk_pass_id, pass[:id]) %>
          <%= submit_tag("Create this flight") %>
        <% end %>
      </td>
      <td class="code-mono"><%= pass[:pnr] %></td>
      <td><%= pass[:airline] %> <%= pass[:flight] %></td>
      <td><%= code_mono(pass[:from]) %> <%= Route::ARROW_ONE_WAY_HTML %> <%= code_mono(pass[:to]) %></td>
      <td class="flight-date"><%= Flight.format_date(pass[:date]) %></td>
      <td><%= link_to("Delete", pk_pass_path(pass[:id]), :method => :delete, :data => {:confirm => "Are you sure you want to delete the pass for #{pass[:from]}-#{pass[:to]}?"}, :class => "warning") %></td>    
    </tr>
  <% end %>
  </tbody>
</table>
<% else %>
  <%= render_message(:info, "We haven’t yet received any emailed boarding passes.") %>
<% end %>

<h2>Option 2: Paste a barcode</h2>

<div class="center">
<%= form_tag(new_flight_path, method: :post) do %>
  <%= hidden_field_tag(:trip_id, @trip.id) %>
  <%= label_tag(:boarding_pass_data, "Use a barcode scanner to read your boarding pass, and paste the barcode data here:") %><br/>
  <%= text_area_tag(:boarding_pass_data, nil, size: "60x5", class: "code-mono") %><br/>
  <%= submit_tag("Submit barcode data") %>
<% end %>
</div>

<h2>Option 3: Search for a flight number</h2>

<div class="center">
<%= form_tag(new_flight_path, method: :post) do %>
  <%= hidden_field_tag(:trip_id, @trip.id) %>
  <%= label_tag(:airline_icao, "Airline") %> / <%= label_tag(:flight_number) %><br />
  <%= collection_select(nil, :airline_icao, Airline.where(is_only_operator: false).where.not(icao_airline_code: nil).order("LOWER(airline_name)"), :icao_airline_code, :format_name, {include_blank: true}, class: "") %> <%= text_field_tag(:flight_number, nil, size: 5, maxlength: 5) %>
  <%= submit_tag("Search") %>
<% end %>
</div>

<h2>Option 4: Create a flight manually</h2>
<div class="center">
<%= form_tag(new_flight_path, method: :post) do %>
  <%= hidden_field_tag(:trip_id, @trip.id) %>
  <%= submit_tag("Create a new flight") %>
<% end %>
</div>