<h1><%= @title %></h1>

<div class="page_navigation">
  <ul>
		<li><%= link_to("Map", "#map", :title => "Map of flights visited in " + @in_text) %></li>
		<li><%= link_to("Airports", "#airports", :title => "Airports visited in " + @in_text) %></li>
		<li><%= link_to("Aircraft", "#aircraft", :title => "Aircraft flown in " + @in_text) %></li>
		<li><%= link_to("Airlines", "#airlines", :title => "Airlines flown in " + @in_text) %></li>
		<li><%= link_to("Classes", "#classes", :title => "Classes flown in " + @in_text) %></li>
		<li><%= link_to("Longest and Shortest", "#superlatives", :title => @superlatives_title_nav) %></li>
		<li><%= link_to("Flight List", "#flights", :title => @flight_list_title) %></li>
  </ul>
</div>

<%= render "flight_year_links" %>

<% if @flights.any? %>

<p>I have been on <%= pluralize(@flights.length, 'commercial flight') %> in <%= @in_text %>.</p>

<a name="map"></a>
<div class="intro_box">
	<%= embed_gcmap_flights(@flights) %>
	<%= distance_block(@total_distance, adjective: "total", flight_link: true) %>
</div>



<a name="airports"></a>
<h2>Airports Visited <%= @date_range_text %></h2>

<table class="flightlog">
  <tr class="th">
    <th class="counter">#</th>
		<th class="airport_city">City</th>
    <th class="">Code</th>
    <th class="">Visits</th>
	</tr>
<% previous_count = nil %>
<% @airport_array.each_with_index do |airport, index| %>
  <tr>
		
		<% if @date_range.include?(Flight.airport_first_visit(airport[:id])) %>
			<% @new_airport_flag = true %>
			<td class="counter new"><%= (airport[:frequency] == previous_count) ? "⋮" : index + 1 %></td>
			<td class="airport_city new"><%= image_tag(Airport.new(:country => airport[:country]).country_flag_path, :title => airport[:country], :class => 'country_flag') %> <%= link_to(airport[:city] + "*", airport_path(airport[:iata_code]), :title => "View airport details for #{airport[:city]}") %></td>
			<td class="airport_iata_code new"><%= link_to(iata_mono(airport[:iata_code]), airport_path(airport[:iata_code]), :title => "View airport details for #{airport[:city]}") %></td>
			<td class="airport_visits new"><%= render "graph_block", :value => airport[:frequency], :maximum => @airport_maximum %></td>
		<% else %>
			<td class="counter"><%= (airport[:frequency] == previous_count) ? "⋮" : index + 1 %></td>
			<td class="airport_city"><%= image_tag(Airport.new(:country => airport[:country]).country_flag_path, :title => airport[:country], :class => 'country_flag') %> <%= link_to(airport[:city], airport_path(airport[:iata_code]), :title => "View airport details for #{airport[:city]}") %></td>
			<td class="airport_iata_code"><%= link_to(iata_mono(airport[:iata_code]), airport_path(airport[:iata_code]), :title => "View airport details for #{airport[:city]}") %></td>
			<td class="airport_visits"><%= render "graph_block", :value => airport[:frequency], :maximum => @airport_maximum %></td>
		<% end %>
	
  </tr>
	<% previous_count = airport[:frequency] %>
<% end %>
  <tr><td colspan="4" class="flightlog_total"><%= pluralize(@airport_array.count, 'airport') %></td></tr>
</table>
<% if @new_airport_flag %>
	<p class="note new">* Airport first visited in <%= @in_text %></p>
<% end %>

<a name="aircraft"></a>
<h2>Aircraft Flown <%= @date_range_text %></h2>

<% if @aircraft_frequency_sorted.count == 0 %>

<p>All flights have unknown aircraft families.</p>

<% else %>

<table class="flightlog">
  <tr class="th">
    <th class="counter">#</th>
		<th class="aircraft_family">Aircraft Family</th>
		<th class="aircraft_iata_code">Code</th>
    <th class="aircraft_flights">Flights</th>
  </tr>
<% previous_count = nil %>
<% @aircraft_frequency_sorted.each_with_index do |(aircraft, frequency), index| %>
  <% unless aircraft.nil? %>
  <tr>
		
    <% if @date_range.include?(Flight.aircraft_first_flight(aircraft)) %>
			<td class="counter new"><%= (frequency == previous_count) ? "⋮" : index + 1 %></td>
			<% @new_aircraft_flag = true %>
			<td class="aircraft_family new"><%= link_to("<span class=\"aircraft_manufacturer\">#{@aircraft_family_manufacturers[aircraft]}</span> #{@aircraft_family_names[aircraft]}*".html_safe, aircraft_family_path(aircraft), :title => "View all flights on #{@aircraft_family_manufacturers[aircraft]} #{@aircraft_family_names[aircraft]} aircraft") %></td>
			<td class="aircraft_iata_code iata_mono new"><%= link_to(aircraft, aircraft_family_path(aircraft), :title => "View all flights on #{@aircraft_family_manufacturers[aircraft]} #{@aircraft_family_names[aircraft]} aircraft") %></td>
			<td class="aircraft_flights new"><%= render "graph_block", :value => frequency, :maximum => @aircraft_frequency_maximum %></td>
		<% else %>
			<td class="counter"><%= (frequency == previous_count) ? "⋮" : index + 1 %></td>
			<td class="aircraft_family"><%= link_to("<span class=\"aircraft_manufacturer\">#{@aircraft_family_manufacturers[aircraft]}</span> #{@aircraft_family_names[aircraft]}".html_safe, aircraft_family_path(aircraft), :title => "View all flights on #{@aircraft_family_manufacturers[aircraft]} #{@aircraft_family_names[aircraft]} aircraft") %></td>
			<td class="aircraft_iata_code iata_mono"><%= link_to(aircraft, aircraft_family_path(aircraft), :title => "View all flights on #{@aircraft_family_manufacturers[aircraft]} #{@aircraft_family_names[aircraft]} aircraft") %></td>
			<td class="aircraft_flights"><%= render "graph_block", :value => frequency, :maximum => @aircraft_frequency_maximum %></td>
		<% end %>
    
  </tr>
		<% previous_count = frequency %>
  <% end %>
<% end %>
  <tr><td colspan="4" class="flightlog_total"><%= pluralize(@aircraft_frequency_sorted.count, 'aircraft family') %></td></tr>
</table>

<% if @unknown_aircraft_flights > 1 %>
<p class="center"><%= @unknown_aircraft_flights %> flights with unknown aircraft families are not included in this table.</p>
<% elsif @unknown_aircraft_flights > 0 %>
<p class="center">1 flight with an unknown aircraft family is not included in this table.</p>
<% end %>

<% if @new_aircraft_flag %>
	<p class="note new">* Aircraft family first flown in <%= @in_text %></p>
<% end %>

<% end %>

<a name="airlines"></a>
<h2>Airlines Flown <%= @date_range_text %></h2>

<table class="flightlog">
  <tr class="th">
    <th class="counter">#</th>
		<th class="airline_airline">Airline</th>
		<th class="airline_iata_code">Code</th>
    <th class="airline_flights">Flights</th>
  </tr>
<% previous_count = nil %>
<% @airline_frequency_sorted.each_with_index do |(airline, frequency), index| %>
  <tr>
    
		<% if @date_range.include?(Flight.airline_first_flight(airline)) %>
			<% @new_airline_flag = true %>
			<td class="counter new"><%= (frequency == previous_count) ? "⋮" : index + 1 %></td>
			<td class="airline_airline new">
				<%= link_to(image_tag(airline_icon_path(airline), :alt => @airline_names[airline], class: 'airline_icon') + @airline_names[airline] + "*", airline_path(airline), title: "View all flights on #{@airline_names[airline]}") %>
			</td>
			<td class="airline_iata_code iata_mono new">
				<%= link_to(airline, airline_path(airline), title: "View all flights on #{@airline_names[airline]}") %>
			</td>
			<td class="airline_flights new"><%= render "graph_block", value: frequency, maximum: @airline_frequency_maximum %></td>
		<% else %>
			<td class="counter"><%= (frequency == previous_count) ? "⋮" : index + 1 %></td>
			<td class="airline_airline">
				<%= link_to(image_tag(airline_icon_path(airline), :alt => @airline_names[airline], class: 'airline_icon') + @airline_names[airline], airline_path(airline), title: "View all flights on #{@airline_names[airline]}") %>
			</td>
			<td class="airline_iata_code iata_mono">
				<%= link_to(airline, airline_path(airline), title: "View all flights on #{@airline_names[airline]}") %>
			</td>
			<td class="airline_flights"><%= render "graph_block", value: frequency, maximum: @airline_frequency_maximum %></td>
		<% end %>
    
  </tr>
	<% previous_count = frequency %>
<% end %>
  <tr><td colspan="4" class="flightlog_total"><%= pluralize(@airline_frequency_sorted.count, 'airline') %></td></tr>
</table>

<% if @new_airline_flag %>
	<p class="note new">* Airline first flown in <%= @in_text %></p>
<% end %>

<a name="classes"></a>
<h2>Classes Flown <%= @date_range_text %></h2>

<%= render "summary_travel_class_table" %>

<a name="superlatives"></a>
<h2><%= @superlatives_title %></h2>

<%= render "routes/route_superlatives_table", :superlatives => @route_superlatives %>

<a name="flights"></a>
<h2><%= @flight_list_title %></h2>

<%= render 'flight_table' %>

<% else %>
	<p>There are no flights in <%= @in_text %>!</p>
<% end %>