<h1><%= @title %></h1>

<div class="page_navigation">
  <ul>
		<li><%= link_to("Map", "#map", :title => "Map of flights flown in #{@title.downcase}") %></li>
		<li><%= link_to("Airlines", "#airlines", :title => "Airlines with #{@title.downcase} flights") %></li>
		<li><%= link_to("Aircraft", "#aircraft", :title => "Aircraft with #{@title.downcase} flights") %></li>
		<li><%= link_to("Longest and Shortest", "#superlatives", :title => "Longest and shortest routes flown in #{@title.downcase}") %></li>
		<li><%= link_to("Flight List", "#flights", :title => "Flights flown in #{@title.downcase}") %></li>
  </ul>
</div>



<p>I have flown in <span class="bold"><%= @title.downcase %></span> <%= pluralize(@flights.length, 'time') %>.</p>

<a name="map"></a>
<%= embed_gcmap_flights(@flights) %>
<%= distance_block(@total_distance, adjective: 'total', flight_link: true) %>

<a name="airlines"></a>
<h2>Airlines with <%= @title %> Flights</h2>
<%= render "summary_airline_table" %>

<a name="aircraft"></a>
<h2>Aircraft with <%= @title %> Flights</h2>
<%= render "summary_aircraft_table" %>

<a name="superlatives"></a>
<h2>Longest and Shortest Routes Flown in <%= @title %></h2>
<%= render "routes/route_superlatives_table", :superlatives => @route_superlatives %>

<a name="flights"></a>
<h2><%= @title %> Flight List</h2>
<%= render "flight_table" %>