<h1>Boarding Pass Results</h1>

<div id="bcbp_input_form">
  <%= form_tag(build_boarding_pass_path, method: :get, id: "bcbp-form") do %>
  <p>
    <%= label :data, "Update your boarding pass data here:" %><br />
	  <%= text_area_tag :data, params[:data], size: '70x5', class: 'iata_mono' %>
  </p>
  <p><%= submit_tag "Update", name: nil, id: "bcbp_submit_button" %></p>
  
<% end %>
</div>

<% if @boarding_pass.data.present? %>
  <%= render "bcbp", boarding_pass: @boarding_pass %>
<% else %>
  <p>Weʼre sorry, but we were unable to parse the boarding pass data provided.</p>
<% end %>