<% provide(:title, @flight.name) %>
<% provide(:meta_description, "Details for Paul Bogardʼs #{@flight.name} flight on #{format_date(@flight.departure_date)}.") %>
<% add_admin_action link_to("Delete Flight", @flight, method: :delete, data: { confirm: "Are you sure you want to delete this flight?" }, class: "warning") %>
<% add_admin_action link_to("Edit Flight", edit_flight_path(@flight)) %>
<% add_breadcrumb "Flights", flights_path %>
<% add_breadcrumb @flight.name, flight_path(params[:id]) %>

<div id="title-info"><%= airline_icon(@flight.airline.slug, title: @flight.airline.airline_name) %></div>

<h1><%= @flight.airline.airline_name %> <%= @flight.flight_number %></h1>

<% if @flight.comment %>
  <p class="comment"><%= @flight.comment %></p>
<% end %>

<%= @map.gcmap %>

<table class="flightlog flight-large-route">
  <tr class="no-top-border">
    <td class="flight-show-airport right">
      <span class="flight-code"><%= link_to(@flight.origin_airport.iata_code, airport_path(@flight.origin_airport.slug), :title => "View airport details for " + @flight.origin_airport.city) %></span><br />
      <span class="flight-city"><%= @flight.origin_airport.city %></span>
    </td>
    <td class="flight-airplane-icon"><%= Route::ARROW_ONE_WAY_HTML %></td>
    <td class="flight-show-airport">
      <span class="flight-code"><%= link_to(@flight.destination_airport.iata_code, airport_path(@flight.destination_airport.slug), :title => "View airport details for " + @flight.destination_airport.city) %></span><br />
      <span class="flight-city"><%= @flight.destination_airport.city %></span>
    </td>
  </tr>
</table>

<table class="flightlog">
  
  <tr>
    <td class="label-column">Departure Date</td>
    <td><%= format_date(@flight.departure_date) %></td>
  </tr>
  <tr>
    <td class="label-column">Trip</td>
    <td class="flight_show_trip"><%= Trip::HIDDEN_MARKER if @flight.trip.hidden %><%= link_to(@flight.trip.name, trip_path(@flight.trip), :title => "View trip details for " + @flight.trip.name) %> (<%= link_to("Section #{@flight.trip_section}", show_section_path(@flight.trip, @flight.trip_section), :title => "View details for section #{@flight.trip_section} of #{@flight.trip.name}" ) %>)</td>
  </tr>
  <tr>
    <td class="label-column">Route</td>
    <td class="flight_show_route">
      <% if @route_distance %>
        <div class="supplemental-info"><span class="flight-route-distance"><%= number_with_delimiter(@route_distance, :delimiter => ",") %> mi / <%= number_with_delimiter((@route_distance*1.60934).to_i, :delimiter => ",") %> km</span></div>
      <% elsif logged_in? %>
        <div class="supplemental-info message-error"><%= link_to "Distance Undefined", edit_route_path(@flight.origin_airport,@flight.destination_airport) %></div>
      <% end %>
      <%= link_to("#{@flight.origin_airport.iata_code} #{Route::ARROW_TWO_WAY_PLAINTEXT} #{@flight.destination_airport.iata_code}", show_route_path(airport1: @flight.origin_airport.slug, airport2: @flight.destination_airport.slug), title: "View flights between #{@flight.origin_airport.iata_code} and #{@flight.destination_airport.iata_code}") %>
    </td>
  </tr>
  <% if @flight.travel_class %>
  <tr>
    <td class="label-column">Travel Class</td>
    <td>
			<%= quality_stars(TravelClass::CLASSES[@flight.travel_class][:quality], inline: :left) %><%= link_to(TravelClass::CLASSES[@flight.travel_class][:name].titlecase, show_class_path(@flight.travel_class), :title => "View #{TravelClass::CLASSES[@flight.travel_class][:name].downcase} class flights") %>
			</td>
		</td>
  </tr>
  <% end %>
  <tr>
    <td class="label-column">Airline</td>
    <td class="flight_show_airline">
			<div class="supplemental-code"><%= @flight.airline.iata_airline_code %></div>
			<%= link_to(airline_icon(@flight.airline.slug, title: @flight.airline.airline_name) + @flight.airline.airline_name, airline_path(@flight.airline.slug), title: "View flights on " + @flight.airline.slug) %>
			</td>
  </tr>
  <% if @flight.operator %>
  <tr>
    <td class="label-column">Operated By</td>
    <td class="flight_show_airline">
			<div class="supplemental-code"><%= @flight.operator.iata_airline_code %></div>
			<%= link_to(airline_icon(@flight.operator.slug, title: @flight.operator.airline_name) + @flight.operator.airline_name, show_operator_path(@flight.operator.slug), title: "View flights operated by " + @flight.operator.airline_name) %>
			<% if @flight.fleet_number %> (<%= link_to("#" + @flight.fleet_number, show_fleet_number_path(@flight.operator.slug, @flight.fleet_number), title: "View flights on #{@flight.operator.airline_name} aircraft ##{@flight.fleet_number}") %>)<% end %>
			</td>
  </tr>
  <% end %>
  <% if @flight.codeshare_airline %>
  <tr>
    <td class="label-column">Codeshare</td>
    <td class="flight_show_airline">
			<div class="supplemental-code"><%= @flight.codeshare_airline.iata_airline_code %></div>
			<%= airline_icon(@flight.codeshare_airline.slug, title: @flight.codeshare_airline.airline_name) %><%= @flight.codeshare_airline.airline_name %> <%= @flight.codeshare_flight_number %>
			</td>
		</td>
  </tr>
  <% end %>
  
  <% if @flight.aircraft_family %>
    <tr>
      <td class="label-column">Equipment</td>
      <td class="aircraft-type">
        <%= aircraft_type_tree(@flight.aircraft_family.type_and_parent_types) %>
      </td>
    </tr>
  <% end %>

  <% if @flight.aircraft_name %>
  <tr>
    <td class="label-column">Aircraft Name</td>
    <td class="aircraft-name"><%= @flight.aircraft_name %></td>
  </tr>
  <% end %>
  <% if @flight.tail_number %>
  <tr>
    <td class="label-column">Tail Number</td>
    <td class="tail-number"><%= tail_number_with_country_flag(@flight.tail_number, false) %></td>
  </tr>
  <% end %>
</table>

<% if logged_in? && @boarding_pass.data.present? %>
  <%= render "bcbp", boarding_pass: @boarding_pass %>
<% end %>