<% provide(:title, @tail_number) %>
<% provide(:meta_description, "Maps and lists of Paul Bogardʼs flights on tail number #{@tail_number}.") %>
<% add_breadcrumb "Tail Numbers", tails_path %>
<% add_breadcrumb @tail_number, show_tail_path(TailNumber.simplify(params[:tail_number])) %>

<% if TailNumber.country(@tail_number) %>
<div id="title-info"><%= TailNumber.country(@tail_number) %><%= country_flag_icon(TailNumber.country(@tail_number)) %></div>
<% end %>

<h1><%= @tail_number %></h1>

<div class="page-navigation">
	<ul>
		<li><%= link_to("Map", "#map", :title => "Map of flights flown on #{@tail_number}") %></li>
		<li><%= link_to("Classes", "#classes", :title => "Classes flown on #{@tail_number}") %></li>
		<li><%= link_to("Airlines", "#airlines", :title => "Airlines using #{@tail_number}") %></li>
		<li><%= link_to("Operators", "#operators", :title => "Operators using #{@tail_number}") %></li>
		<li><%= link_to("Longest and Shortest", "#superlatives", :title => "Longest and shortest routes flown on #{@tail_number}") %></li>
		<li><%= link_to("Flight List", "#flights", :title => "Flights flown on #{@tail_number}") %></li>
		<li><%= link_to("Tracking", "#tracking", :title => "Tracking") %></li>
  </ul>
</div>


<p>I have flown on the <%= @flights.last.aircraft_family.present? ? link_to(@flights.last.aircraft_family.family_name, aircraft_family_path(@flights.last.aircraft_family.slug), :title => "View flights on #{@flights.last.aircraft_family.manufacturer} #{@flights.last.aircraft_family.family_name} aircraft") : "airplane" %> with tail number <span class="bold"><%= @tail_number %></span> <%= pluralize(number_with_delimiter(@flights.length, delimiter: sanitize("&nbsp;")), "time") %>.</p>

<div id="map">
  <%= gcmap_with_region_select(@map, @region) %>
	<%= distance_block(@total_distance, adjective: "total", flight_link: true) %>
</div>

<h2 id="classes">Classes Flown on <%= @tail_number %></h2>
<%= render partial: "flights/class_count_table", locals: {classes: @classes, is_summary: true} %>

<h2 id="airlines">Airlines Using <%= @tail_number %></h2>
<%= render partial: "airlines/airline_count_table", locals: {airlines: @airlines, is_summary: true} %>

<h2 id="operators">Operators Using <%= @tail_number %></h2>
<%= render partial: "airlines/airline_count_table", locals: {airlines: @operators, type: :operator, is_summary: true, identical: (@airlines == @operators)} %>

<h2 id="superlatives">Longest and Shortest Routes Flown on <%= @tail_number %></h2>

<%= render partial: "routes/route_superlatives_table", locals: {superlatives: @route_superlatives} %>

<h2 id="flights"><%= @tail_number %> Flight List</h2>
<%= render partial: "flight_table", locals: {flights: @flights, is_summary: true} %>

<h2 id="tracking">Tracking</h2>

<ul>
  <li>FlightAware: <%= link_to(TailNumber.format(@tail_number), "http://flightaware.com/live/flight/#{@tail_number}", title: "Track #{TailNumber.format(@tail_number)} on FlightAware", target: :_blank)%></li>
</ul>
