<% if Flight.tail_country(params[:tail_number]) %>
<div id="title_info"><%= Flight.tail_country(params[:tail_number]) %><%= tail_number_country_flag(params[:tail_number]) %></div>
<% end %>

<h1><%= params[:tail_number] %></h1>

<div class="page_navigation">
	<ul>
		<li><%= link_to("Map", "#map", :title => "Map of flights flown on #{params[:tail_number]}") %></li>
		<li><%= link_to("Classes", "#classes", :title => "Classes flown on #{params[:tail_number]}") %></li>
		<li><%= link_to("Operators", "#operators", :title => "Operators using #{params[:tail_number]}") %></li>
		<li><%= link_to("Longest and Shortest", "#superlatives", :title => "Longest and shortest routes flown on #{params[:tail_number]}") %></li>
		<li><%= link_to("Flight List", "#flights", :title => "Flights flown on #{params[:tail_number]}") %></li>
		<li><%= link_to("Tracking", "#tracking", :title => "Tracking") %></li>
  </ul>
</div>


<p>I have flown on the <%= @flights.last.aircraft_family.present? ? link_to(@flights.last.aircraft_family, aircraft_families_path(@flights.last.aircraft_family.gsub(" ", "_")), :title => "View flights on #{@flights.last.aircraft_family} aircraft") : "airplane" %> with tail number <span class="bold"><%= params[:tail_number] %></span> <%= pluralize(@flights.length, 'time') %>.</p>

<a name="map"></a>
<%= embed_gcmap_flights(@flights) %>
<%= distance_block(@total_distance, adjective: 'total', flight_link: true) %>


<a name="classes"></a>
<h2>Classes Flown on <%= params[:tail_number] %></h2>

<%= render "summary_travel_class_table" %>

<a name="operators"></a>
<h2>Operators Using <%= params[:tail_number] %></h2>

<%= render "operator_table" %>

<a name="superlatives"></a>
<h2>Longest and Shortest Routes Flown on <%= params[:tail_number] %></h2>

<%= render "routes/route_superlatives_table", :superlatives => @route_superlatives %>

<a name="flights"></a>
<h2><%= params[:tail_number] %> Flight List</h2>
<%= render "flight_table" %>

<a name="tracking"></a>
<h2>Tracking</h2>

<ul>
  <li>FlightAware: <%= link_to(params[:tail_number], "http://flightaware.com/live/flight/#{params[:tail_number]}", :title => "Track #{params[:tail_number]} on FlightAware")%></li>
</ul>
