<% provide(:title, @flight.name) %>
<% provide(:meta_description, "Details for Paul Bogardʼs #{@flight.name} flight on #{NumberFormat.date(@flight.departure_date)}.") %>
<% add_admin_action link_to("Delete Flight", @flight, method: :delete, data: { confirm: "Are you sure you want to delete this flight?" }, class: "warning") %>
<% add_admin_action link_to("Edit Flight", edit_flight_path(@flight)) %>
<% add_breadcrumb "Flights", flights_path %>
<% add_breadcrumb @flight.name, flight_path(params[:id]) %>

<h1><%= @flight.airline.name %> <%= @flight.flight_number %></h1>

<% if @flight.comment %>
  <p class="comment"><%= @flight.comment %></p>
<% end %>

<table class="flight-large-route">
  <tr>
    <td class="flight-show-airport-flag">
      <%= country_flag_icon(@flight.origin_airport.country) %>
    </td>
    <td class="flight-show-airport-airplane-icon" rowspan="3">
      <%= image_tag("airplane.svg", width: 48) %>
    </td>
    <td class="flight-show-airport-flag">
      <%= country_flag_icon(@flight.destination_airport.country) %>
    </td>
  </tr>
  <tr>
    <td class="flight-show-airport-code">
      <%= @flight.origin_airport.iata_code %>
    </td>
    <td class="flight-show-airport-code">
      <%= @flight.destination_airport.iata_code %>
    </td>
  </tr>
  <tr>
    <td class="flight-show-airport-city" id="flight-origin-airport">
      <%= link_to(@flight.origin_airport.city, airport_path(@flight.origin_airport.slug), title: "View airport details for " + @flight.origin_airport.city) %>
    </td>
    <td class="flight-show-airport-city" id="flight-destination-airport">
      <%= link_to(@flight.destination_airport.city, airport_path(@flight.destination_airport.slug), title: "View airport details for " + @flight.destination_airport.city) %>
    </td>
  </tr>
</table>

<%= render(partial: "layouts/map", locals: {map: @maps[:flight_map]}) %>

<table class="flightlog">
  
  <tr>
    <td class="label-column">Departure Date</td>
    <td id="flight-departure-date"><%= NumberFormat.date(@flight.departure_date) %></td>
  </tr>
  <tr>
    <td class="label-column">Trip</td>
    <td id="flight-trip"><%= Trip::HIDDEN_MARKER if @flight.trip.hidden %><%= link_to(@flight.trip.name, trip_path(@flight.trip), title: "View trip details for " + @flight.trip.name) %> (<%= link_to("Section #{@flight.trip_section}", show_section_path(@flight.trip, @flight.trip_section), title: "View details for section #{@flight.trip_section} of #{@flight.trip.name}" ) %>)</td>
  </tr>
  <tr>
    <td class="label-column">Route</td>
    <td id="flight-route">
      <% if @route_distance %>
        <div class="supplemental-info" id="flight-route-distance"><%= NumberFormat.value(@route_distance) %> mi / <%= NumberFormat.value(Distance::km(@route_distance)) %> km</div>
      <% elsif logged_in? %>
        <div class="supplemental-info message-error"><%= link_to "Distance Undefined", edit_route_path(@flight.origin_airport,@flight.destination_airport) %></div>
      <% end %>
      <%= link_to(Route.airport_string(@flight.origin_airport, @flight.destination_airport, sort: false), show_route_path(airport1: @flight.origin_airport.slug, airport2: @flight.destination_airport.slug), title: "View flights between #{@flight.origin_airport.city} and #{@flight.destination_airport.city}") %>
    </td>
  </tr>
  <% if @flight.travel_class %>
  <tr>
    <td class="label-column">Travel Class</td>
    <td id="flight-travel-class">
			<%= quality_stars(TravelClass::CLASSES[@flight.travel_class][:quality], inline: :left) %><%= link_to(TravelClass::CLASSES[@flight.travel_class][:name].titlecase, show_class_path(@flight.travel_class), title: "View #{TravelClass::CLASSES[@flight.travel_class][:name].downcase} class flights") %>
			</td>
		</td>
  </tr>
  <% end %>
  <tr>
    <td class="label-column">Airline</td>
    <td id="flight-airline">
			<div class="supplemental-code"><%= @flight.airline.iata_code %></div>
			<%= link_to(airline_icon(@flight.airline.slug, title: @flight.airline.name) + @flight.airline.name, airline_path(@flight.airline.slug), title: "View flights on " + @flight.airline.slug) %>
			</td>
  </tr>
  <% if @flight.operator %>
  <tr>
    <td class="label-column">Operated By</td>
    <td id="flight-operator">
			<div class="supplemental-code"><%= @flight.operator.iata_code %></div>
			<%= link_to(airline_icon(@flight.operator.slug, title: @flight.operator.name) + @flight.operator.name, show_operator_path(@flight.operator.slug), title: "View flights operated by " + @flight.operator.name) %>
			<% if @flight.fleet_number %> (<%= link_to("#" + @flight.fleet_number, show_fleet_number_path(@flight.operator.slug, @flight.fleet_number), title: "View flights on #{@flight.operator.name} aircraft ##{@flight.fleet_number}") %>)<% end %>
			</td>
  </tr>
  <% end %>
  <% if @flight.codeshare_airline %>
  <tr>
    <td class="label-column">Codeshare</td>
    <td id="flight-codeshare">
			<div class="supplemental-code"><%= @flight.codeshare_airline.iata_code %></div>
			<%= airline_icon(@flight.codeshare_airline.slug, title: @flight.codeshare_airline.name) %><span id="flight-codeshare-airline"><%= @flight.codeshare_airline.name %></span> <span id="flight-codeshare-flight-number"><%= @flight.codeshare_flight_number %></span>
			</td>
		</td>
  </tr>
  <% end %>
  
  <% if @flight.aircraft_family %>
    <tr>
      <td class="label-column">Equipment</td>
      <td class="aircraft-type" id="flight-aircraft">
        <%= aircraft_type_tree(@flight.aircraft_family.type_and_parent_types) %>
      </td>
    </tr>
  <% end %>

  <% if @flight.aircraft_name %>
  <tr>
    <td class="label-column">Aircraft Name</td>
    <td class="aircraft-name" id="flight-aircraft-name"><%= @flight.aircraft_name %></td>
  </tr>
  <% end %>
  <% if @flight.tail_number %>
  <tr>
    <td class="label-column">Tail Number</td>
    <td class="tail-number" id="flight-tail-number"><%= tail_number_with_country_flag(@flight.tail_number, false) %></td>
  </tr>
  <% end %>
  <% if logged_in? && @flight.fa_flight_id %>
    <tr>
      <td class="label-column">FA Flight ID</td>
      <td id="flight-fa-flight-id"><%= @flight.fa_flight_id %></td>
    </tr>
  <% end %>
</table>

<% if logged_in? && @boarding_pass.data.present? %>
  <%= render partial: "bcbp", locals: {boarding_pass: @boarding_pass} %>
<% end %>