<h1><%= @airline %></h1>

<div class="page_navigation">
  <ul>
		<li><%= link_to("Flights", "#flights", :title => "Flights flown on #{@airline}") %></li>
		<li><%= link_to("Aircraft", "#aircraft", :title => "Aircraft flown on #{@airline}") %></li>
		<li><%= link_to("Classes", "#classes", :title => "Classes flown on #{@airline}") %></li>
  </ul>
</div>

<a name="flights"></a>
<p><%= image_tag(Flight.new(:airline => @airline).airline_icon_path, :alt => @airline, :class => 'airline_icon')%> I have flown <%= pluralize(@flights.length, 'flight') %> on <span class="bold"><%= @airline %></span>.</p>

<%= gcmap_embed(route_string(@flights)) %>

<%= distance_block(@total_distance, 'total') %>

<%= render "flight_table" %>

<a name="aircraft"></a>
<h2>Aircraft Flown on <%= @airline %></h2>

<%= render "summary_aircraft_table" %>

<a name="classes"></a>
<h2>Classes Flown on <%= @airline %></h2>

<%= render "summary_travel_class_table" %>