<% provide(:title, "Annual Flight Summary") %>
<% add_breadcrumb "Admin", admin_path %>
<% add_breadcrumb "Annual Flight Summary", annual_flight_summary_path %>

<h1>Annual Flight Summary</h1>

<h2>Flights</h2>
<table class="flightlog">
  <tr>
    <th class="annual-summary">Year</th>
    <th class="annual-summary">Business</th>
    <th class="annual-summary">Mixed</th>
    <th class="annual-summary">Personal</th>
    <th class="annual-summary annual-summary-undefined">Undefined</th>
    <th class="annual-summary">Total</th>
  </tr>
<% @annual_flight_summary.each do |year, data| %>
  <% row_count = data[:count].inject(0) { |sum, n| sum + n[1] } %>
  <tr>
    <td class="annual-summary"><%= year %></td>
    <td class="annual-summary"><%= data[:count][:business] %></td>
    <td class="annual-summary"><%= data[:count][:mixed] %></td>
    <td class="annual-summary"><%= data[:count][:personal] %></td>
    <td class="annual-summary annual-summary-undefined"><%= data[:count][:undefined] > 0 ? data[:count][:undefined] : "-"  %></td>
    <td class="annual-summary"><%= row_count %></td>
  </tr>
<% end %>
</table>

<h2>Distances</h2>
<table class="flightlog">
  <tr>
    <th class="annual-summary">Year</th>
    <th class="annual-summary">Business</th>
    <th class="annual-summary">Mixed</th>
    <th class="annual-summary">Personal</th>
    <th class="annual-summary annual-summary-undefined">Undefined</th>
    <th class="annual-summary">Total</th>
  </tr>
<% @annual_flight_summary.each do |year, data| %>
  <% row_miles = data[:distance_mi].inject(0) { |sum, n| sum + n[1] } %>
  <tr>
    <td class="annual-summary"><%= year %></td>
    <td class="annual-summary annual-summary-distance">
      <%= data[:distance_mi][:business] %> mi<br>
      <%= Distance.km(data[:distance_mi][:business]) %> km
    </td>
    <td class="annual-summary annual-summary-distance">
      <%= data[:distance_mi][:mixed] %> mi<br>
      <%= Distance.km(data[:distance_mi][:mixed]) %> km
    </td>
    <td class="annual-summary annual-summary-distance">
      <%= data[:distance_mi][:personal] %> mi<br>
      <%= Distance.km(data[:distance_mi][:personal]) %> km
    </td>
    <td class="annual-summary annual-summary-distance annual-summary-undefined">
      <% if data[:distance_mi][:undefined] > 0 %>
        <%= data[:distance_mi][:undefined] %> mi<br>
      <%= Distance.km(data[:distance_mi][:undefined]) %> km
      <% else %>
        -
      <% end %>
    </td>
    <td class="annual-summary annual-summary-distance">
      <%= row_miles %> mi<br>
      <%= Distance.km(row_miles) %> km
    </td>
  </tr>
<% end %>
</table>