<% provide(:title, "Sign Up") %>
<% provide(:meta_description, "Create an account on Paul Bogard’s Flight Historian and track your flights.") %>

<h1>Sign Up</h1>

<%= form_for(@user) do |f| %>

  <% if @user.errors.any? %>
    <div id="error-explanation">
      <div class="message message-error">
        The form contains <%= pluralize(@user.errors.count, "error") %>.
      </div>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li class="error"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :alternate_email %><br />
    <%= f.text_field :alternate_email %>
  </p>
  <p>
    <%= f.submit "Create my account" %>
  </p>
  
<% end %>