<table>
	<% @vlogs.each do |vlog| %>
		<tr>
			<td class="video_thumbnail"><%= link_to(image_tag("http://img.youtube.com/vi/#{vlog[1]}/mqdefault.jpg", :class => "video_gallery", :width => 160, :height => 90, :title => vlog[0]), "http://www.youtube.com/watch?v=#{vlog[1]}")%></td>
			<td class="video_title">
				<%= link_to(vlog[0], "http://www.youtube.com/watch?v=#{vlog[1]}") %>
				<p class="supplemental">Day <%= vlog[2] %> &middot; <%= format_date(Date.parse(vlog[3])) %></p>
			</td>
			<td class="video_trip_link">
				<% if vlog[4] %>
				<%= link_to("✈", trip_path(vlog[4]), :title => (Trip.exists?(vlog[4]) ? Trip.find(vlog[4]).name : nil))%>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>