<h1>About Paul</h1>

<%= image_tag("about/portrait-oahu.jpg", :alt => "Portrait of Paul Bogard", :class => "portrait") %>

<p>Paul Bogard is the Lead Engineer for KC-46 Aircrew Training Systems with the United States Air Force at Wright-Patterson Air Force Base, Ohio. He has been performing acquisition of full flight simulators as a systems engineer since 2009.  He holds a Bachelor of Science in Computer Engineering from <%= link_to("Rose-Hulman Institute of Technology",'http://www.rose-hulman.edu/') %> and a Master of Science in Computer Engineering from <%= link_to("Wright State University",'http://www.wright.edu/') %>.</p>

<p>Paul enjoys travel, airports, airplanes, trains, interesting roads and intersections, and nearly anything else related to transportation. He currently lives in Beavercreek, Ohio.</p>

<h2>Professional Memberships</h2>

<p><%= link_to(image_tag("about/ieee-logo.png", :alt => "IEEE", :title => "IEEE"), 'http://www.ieee.org/') %></p>

<h2>Contact Paul</h2>

<p>Email: <%= link_to "paulbogard@gmail.com", 'mailto:paulbogard@gmail.com' %></p>

<p><%= link_to(image_tag("about/linkedinprofilebutton.gif", :alt => "Paul Bogard's LinkedIn profile"), 'http://www.linkedin.com/pub/paul-bogard/31/162/a15') %></p>