<h1>Computer History</h1>

<h2>Mobile</h2>

<table>
	<tr>
		<td class="computer_history_text">
			<p class="component">Palm m105</p>
			<p class="supplemental">Palm m105</p>
			<p class="purchased">July 2000 – July 2002</p>
		</td>		
		<td class="computer_history_image">
			<%= computer_attributed_image("computers/palm-m105.png", "Palm m105", "amazon.com", nil) %>
		</td>
	<tr>
		<td class="computer_history_text">
			<p class="component">Sony Clié</p>
			<p class="supplemental">Sony CLIÉ PEG-T615C</p>
			<p class="purchased">July 2002 – October 2005</p>
		</td>		
		<td class="computer_history_image">
			<%= computer_attributed_image("computers/sony-clie.png", "Sony CLIÉ PEG-T615C", "engadget.com", nil) %>
		</td>		
	</tr>
	<tr>
		<td class="computer_history_text">
			<p class="component">Tator Tot</p>
			<p class="supplemental">HP iPAQ RX1950</p>
			<p class="purchased">October 2005 – February 2009</p>
		</td>		
		<td class="computer_history_image">
			<%= computer_attributed_image("computers/tator-tot.png", "Tator Tot", "pcmag.com", nil) %>
		</td>		
	</tr>
	<tr>
		<td class="computer_history_text">
			<p class="component">Tator Tot II</p>
			<p class="supplemental">HTC Touch Pro</p>
			<p class="purchased">February 2009 – July 2009</p>
		</td>		
		<td class="computer_history_image">
			<%= computer_attributed_image("computers/tator-tot-ii.png", "Tator Tot II", "brighthand.com", nil) %>
		</td>		
	</tr>
	<tr>
		<td class="computer_history_text">
			<p class="component">Olive</p>
			<p class="supplemental">Blackberry Bold 9650</p>
			<p class="purchased">July 2009 – May 2011</p>
		</td>		
		<td class="computer_history_image">
			<%= computer_attributed_image("computers/olive.png", "Olive", "Evan-Amos", "Public Domain") %>
		</td>		
	</tr>
	<tr>
		<td class="computer_history_text">
			<p class="component">Tator Tot III</p>
			<p class="supplemental">Apple iPhone 4 32GB</p>
			<p class="purchased">May 2011 – November 2013</p>
		</td>		
		<td class="computer_history_image">
			<%= computer_attributed_image("computers/tator-tot-iii.png", "Tator Tot III", "anonymous", "CC BY-SA 3.0") %>
		</td>		
	</tr>
	<tr>
		<td class="computer_history_text">
			<p class="component">Tator Tot IV</p>
			<p class="supplemental">Apple iPhone 5s 32GB</p>
			<p class="purchased">November 2013 – November 2015</p>
		</td>		
		<td class="computer_history_image">
			<%= computer_attributed_image("computers/tator-tot-iv.png", "Tator Tot IV", "Justin14", "CC BY-SA 3.0") %>
		</td>		
	</tr>
	<tr>
		<td class="computer_history_text">
			<p class="component">Tator Tot V</p>
			<p class="supplemental">Apple iPhone 6s 64GB</p>
			<p class="purchased">November 2015 – Present</p>
		</td>		
		<td class="computer_history_image">
			<%= computer_attributed_image("computers/tator-tot-v.png", "Tator Tot V", "Rayukk", "CC BY-SA 3.0") %>
		</td>		
	</tr>
</table>