<h1>Computers</h1>

<%= link_to(photo_gallery_image("computers/Desk 2014-07-31 - 800.jpg", "Paul's Desk"), 'images/computers/Desk 2014-07-31.jpg') %>

<a name="homecomputers"></a>
<h2>Home Computers</h2>

<table>
	<tr>
		<th class="blank"></th>
		<th>Pancake</th>
		<th>Frites Liberté</th>
	</tr>
	<tr>
		<td class="component_title">Model</td>
		<td class="component">
			<ul class="component">
				<li>
					<p class="component">Home-Built PC</p>
					<p class="supplemental">MicroATX Mini Tower</p>
				</li>
			</ul>
		</td>
		<td class="component">
			<ul class="component">
				<li>
					<p class="component">Apple MacBook Pro</p>
					<p class="supplemental">13" Notebook &middot; Mid 2012 (9,2) &middot; <span class="unpictured">Not Pictured</span></p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2015-06-27"} %>
				</li>
			</ul>
	</tr>
	<tr>
		<td class="component_title">Photo</td>
		<td class="component_photo">
			<%= link_to(image_tag("computers/Pancake 2014-07-31 - Thumbnail.jpg", :class => "photo_gallery", :alt => "Photo of the inside of Pancake's case"), 'images/computers/Pancake 2014-07-31.jpg') %>
		</td>
		<td class="component_photo">
		</td>
	</tr>
	<tr>
		<td class="component_title">Operating Systems</td>
		<td class="component">
			<ul class="component">
				<li>
					<p class="component">Microsoft Windows 10 Pro</p>
					<p class="supplemental">64-bit</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2015-08-16"} %>
				</li>
			</ul>
		</td>
		<td class="component">
			<ul class="component">
				<li>
					<p class="component">Mac OS X Yosemite</p>
					<p class="supplemental">10.10.3</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2015-06-27"} %>
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td class="component_title">Processor</td>
		<td class="component">
			<ul class="component">
				<li>
					<p class="component">Intel Core i5-4690</p>
					<p class="supplemental">Haswell Refresh &middot; 3.5 GHz</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2014-07-22"} %>
				</li>
			</ul>
		</td>
		<td class="component">
			<ul class="component">
				<li>
					<p class="component">Intel Core i5</p>
					<p class="supplemental">2.5 GHz &middot; Dual-Core</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2015-06-27"} %>
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td class="component_title">Motherboard</td>
		<td class="component">
			<ul class="component">
				<li>
					<p class="component">ASRock H97M PRO4</p>
					<p class="supplemental">MicroATX</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2014-07-22"} %>
				</li>
			</ul>
		</td>
		<td class="component"></td>
	</tr>
	<tr>
		<td class="component_title">Wireless</td>
		<td class="component"></td>
		<td class="component">
			<ul class="component">
				<li>
					<p class="component">802.11n Wi-Fi</p>
					<p class="supplemental">Built-in</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2015-06-27"} %>
				</li>
				<li>
					<p class="component">Bluetooth</p>
					<p class="supplemental">Bluetooth 4.0</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2015-06-27"} %>
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td class="component_title">Graphics Cards</td>
		<td class="component">
			<ul class="component">
				<li>
					<p class="component">EVGA GeForce GTX670</p>
					<p class="supplemental">2 GB GDDR5 256 bit</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2012-09-04"} %>
				</li>
			</ul>
		</td>
		<td class="component">
			<ul class="component">
				<li>
					<p class="component">Intel HD Graphics 4000</p>
					<p class="supplemental">1 GB</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2015-06-27"} %>
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td class="component_title">Memory</td>
		<td class="component">
			<ul class="component">
				<li>
					<p class="component">8 GB G.Skill Ares Series</p>
					<p class="supplemental">DDR3-1600</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2014-07-22"} %>
				</li>
			</ul>
		</td>
		<td class="component">
			<ul class="component">
				<li>
					<p class="component">4 GB</p>
					<p class="supplemental">DDR3-1600</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2015-06-27"} %>
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td class="component_title">Storage</td>
		<td class="component">
			<ul class="component">
				<li>
					<p class="component">1 TB Samsung 840 EVO</p>
					<p class="supplemental">SSD</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2014-07-22"} %>
				</li>
				<li>
					<p class="component">1 TB Western Digital Caviar</p>
					<p class="supplemental">HDD &middot; 7200 RPM</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2010-11-04"} %>
				</li>
			</ul>
		</td>
		<td class="component">
			<ul class="component">
				<li>
					<p class="component">500 GB</p>
					<p class="supplemental">HDD &middot; 5400 RPM</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2015-06-27"} %>
				</li>
				<li>
					<p class="component">2 TB Western Digital My Passport</p>
					<p class="supplemental">External HDD (USB)</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2012-12-25"} %>
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td class="component_title">Optical Disk</td>
		<td class="component">
			<ul class="component">
				<li>
					<p class="component">Samsung DVD±R</p>
					<p class="supplemental">20X</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2008-05-02"} %>
				</li>
			</ul>
		</td>
		<td class="component">
			<ul class="component">
				<li>
					<p class="component">SuperDrive DVD±R DL</p>
					<p class="supplemental">8X &middot; DVD±RW &middot; CD-RW</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2015-06-27"} %>
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td class="component_title">Card Reader</td>
		<td class="component">
			<ul class="component">
				<li>
					<p class="component">nMediaPC 3.5" Bay Card Reader</p>
					<p class="supplemental">Built-in</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2008-05-02"} %>
				</li>
			</ul>
		</td>
		<td class="component">
			<ul class="component">
				<li>
					<p class="component">SDXC Card Slot</p>
					<p class="supplemental">CF &middot; MS &middot; MD &middot; SD &middot; MMC &middot; XD &middot; SM &middot; USB</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2015-06-27"} %>
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td class="component_title">Power Supply</td>
		<td class="component">
			<ul class="component">
				<li>
					<p class="component">SeaSonic G Series</p>
					<p class="supplemental">550 W &middot; Modular</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2014-07-22"} %>
				</li>
			</ul>
		</td>
		<td class="component"></td>
	</tr>
	<tr>
		<td class="component_title">Case</td>
		<td class="component">
			<ul class="component">
				<li>
					<p class="component">Silverstone TJ08B-E</p>
					<p class="supplemental">Black &middot; MicroATX Mini Tower</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2014-07-22"} %>
				</li>
			</ul>
		</td>
		<td class="component"></td>
	</tr>
	<tr>
		<td class="component_title">CPU Cooler</td>
		<td class="component">
			<ul class="component">
				<li>
					<p class="component">Cooler Master Hyper 212 EVO</p>
					<p class="supplemental">120mm &middot; PWM &middot; 9 - 36 dBA</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2014-07-22"} %>
				</li>
			</ul>
		</td>
		<td class="component"></td>
	</tr>
	<tr>
		<td class="component_title">Monitors</td>
		<td class="component">
			<ul class="component">
				<li>
					<p class="component">22" Acer AL2216W LCD</p>
					<p class="supplemental">1680×1050</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2008-01-11"} %>
				</li>
				<li>
					<p class="component">22" Acer AL2216W LCD</p>
					<p class="supplemental">1680×1050</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2008-01-11"} %>
				</li>
			</ul>
		</td>
		<td class="component">
			<ul class="component">
				<li>
					<p class="component">13.3" Integrated LCD</p>
					<p class="supplemental">LED backlight &middot; 1280×800</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2015-06-27"} %>
				</li>
				<li>
					<p class="component">20.1" Viewsonic VX2035wm LCD</p>
					<p class="supplemental">1680×1050</p>
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td class="component_title">Keyboard</td>
		<td class="component" colspan="2">
			<ul class="component">
				<li>
					<p class="component">CoolerMaster Storm QuickFire XT Mechanical</p>
					<p class="supplemental">Full Size &middot; CHERRY MX Brown Switches &middot; Shared via <%= link_to("Synergy", "http://synergy-project.org/") %></p><%= render :partial => "computers_purchased", :locals => {:purchase_date => "2014-03-05"} %>
				</li>
				<li>
					<p class="component">Logitech K400r Wireless</p>
					<p class="supplemental">With Touchpad &middot; <span class="unpictured">Not Pictured</span></p><%= render :partial => "computers_purchased", :locals => {:purchase_date => "2013-10-26"} %>
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td class="component_title">Mouse</td>
		<td class="component" colspan="2">
			<ul class="component">
				<li>
					<p class="component">Logitech G400s</p>
					<p class="supplemental">8-Button &middot; Shared via <%= link_to("Synergy", "http://synergy-project.org/") %></p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2015-02-14"} %>
				</li>
			</ul>			
		</td>
	</tr>
	<tr>
		<td class="component_title">Game Controllers</td>
		<td class="component">
			<ul class="component">
				<li>
					<p class="component">Microsoft Xbox 360 Controller</p>
					<p class="supplemental">Wired</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2011-11-24"} %>
				</li>
				<li>
					<p class="component">Saitek AV8R Joystick</p>
					<p class="supplemental">Flight Stick</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2009-02-20"} %>
				</li>
			</ul>
		</td>
		<td class="component"></td>
	</tr>
	<tr>
		<td class="component_title">Speakers</td>
		<td class="component" colspan="2">
			<ul class="component">
				<li>
					<p class="component">Philips FW-C35 Mini-HiFi System</p>
					<p class="supplemental">Shared via mixer</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2001-07-08"} %>
				</li>					
			</ul>			
		</td>
	</tr>
	<tr>
		<td class="component_title">Mixer</td>
		<td class="component" colspan="2">
			<ul class="component">
				<li>
					<p class="component">GemSound DMX-2071 Stereo Preamp Mixer</p>
					<p class="supplemental">4-Channel</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2007-11-27"} %>
				</li>
			</ul>			
		</td>
	</tr>
	<tr>
		<td class="component_title">Headset</td>
		
		<td class="component" colspan="2">
			<ul class="component">
				<li>
					<p class="component">Sennheiser PC 8 USB</p>
					<p class="supplemental">Stereo USB Headset</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2014-10-18"} %>
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td class="component_title">Webcam</td>
		<td class="component">
			<ul class="component">
				<li>
					<p class="component">Logitech C260 Webcam</p>
					<p class="supplemental">1280×760</span></p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2012-03-12"} %>
				</li>
			</ul>
		</td>
		<td class="component">
			<ul class="component">
				<li>
					<p class="component">FaceTime HD Camera</p>
					<p class="supplemental">Built-in &middot; 720p</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2015-06-27"} %>
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td class="component_title">Printer</td>
		<td class="component" colspan="2">
			<ul class="component">
				<li>
					<p class="component">Brother HL-2170 Laser</p>
					<p class="supplemental">Shared via Home Network</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2008-05-02"} %>
				</li>
			</ul>			
		</td>
	</tr>
</table>

<a name="network"></a>
<h2>Network</h2>

<table>
	<tr>
		<td class="component_title">Router</td>
		<td class="component" colspan="2">
			<ul class="component">
				<li>
					<p class="component">Linksys E2500 Wireless Router</p>
					<p class="supplemental">802.11n &middot; Simultaneous dual-band</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2013-07-14"} %>
				</li>
			</ul>			
		</td>
	</tr>
</table>

<a name="mobile"></a>
<h2>Mobile</h2>

<table>
	<tr>
		<th>Tator Tot IV</th>
		<th>Latke</th>
	</tr>
	<tr>
		<td class="component">
			<ul class="component">
				<li>
					<p class="component">Apple iPhone 5S</p>
					<p class="supplemental">32 GB &middot; Gray</p><%= render :partial => "computers_purchased", :locals => {:purchase_date => "2013-11-29"} %>
				</li>
			</ul>
		</td>
		<td class="component">
			<ul class="component">
				<li>
					<p class="component">Apple iPad (4th Generation)</p>
					<p class="supplemental">64 GB &middot; Cellular &middot; Black</p><%= render :partial => "computers_purchased", :locals => {:purchase_date => "2013-01-04"} %>
				</li>
			</ul>
		</td>
	</tr>
</table>

<a name="consoles"></a>
<h2>Consoles</h2>

<table>
	<tr>
		<td class="component_title">Console</td>
		<td class="component console">
			<ul class="component">
				<li>
					<p class="component">Xbox 360</p>
					<p class="supplemental">Microsoft &middot; Elite</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2010-01-08"} %>
				</li>
			</ul>
		</td>
		<td class="component console">
			<ul class="component">
				<li>
					<p class="component">Wii</p>
					<p class="supplemental">Nintendo &middot; White</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2007-09-07"} %>
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td class="component_title">Display</td>
		<td class="component" colspan="2">
			<ul class="component">
				<li>
					<p class="component">47" Visio VT470M LCD</p>
					<p class="supplemental">1080p &middot; 120 Hz</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2009-12-30"} %>
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td class="component_title">Sound</td>
		<td class="component" colspan="2">
			<ul class="component">
				<li>
					<p class="component">Onkyo HT-S6200 Home Theater</p>
					<p class="supplemental">7.1-channel</p>
					<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2009-12-30"} %>
				</li>
			</ul>
		</td>
	</tr>
</table>
			