<h1>Paul's Current Home</h1>
<p>I currently rent a one bedroom, one bath apartment a few miles from where I work.</p>
<h2>Layout</h2>

<%= photo_gallery_image("current_home/Layout.png", "3D model of apartment layout. The apartment has one bedroom, one bathroom, and a combined living room, dining, and kitchen area.", false)%>

<p class="center">
  <%= link_to "Bedroom", current_home_path(:anchor => "Bedroom") %> |
  <%= link_to "Bathroom", current_home_path(:anchor => "Bathroom") %> |
  <%= link_to "Living Area, Dining Area, and Kitchen", current_home_path(:anchor => "Living") %> |
  <%= link_to "Outside", current_home_path(:anchor => "Outside") %>
</p>

<h2 id="Bedroom">Bedroom</h2>

<p>My bedroom also acts as my office area, and my favorite feature of my bedroom is my desk.</p>

<%= photo_gallery_image("current_home/Bedroom-Desk.jpg", "Photo of a desk with three monitors and a laptop on top.  Above the desk is a hutch with a sound system.")%>

<p>My goal with my desk setup was to have a simple, clean setup with a lot of functionality. For a sense of scale, the desk surface is 6 feet wide and 3 feet deep.</p>

<p>The desktop tower controls the left two monitors, and the laptop controls the right monitor and its own screen. I use <%= link_to "Synergy", 'http://synergy-foss.org/' %> to share the keyboard and mouse between the two computers, so I effectively have a single four screen desktop that I can move the cursor across and copy and paste between.</p>

<p>I had the hutch above the desk custom built for me; it’s mounted on the wall like a kitchen cabinet would be. The middle two sections were designed to be 19" wide including the walls, so that I could rack mount the mixer directly to the wood in either of the middle two sections. The mixer allows me to be able to listen to sounds from both computers at the same time (for example, when playing a game on one while listening to music on the other) rather than having to choose one or the other. The outputs of the mixer are fed to the wireless headphones (for voice chat echo avoidance) on the main desk surface and to the decade-old stereo system on the hutch (for all other listening purposes).</p>

<p>To the left of my desk are my bookshelf and dresser.</p>

<%= photo_gallery_image("current_home/Bedroom-Bookshelf-Dresser.jpg", "Photo of a bookshelf and a dresser. The bookshelf has a clock and scanner on top, and the dresser has a laser printer on top.")%>

<p>The scanner is directly connected to my desktop.  The laser printer has its own ethernet connection and is connected directly to my router, so any computer on my home network can use it.</p>

<p>Continuing counterclockwise, we have my bed, nightstand, and one of my closets.</p>

<%= photo_gallery_image("current_home/Bedroom-Bed-Nightstand.jpg", "Photo of a bed and nightstand.  Both are against the same wall, and a window is also on this wall, centered behind the bed.  The nightstand is in a corner, and around the corner is a closet.")%>

<p>I'd like to get curtains for the window soon, but I'm also planning on replacing the bedspread, so I'll do both at once when I decide on a color scheme for the bedroom.</p>

<p>My bedroom has two closets, both on the same wall.</p>

<%= photo_gallery_image("current_home/Bedroom-Closets.jpg", "Photo of a wall with two closets. The right closet is the same closet seen in the previous photo.")%>

<p>The right closet is used for clothes, and the left closet is used for light storage.</p>

<%= photo_gallery_image("current_home/Bedroom-Left-Closet-Open.jpg", "Photo of an open closet, with nine small plastic containers stacked.  The containers are labeled: A/V Cables, Case Components, Data, Drives and Media, Manuals, Misc, Networking, Peripherals, and Power.")%>

<p>I store things in alphabetical order.</p>

<p><%= link_to "Back to Top", current_home_path(:anchor => "top") %></p>

<h2 id="Living">Living Area, Dining Area, and Kitchen</h2>

<%= photo_gallery_image("current_home/Living-Couches.jpg", "Photo of a couch, loveseat, and ottoman. The loveseat and couch are perpendicular to each other, and the ottoman sits in the angle they form.")%>

<p><%= link_to "Back to Top", current_home_path(:anchor => "top") %></p>

<h2 id="Bathroom">Bathroom</h2>

<p><%= link_to "Back to Top", current_home_path(:anchor => "top") %></p>

<h2 id="Outside">Outside</h2>

<p>My front porch leads into my hallway.</p>

<%= photo_gallery_image("current_home/Outside-Welcome.jpg", "Photo of a front door, with a welcome mat spelling out 'welcome' in ASCII binary.")%>

<p>My sister bought the <%= link_to "binary welcome mat", 'http://www.thinkgeek.com/homeoffice/gear/69e3/?srp=2 '%> for my birthday one year.</p>

<p><%= link_to "Back to Top", current_home_path(:anchor => "top") %></p>
