<h1>EBDB: The EarthBound Database</h1>

<p><%= link_to("EBDB", 'http://starmen.net/mother2/ebdb/') %> is a database website I designed to catalog various aspects of the Super Nintendo game <em><%= link_to("EarthBound", 'http://en.wikipedia.org/wiki/EarthBound') %></em>.</p>

<h2>Design</h2>

<p>I used PHP for the server-side scripting and MySQL for the database.</p>

<p><em>EarthBound</em>, as a role-playing game, has a reasonably complicated relationship between its entity types, with a number of many-to-many relationships:</p>

<%= photo_gallery_image("ebdb/entity-relationship-diagram.png", "Entity-relationship diagram for the EBDB", false) %>

<p>Items are especially difficult, as they can fall into one of many different categories, with different attributes applicable for each category.  For example, armor items would have values for how much they improve the player's defense, while food items would have values for how much health they allow the player to recover.</p>

<p>To accommodate this structure, I set up the database with a table for each entity, and a junction table for each many-to-many relationship</p>

<p>When displaying items, they're listed individually or in a group with other items of the same category. The only exception where items of different categories are displayed together is in the <%= link_to("alphabetical item list", 'http://starmen.net/mother2/ebdb/items.php?sort=abc') %>, which displays only name, an attribute common to all items.  Thus, I set up the main items table with only attributes common to all items, including an enumerated category attribute.  I also created a table for each item category containing that category's specific attributes, and joined the appropriate table to the main item table for all individual item or item category lookups.</p>

<h2>History</h2>

<p>I originally created this site as a project to teach myself PHP and MySQL web development, and hosted it on my personal website. I announced it on the forums of the <em>EarthBound</em> fan site <%= link_to("Starmen.Net", 'http://starmen.net/') %>; soon, they offered to let me integrate it into their site, where it resides today.</p>

<p class="center"><%= link_to(image_tag('ebdb/ebdblogothinshort.png', :alt => "EBDB"), 'http://starmen.net/mother2/ebdb/') %><br /><%= link_to("EBDB: The EarthBound Database", 'http://starmen.net/mother2/ebdb/') %></p>