<% if (logged_in? && @hidden_trips.any?) %>
<p class="active_trips">
<% @hidden_trips.each do |trip| %>
Active Trip: <%= link_to(trip.name, trip_path(trip)) %><br/>
<% end %>
</p>
<% end %>

<p>In 2009, I started traveling frequently for work. Not long after that, I began to document <%= link_to("every commercial flight", flights_path) %> I'd taken since my sixteenth birthday. This flight log takes all of that data, and makes maps and tables out of it.</p>

<% if @flights.empty? %>
<%= render 'flights/error_no_flights' %>
<% end %>

<div class="intro_box">
	<%= embed_gcmap_flights(@flights) %>
	<p class="total"><span class="distance_primary"><%= distance_string(@total_distance) %></span> &middot; <%= link_to("See all <span class=\"summary_total\">#{pluralize(@flights.length, 'flight')}</span>".html_safe, flights_path)%></p>
</div>

<% if @flights.any? %>
<div class="center">

<div class="intro_box column">
  <h2>Top Airports</h2>
  <table class="flightlog">
    <tr class="th">
      <th class="left">City</th>
      <th class="center">Code</th>
      <th class="center">Visits</th>
    </tr>
  <% @airport_array.first(5).each do |airport| %>
    <tr>
      <td class="left"><%= country_flag(airport[:country]) %> <%= link_to(airport[:city], airport_path(airport[:iata_code]), :title => "View airport details for #{airport[:city]}") %></td>
      <td class="center iata_mono"><%= link_to(airport[:iata_code], airport_path(airport[:iata_code]), :title => "View airport details for #{airport[:city]}") %></td>
      <td class="center"><%= airport[:frequency] %></td>
    </tr>
  <% end %>
  </table>
  <p><%= link_to("See all <span class=\"summary_total\">#{pluralize(@airport_array.count, 'airport')}</span>".html_safe, airports_path)%></p>
</div>

<div class="intro_box column">
  <h2>Top Airlines</h2>
  <table class="flightlog">
    <tr class="th">
      <th class="left">Airline</th>
      <th class="center">Flights</th>
    </tr>
  <% @flight_airlines.first(5).each do |airline| %>
    <tr>
      <td class="left">
      <%= link_to(image_tag(airline_icon_path(airline.iata_airline_code), alt: airline.airline_name, class: 'airline_icon') + airline.airline_name, airline_path(airline.iata_airline_code), :title => "View flights on #{airline.airline_name}") %></td>
      <td class="center"><%= airline.flight_count %></td>
    </tr>
  <% end %>
  </table>
  <p><%= link_to("See all <span class=\"summary_total\">#{pluralize(@flight_airlines.length, 'airline')}</span>".html_safe, airlines_path)%></p>
</div>

<div class="intro_box column">
  <h2>Top Routes</h2>
  
  <table class="flightlog">
    <tr class="th">
      <th class="left">Route</th>
      <th class="center">Flights</th>
    </tr>
  <% @route_totals.first(5).each do |flight_route, value| %>
    <tr>
      <td class="left"><%= link_to("<span class=\"iata_mono\">#{flight_route[0]}</span> &#x21C4; <span class=\"iata_mono\">#{flight_route[1]}</span>".html_safe, route_path(flight_route.join("-")), :title => "View flights between #{flight_route[0]} and #{flight_route[1]}") %></td>
      <td class="center"><%= value %></td>
    </tr>
  <% end %>
  </table>
  <p><%= link_to("See all <span class=\"summary_total\">#{pluralize(@route_totals.length, 'route')}</span>".html_safe, routes_path)%></p>
</div>

<div class="intro_box column">
  <h2>Top Aircraft</h2>
  
  <table class="flightlog">
    <tr class="th">
      <th class="left">Aircraft Family</th>
      <th class="center">Flights</th>
    </tr>
  <% @aircraft_array.first(5).each do |aircraft| %>
    <tr>
      <td class="left"><%= link_to(aircraft[:aircraft], aircraft_families_path(aircraft[:aircraft].gsub(" ", "_")), :title => "View flights on #{aircraft[:aircraft]} aircraft") %></td>
      <td class="center"><%= aircraft[:count] %></td>
    </tr>
  <% end %>
  </table>
  <p><%= link_to("See all <span class=\"summary_total\">#{pluralize(@aircraft_array.count, 'aircraft family')}</span>".html_safe, aircraft_families_path)%></p>
</div>

<div class="intro_box column">
  <h2>Top Tails</h2>
  <table class="flightlog">
    <tr class="th">
      <th class="left">Tail Number</th>
      <th class="center">Flights</th>
  <% @tails_array.first(5).each do |tail| %>
    <tr>
      <td class="left tail_number"><%= tail_number_country_flag(tail[:tail_number]) %> <%= link_to(tail[:tail_number], show_tail_path(tail[:tail_number]), :title => "View flights on tail number #{tail[:tail_number]}") %></td>
      <td class="center"><%= tail[:count] %></td>
    </tr>
  <% end %>
  </table>
  <p><%= link_to("See all <span class=\"summary_total\">#{pluralize(@tails_array.count, 'tail number')}</span>".html_safe, tails_path)%></p>
</div>

</div>

<div class="center">

<% if @route_superlatives || logged_in? %>	
<div class="intro_box column">
  <h2>Superlatives</h2>
	<%= render "routes/route_superlatives_table", :superlatives => @route_superlatives %>
	
</div>
<% end %>

</div>

<% end %>

<p class="center">Flights from trips in progress are not shown until the trip is complete.</p>
<p class="pre_footer"><%= link_to("How I made the flight log", "http://pbogard.com/flight_log")%></p>
