<p>In 2009, I started traveling frequently for work. Not long after that, I began to document <%= link_to("every commercial flight", flights_path) %> Iʼd taken since my sixteenth birthday. This flight log takes all of that data, and makes maps and tables out of it.</p>

<% if @flights.empty? %>
  <%= render "flights/error_no_flights" %>
<% end %>

<div class="intro_box">
	<%= map_with_region_select(@map, @region) %>
	<p class="total"><span class="distance-primary"><%= render partial: "routes/distance_string", locals: {distance: @total_distance} %></span> &middot; <%= link_to(%Q(See all <span class="summary-total">#{pluralize(@flights.length, "flight")}</span>).html_safe, flights_path)%></p>
</div>

<% if @flights.any? %>
<div class="center">

<div class="intro_box column">
  <h2>Top Airports</h2>
  <table class="flightlog">
    <tr>
      <th class="left">City</th>
      <th class="center">Code</th>
      <th class="center">Visits</th>
    </tr>
  <% @flight_airports.first(5).each do |airport| %>
    <tr>
      <td class="left"><%= country_flag(airport[:country]) %> <%= link_to(airport[:city], airport_path(airport[:iata_code]), :title => "View airport details for #{airport[:city]}") %></td>
      <td class="center code-mono"><%= link_to(airport[:iata_code], airport_path(airport[:iata_code]), :title => "View airport details for #{airport[:city]}") %></td>
      <td class="center"><%= airport[:visit_count] %></td>
    </tr>
  <% end %>
  </table>
  <p><%= link_to(%Q(See all <span class="summary-total">#{pluralize(@flight_airports.count, "airport")}</span>).html_safe, airports_path)%></p>
</div>

<div class="intro_box column">
  <h2>Top Airlines</h2>
  <table class="flightlog">
    <tr>
      <th class="left">Airline</th>
      <th class="center">Flights</th>
    </tr>
  <% @flight_airlines.first(5).each do |airline| %>
    <tr>
      <td class="left">
      <%= link_to(image_tag(airline_icon_path(airline[:iata_airline_code]), alt: airline[:iata_airline_code], class: "airline_icon") + airline[:airline_name], airline_path(airline[:iata_airline_code]), :title => "View flights on #{airline[:airline_name]}") %></td>
      <td class="center"><%= airline[:flight_count] %></td>
    </tr>
  <% end %>
  </table>
  <p><%= link_to(%Q(See all <span class="summary-total">#{pluralize(@flight_airlines.length, "airline")}</span>).html_safe, airlines_path)%></p>
</div>

<div class="intro_box column">
  <h2>Top Routes</h2>
  
  <table class="flightlog">
    <tr>
      <th class="left">Route</th>
      <th class="center">Flights</th>
    </tr>
  <% @flight_routes.first(5).each do |flight_route| %>
    <tr>
      <td class="left"><%= link_to(%Q(<span class="code-mono">#{flight_route[:route][0]}</span> &#x21C4; <span class="code-mono">#{flight_route[:route][1]}</span>).html_safe, route_path(flight_route[:route].join("-")), :title => "View flights between #{flight_route[:route][0]} and #{flight_route[:route][1]}") %></td>
      <td class="center"><%= flight_route[:flight_count] %></td>
    </tr>
  <% end %>
  </table>
  <p><%= link_to(%Q(See all <span class="summary-total">#{pluralize(@flight_routes.length, "route")}</span>).html_safe, routes_path)%></p>
</div>

<div class="intro_box column">
  <h2>Top Aircraft</h2>
  
  <table class="flightlog">
    <tr>
      <th class="left">Aircraft Family</th>
      <th class="center">Flights</th>
    </tr>
  <% @flight_aircraft.first(5).each do |aircraft| %>
    <tr>
      <td class="left"><%= link_to(%Q(<span class="aircraft-manufacturer">#{aircraft[:manufacturer]}</span> #{aircraft[:family_name]}).html_safe, aircraft_family_path(aircraft[:id]), title: "View flights on #{aircraft[:family_name]} aircraft") %></td>
      <td class="center"><%= aircraft[:flight_count] %></td>
    </tr>
  <% end %>
  </table>
  <p><%= link_to(%Q(See all <span class="summary-total">#{pluralize(@flight_aircraft.length, "aircraft family")}</span>).html_safe, aircraft_families_path)%></p>
</div>

<div class="intro_box column">
  <h2>Top Tails</h2>
  <table class="flightlog">
    <tr>
      <th class="left">Tail Number</th>
      <th class="center">Flights</th>
  <% @flight_tails.first(5).each do |tail| %>
    <tr>
      <td class="left tail-number"><%= tail_number_with_country_flag(tail[:tail_number]) %></td>
      <td class="center"><%= tail[:count] %></td>
    </tr>
  <% end %>
  </table>
  <p><%= link_to(%Q(See all <span class="summary-total">#{pluralize(@flight_tails.count, "tail number")}</span>).html_safe, tails_path)%></p>
</div>

</div>

<div class="center">

<% if @route_superlatives || logged_in? %>	
<div class="intro_box column">
  <h2>Superlatives</h2>
	<%= render "routes/route_superlatives_table", :superlatives => @route_superlatives %>
</div>
<% end %>

</div>
<% end %>

<p class="center">Flights from trips in progress are not shown until the trip is complete.</p>
<p class="pre-footer">
  <%= link_to("How I made the Flight Historian", "https://www.pbogard.com/projects/flight-historian", target: "_blank")%> &emsp; 
  <%= link_to("Boarding Pass Parser", boarding_pass_path)%>
</p>
