<p>In 2009, I started traveling frequently for work. Not long after that, I began to document <%= link_to("every commercial flight", flights_path) %> Iʼd taken since my sixteenth birthday. This flight log takes all of that data, and makes maps and tables out of it.</p>

<% if @flights.empty? %>
  <%= render "flights/error_no_flights" %>
<% end %>

<div class="intro-box">
	<%= gcmap_with_region_select(@map, @region) %>
  <p class="total"><span class="distance-primary"><%= render partial: "routes/distance_string", locals: {distance: @total_distance} %></span> &middot; <%= link_to(ActiveSupport::SafeBuffer.new + "See all " + content_tag(:span, pluralize(@flights.length, "flight"), class: "summary-total"), flights_path) %></p>
</div>

<% if @flights.any? %>
<div class="center">

<div class="intro-box column">
  <h2>Top Airports</h2>
  <table class="flightlog">
    <tr>
      <th class="left">City</th>
      <th class="center">Code</th>
      <th class="center">Visits</th>
    </tr>
  <% @flight_airports.first(5).each do |airport| %>
    <tr>
      <td class="left"><%= country_flag_icon(airport[:country]) %> <%= link_to(format_airport_name(airport[:city]), airport_path(airport[:iata_code]), title: "View airport details for #{airport[:city]}") %></td>
      <td class="center code-mono"><%= link_to(airport[:iata_code], airport_path(airport[:iata_code]), title: "View airport details for #{airport[:city]}") %></td>
      <td class="center"><%= airport[:visit_count] %></td>
    </tr>
  <% end %>
  </table>
  <p><%= link_to(ActiveSupport::SafeBuffer.new + "See all " + content_tag(:span, pluralize(@flight_airports.count, "airport"), class: "summary-total"), airports_path) %></p>
</div>

<div class="intro-box column">
  <h2>Top Airlines</h2>
  <table class="flightlog">
    <tr>
      <th class="left">Airline</th>
      <th class="center">Flights</th>
    </tr>
  <% @flight_airlines.first(5).each do |airline| %>
    <tr>
      <td class="left">
      <%= link_to(airline_icon(airline[:icao_airline_code], title: airline[:airline_name]) + airline[:airline_name], airline_path(airline[:iata_airline_code]), title: "View flights on #{airline[:airline_name]}") %></td>
      <td class="center"><%= airline[:flight_count] %></td>
    </tr>
  <% end %>
  </table>
  <p><%= link_to(ActiveSupport::SafeBuffer.new + "See all " + content_tag(:span, pluralize(@flight_airlines.length, "airline"), class: "summary-total"), airlines_path) %></p>
</div>

<div class="intro-box column">
  <h2>Top Routes</h2>
  
  <table class="flightlog">
    <tr>
      <th class="left">Route</th>
      <th class="center">Flights</th>
    </tr>
  <% @flight_routes.first(5).each do |flight_route| %>
    <tr>
      <td class="left"><%= link_to(format_route(flight_route[:route]), route_path(flight_route[:route].join("-")), title: "View flights between #{flight_route[:route][0]} and #{flight_route[:route][1]}") %></td>
      <td class="center"><%= flight_route[:flight_count] %></td>
    </tr>
  <% end %>
  </table>
  <p><%= link_to(ActiveSupport::SafeBuffer.new + "See all " + content_tag(:span, pluralize(@flight_routes.length, "route"), class: "summary-total"), routes_path) %></p>
</div>

<div class="intro-box column">
  <h2>Top Aircraft</h2>
  
  <table class="flightlog">
    <tr>
      <th class="left">Aircraft Family</th>
      <th class="center">Flights</th>
    </tr>
  <% @flight_aircraft.first(5).each do |aircraft| %>
    <tr>
      <td class="left"><%= link_to(format_aircraft_family(aircraft[:manufacturer], aircraft[:family_name]), aircraft_family_path(aircraft[:id]), title: "View flights on #{aircraft[:family_name]} aircraft") %></td>
      <td class="center"><%= aircraft[:flight_count] %></td>
    </tr>
  <% end %>
  </table>
  <p><%= link_to(ActiveSupport::SafeBuffer.new + "See all " + content_tag(:span, pluralize(@flight_aircraft.length, "aircraft family"), class: "summary-total"), aircraft_families_path) %></p>
</div>

<div class="intro-box column">
  <h2>Top Tails</h2>
  <table class="flightlog">
    <tr>
      <th class="left">Tail Number</th>
      <th class="center">Flights</th>
  <% @flight_tails.first(5).each do |tail| %>
    <tr>
      <td class="left tail-number"><%= tail_number_with_country_flag(tail[:tail_number]) %></td>
      <td class="center"><%= tail[:count] %></td>
    </tr>
  <% end %>
  </table>
  <p><%= link_to(ActiveSupport::SafeBuffer.new + "See all " + content_tag(:span, pluralize(@flight_tails.count, "tail number"), class: "summary-total"), tails_path) %></p>
</div>

</div>

<div class="center">

<% if @route_superlatives || logged_in? %>	
<div class="intro-box column">
  <h2>Superlatives</h2>
	<%= render "routes/route_superlatives_table", :superlatives => @route_superlatives %>
</div>
<% end %>

</div>
<% end %>

<p class="center">Flights from trips in progress are not shown until the trip is complete.</p>
<p class="pre-footer">
  <%= link_to("How I made the Flight Historian", "https://www.pbogard.com/projects/flight-historian", target: "_blank")%> &emsp; 
  <%= link_to("Boarding Pass Parser", boarding_pass_path)%>
</p>
