<h1>GPS Log</h1>

<h2>Driving</h2>

<p>From July 2010 to December 2011, I recorded a log of everywhere I drove, and imported it into <%= link_to("Google Earth", 'http://www.google.com/earth/index.html') %>.</p>

<%= photo_gallery_image("gps_log/US-Driving.png", "Google Earth map of driving tracks") %>

<p>I performed the logging with a <%= link_to("Garmin nüvi 1390T", 'https://buy.garmin.com/shop/shop.do?pID=32700&ra=true')%> automotive GPS. However, I've been able to extract the log from other Garmin nüvi models as well.</p>

<p>The GPS log gives a good overview of everywhere I drove in the country for that year and a half &mdash; when I traveled and rented a car, I brought along my GPS to record those routes as well.  For example, the Dallas/Fort Worth metroplex in Texas:</p>

<%= photo_gallery_image("gps_log/DFW-Driving.png", "Google Earth map of driving tracks") %>

<p>Even at closer zoom levels, the detail is decent:</p>

<%= photo_gallery_image("gps_log/30-Driving.png", "Google Earth map of driving tracks") %>

<ul><li>Tutorial: <%= link_to "Garmin GPS Logging", gps_logging_garmin_path %></li></ul>

<!--
<h2>Walking and Biking</h2>

<ul><li>Tutorial: <%= link_to "iPhone GPS Logging", gps_logging_iphone_path %></li></ul>
-->