<div class="splash"><%= link_to(image_tag("fodbait.jpg", :alt => "Photo of Paul Bogard on an airplane with an engine just outside his window", :class => "splash"), projects_path) %></div>
<div class="intro">
  <ul>
    <li>Portfolio of <%= link_to("Projects", projects_path) %></li>
    <li>Online <%= link_to("Résumé", resume_path) %></li>
    <li><%= link_to("About", about_path) %> Paul Bogard</li>
    <li class="spacer"></li>
    <li>Paul's <%= link_to("Blog", "http://onehundredairports.com/") %></li>
    <li>Paul's <%= link_to("Flight Log", flightlog_path) %></li>
  </ul>
</div>