<h1>CAD 3D Models</h1>

<p>I've used <acronym="Computer-Aided Design">CAD</acronym> software to create a number of 3D models.</p>

<p>My usual tool is the freeware <%= link_to "Google SketchUp", 'http://sketchup.google.com/' %>. <strong>In order to open the .skp files below, you will need to <%= link_to "download SketchUp", 'http://sketchup.google.com/intl/en/download/' %>.</strong></p>

<h2 id="MediaRoom">Media Room</h2>

<%= photo_gallery_image("modeling/Media-Room.png", "SketchUp model of a basement room", false) %>
<%= download_link "Media Room.skp", 'files/modeling/Media Room.skp' %>

<p>This model is an idealized version of an entertainment room in a walk-out basement.  The room dimensions are not from any specific basement; rather, I made this model to determine how large such a basement would need to be.</p>

<p>This room was designed around the desk; specifically, the goal was to allow a view of the television over the top of the desktop monitors, while still allowing a number of other guests to watch from the sectional couch:</p>

<%= photo_gallery_image("modeling/Media-Room-Desk-View.png", "SketchUp model of a basement room, from the eyepoint of someone sitting at the desk", false) %>

<p>Appropriate cabling would be added to allow the desktop computer's display to be an input to the television.  A wireless keyboard and mouse would be used to allow one to use the desktop on the large television while sitting on the couch.</p>

<p>The tables at the back of the room were intended to seat up to sixteen guests:</p>

<%= photo_gallery_image("modeling/Media-Room-Rear-Tables.png", "SketchUp model of a basement room, from a viewpoint above the rear tables", false) %>

<p>This was intended for use in either tabletop gaming or a LAN party (where guests would provide their own computers). The LAN party configuration, however, would require substantial power and additional cooling for all of the computers.  The latter in particular is why this room is intended to be in a walk-out basement.  During cooler weather, opening the door would be sufficient; during warmer weather, the exterior wall would provide an opportunity for installation of additional air conditioning.</p>

<h2 id="Home">Home</h2>

<%= photo_gallery_image("modeling/Home.png", "SketchUp model of an apartment layout", false) %>
<%= download_link "Home.skp", 'files/modeling/Home.skp' %>

<p>I originally created this model with no furniture to demonstrate the layout of my apartment in a photo gallery.  Later, I created furniture for the bedroom to play around with its layout.  Eventually, I plan to model the furniture in the remainder of the apartment.</p>

<h2 id="TruckWeightFrame">Truck Weight Frame</h2>

<%= photo_gallery_image("modeling/Truck-Weight-Frame.png", "SketchUp model of a wooden frame", false) %>
<%= download_link "Truck Weight Frame.skp", 'files/modeling/Truck Weight Frame.skp' %>

<p>I drive a rear wheel drive pickup truck, so during the winter, it's useful to have some weight centered over the rear axle. I created this model to design a wooden frame to hold ten concrete blocks in place in the truck bed.</p>

<h2 id="Westcott">Gingerbread Westcott House</h2>

<%= photo_gallery_image("modeling/Westcott-Gingerbread.png", "SketchUp model of a simplified Westcott House", false) %>
<%= download_link "Westcott Gingerbread.skp", 'files/modeling/Westcott Gingerbread.skp' %>

<p>This model was used to plan out a <%= link_to("gingerbread house", 'images/modeling/Westcott-Gingerbread-Photo.jpg') %> based on the Frank Lloyd Wright-designed <%= link_to("Westcott House", 'http://en.wikipedia.org/wiki/Westcott_House_%28Springfield,_Ohio%29')%>.</p>

<h2 id="Pancake">Pancake (Desktop Computer)</h2>

<%= photo_gallery_image("modeling/Computer-Pancake.png", "SketchUp model of a desktop tower", false) %>
<%= download_link "Computer - Pancake.skp", 'files/modeling/Computer - Pancake.skp' %>

<p>Pancake is the tower for my primary computer, built in a in Lian Li PC-7B Plus Chassis.</p>

<h2 id="ChiliDog">Chili Dog (MacBook Pro)</h2>

<%= photo_gallery_image("modeling/MBP-Chili-Dog.png", "SketchUp model of a MacBook Pro laptop", false) %>
<%= download_link "Computer - ChiliDog.skp", 'files/modeling/Computer - ChiliDog.skp' %>

<p>Chili Dog is my MacBook Pro laptop.</p>

<h2 id="Wii">Nintendo Wii</h2>

<%= photo_gallery_image("modeling/Nintendo-Wii.png", "SketchUp model of a Nintendo Wii", false) %>
<%= download_link "Nintendo Wii.skp", 'files/modeling/Nintendo Wii.skp' %>

<h2 id="BoatQuarters">Boat Quarters</h2>

<%= photo_gallery_image("modeling/Boat-Quarters.png", "SketchUp model of living quarters on a boat", false) %>
<%= download_link "Boat Quarters.skp", 'files/modeling/Boat Quarters.skp' %>

<p>This model of living quarters on a fictional boat was largely an experiment to see how I would handle placing furnishings and fixtures along a curved wall.</p>

<h2 id="FishsticksHQ">The Fish Sticks Headquarters</h2>

<%= photo_gallery_image("modeling/Fishstick-HQ.png", "SketchUp model of a building shaped like a pair of fish sticks", true) %>
<%= download_link "Fish Stick HQ.skp", 'files/modeling/Fish Stick HQ.skp' %>

<p>For no good reason, I decided to make a fish stick complex in <%= link_to "Minecraft", 'http://www.minecraft.net/'%>. Before starting the build, I sketched up a model of what I wanted the end result to look like.  The bowl of the complex is designed to be vaguely reminiscent of a rectangular frying pan.</p>

<p>The finished result:</p>

<%= photo_gallery_image("modeling/Fishstick-HQ-Minecraft-1.jpg", "Minecraft screenshot of completed Fish Sticks Headquarters", true) %>
<%= photo_gallery_image("modeling/Fishstick-HQ-Minecraft-2.jpg", "Minecraft screenshot of completed Fish Sticks Headquarters", true) %>

<p>Unfortunately, the curvature of the bowl doesn't look quite as nice when rendered in 1-meter blocks, but making it bigger to reduce the pixellation would have been impractical.</p>