<h1>Projects</h1>

<ul class="project_tile">
  <%= project_tile("Flight Log", flight_log_path, "projects/Flight-Logging.png") %>
  <%= project_tile("CAD 3D Models", modeling_path, "projects/3D-Modeling.png") %>
  <%= project_tile("GPS Log", gps_log_path, "projects/GPS-Logging.png") %>
  <%= project_tile("Turn Signal Counter", turn_signal_counter_path, "projects/Turn-Signal-Counter.jpg") %>
  <%= project_tile("Hotel Internet Quality", hotel_internet_quality_path, "projects/Hotel-Internet-Quality.jpg") %>
  <%= project_tile("Visor Cam", visor_cam_path, "projects/Visor-Cam.jpg") %>
  <%= project_tile("EarthBound Database", ebdb_path, "projects/EBDB.png") %>
</ul>