<h1>StephenVlog Appearances</h1>
<p>I've known Stephen Georg on <%= link_to("Starmen.Net", 'http://starmen.net') %> for years (and first met him in person in 2007). Over the years, I ended up getting featured a few times on <%= link_to("StephenVlog", 'http://www.youtube.com/user/stephenvlog') %>.</p>

<h2>Gatlinburg</h2>

<p>My first appearances on the Vlog were during the 2010 Starmen.Net convention in Gatlinburg, Tennessee. As there were 50 people at that convention, I was only on in the background of a few of the videos.</p>

<ul>
	<li><%= link_to("Day 245 - 7/27/10", 'http://www.youtube.com/watch?v=F1JP-CSq30Y') %> (3:45)</li>
	<li><%= link_to("Day 246 - 7/28/10", 'http://www.youtube.com/watch?v=CxGFwLkhArU') %> (5:45)</li>
	<li><%= link_to("Day 247 - 7/29/10", 'http://www.youtube.com/watch?v=662ZZaYX208') %> (2:51 - 3:36, 4:16 - 5:00)</li>
	<li><%= link_to("Day 249 - 7/31/10", 'http://www.youtube.com/watch?v=PkSIR2DDfXQ') %> (2:31)</li>
</ul>
	
<h2>South Carolina</h2>
	
<p>Starting in 2012, I began having frequent business trips to Charleston, South Carolina, and managed to meet up with Stephen and Mal a few times.</p>

<%
@vlogs.clear
@vlogs.push ["I Feel Very Overdressed", "WYtoyGu2DcM", "819", "2012-02-21", 38]
@vlogs.push ["Cadillacs & Dinosaurs", "uqpVvrdTExE", "841", "2012-03-14", 41]
@vlogs.push ["25 Wings", "vEHcjByTJUg", "891", "2012-05-03", 44]
%>

<%= render :partial => "pages/vlog_table" %>

<h2>Ohio</h2>

<p>On their way to and from Wisconsin in June and July 2012, Stephen and Mal met up with me in Ohio, where I live.</p>

<%
@vlogs.clear
@vlogs.push ["I Officially Like Curry", "YHXNQa_sQl4", "940", "2012-06-21"]
@vlogs.push ["Secret of Mana", "MK8bxRdkNKU", "958", "2012-07-09"]
%>

<%= render :partial => "pages/vlog_table" %>

<h2>South Carolina</h2>

<%
@vlogs.clear
@vlogs.push ["Hog Heaven", "6-lg2kFTLw8", "975", "2012-07-26", 52]
%>

<%= render :partial => "pages/vlog_table" %>

<h2>PAX Prime 2012</h2>

<p>Stephen, Mal, and I shared a hotel suite in Seattle for PAX Prime 2012, and spent time at the convention and around Seattle together.</p>

<%
@vlogs.clear
@vlogs.push ["Quadruple and a Half Bus Madness", "oi-R-N6yZKQ", "1010", "2012-08-30", 60]
@vlogs.push ["Do You Want A Hug?", "erRWjYPWSH4", "1011", "2012-08-31", 60]
@vlogs.push ["My Mom Makes The Best Rice Krispy Treats, Don'tcha Think?", "N10Gjl0yzYs", "1012", "2012-09-01", 60]
@vlogs.push ["ICREMTUNA!", "tah0uL3Yw40", "1013", "2012-09-02", 60]
@vlogs.push ["Every Stump", "0jub9Zbcjb0", "1014", "2012-09-03", 60]
%>

<%= render :partial => "pages/vlog_table" %>

<h2>South Carolina</h2>

<%
@vlogs.clear
@vlogs.push ["Duck", "1jhCuxHdh7w", "1106", "2012-12-04", 65]
%>

<%= render :partial => "pages/vlog_table" %>

<h2>PAX East 2013</h2>

<p>During PAX East 2013, I met up with Stephen for dinner.</p>

<%
@vlogs.clear
@vlogs.push ["LadyGaga.com/balls", "9seKoZZpQHE", "1215", "2013-03-23", 66]
%>

<%= render :partial => "pages/vlog_table" %>

<h2>South Carolina</h2>

<%
@vlogs.clear
@vlogs.push ["This is the Future of Gaming", "U1JVbCe2CfU", "1276", "2013-05-23", 69]
%>

<%= render :partial => "pages/vlog_table" %>

<h2>PAX East 2014</h2>

<%
@vlogs.clear
@vlogs.push ["Give Me The Crown!", "Fh1xxgwhWvg", "1600", "2014-04-12", 80]
%>

<%= render :partial => "pages/vlog_table" %>

<h2>Indiana</h2>

<%
@vlogs.clear
@vlogs.push ["Olympic Gold Medalist in Space Discus", "5USOBbWnyN0", "1713", "2014-08-03"]
%>


<%= render :partial => "pages/vlog_table" %>