<h1>Turn Signal Counter</h1>

<%= photo_gallery_image("turn_signal_counter/Completed-Counter-Case.jpg", "Rear end of a Dodge Ram pickup truck, with the turn signal lit, and a four-digit counter sitting on the bumper")%>

<h2>Introduction</h2>

<p>Not long after I purchased my truck, I was playing around with a new multimeter, and I noticed the truck's trailer electrical connector.</p>

<%= photo_gallery_image("turn_signal_counter/Truck-Connector.jpg", "Trailer electrical connector")%>

<p>After taking voltage measurements with various combinations of truck lights, I decided that it would be feasible to create a simple counter circuit to keep track of the number of times a turn signal had been lit since the beginning of the current trip.</p>

<h2>Requirements</h2>

<ol type="1">
  <li>The counter shall not affect the performance of the truck.</li>
  <ol type="a">
    <li>The counter shall not permanently modify the truck in any manner.</li>
    <li>The truck shall remain legally drivable while the counter is installed.</li>
  </ol>
  <li>The counter shall be water resistant and operational from 0°F to 100°F.</li>
  <li>The counter shall count the number of cycles of the left turn signal since the beginning of the current trip.</li>
  <ol type="a">
    <li>The counter shall have a decimal display of at least four digits to display the count.</li>
  </ol>
</ol>

<h2>Design</h2>

<p>After voltage measurements, I determined the electrical connector has the following layout:</p>

<%= photo_gallery_image("turn_signal_counter/Truck-Connector-Signals.jpg", "Trailer electrical connector with three female pins on the left and one male pin on the right. From left to right, the connectors are labeled 'right turn/brake,' 'left turn/brake,' 'running lights,' and 'ground.'")%>

<p>The running lights pin has a +12 V signal whenever the headlamp switch is set to parking lights or headlights. Since I normally drive with my parking lights or headlights on anyway, I was able to use this pin for my +12 V power line.</p>

<p>The brake/left pin has a +12 V signal whenever the left turn signal is on the lit half of its cycle or when the brake pedal is depressed, and is at 0 V otherwise. The brake/right pin behaves similarly. I used the brake/left signal to increment the counter. I used rising edge, since these lamps are normally off, so having the counter increment whenever they light made the most sense. With this setup, the counters increment on brake presses as well as turn signals, so it is technically a counter of how many times each of the left and right tail lights have been lit to full brightness. (To avoid this brake capture, future work could incorporate logic to increment on the rising edge of the left signal only if the right signal is not also rising.)<p>

<p>I designed the setup for each counter circuit as follows:</p>

<%= photo_gallery_image("turn_signal_counter/Turn-Signal-Logic.png", "Schematic diagram for the counter circuit", false)%>

<p>The <%= link_to("CD4026BE", "files/turn_signal_counter/cd4026b.pdf") %></a> is a decade counter and with 7-segment outputs.  It counts from zero to nine and then resets.  Carry out is high from decimal 0 to 4, and high from decimal 5 to 9 &mdash; one cycle per ten clock inputs. Thus, the carry out of one chip can be tied to the clock of the next higher decimal place's chip to display a proper decimal count.</p>

<p>This is not the most optimal display layout; however, I had an abundance of 1 k&Omega; resistors, and power consumption was not a concern in this application. It may have been possible to use four counters, a multiplexer, and a single BCD to 7-segment converter rather than four individual ones.  However, the only clock signal I had to drive the multiplexer with was the turn signal itself, which only runs at about 1 Hz.  Since the turn signal is my data input anyway, it would not have been ideal for me to use it as a clock regardless of its frequency, so I would have been forced to have a separate clock circuit to drive the multiplexer.  In the end, I decided that such a setup wouldn't really be any simpler or more effective than simply using four BCD to 7-segment converters on each counter.</p>

<p>The 1 M&Omega; resistor was added to control bouncing on the signal input; a proper debouncing circuit may be included on future updates.  The 22 k&Omega; resistor between the RST pins and ground was necessary to get the circuit to reset properly when powered on.</p>

<h2>Construction</h2>

<p>I made the original prototype on a breadboard.  Using a single resistor on the common cathode for each display still fell into spec for any number of lit digits, although with uneven brightness of different numbers. For a prototype, this was an acceptable tradeoff for wiring simplicity.</p>

<%= photo_gallery_image("turn_signal_counter/Counter-Breadboard.jpg", "Counter circuit on a breadboard") %>
<%= photo_gallery_image("turn_signal_counter/Counter-Breadboard-On-Truck.jpg", "Counter circuit on a breadboard, sitting on the truck's bumper") %>

<p>Next, I mounted the circuit on a stripboard.</p>

<%= photo_gallery_image("turn_signal_counter/Counter-Stripboard.jpg", "Counter circuit on a stripboard (front and view)") %>
<%= photo_gallery_image("turn_signal_counter/Counter-Stripboard-On-Truck.jpg", "Counter circuit on a stripboard, sitting on the truck's bumper") %>

<h2>Final Product</h2>

<p>I had deliberately chosen the size of the stripboard to fit into the case for a spare accessory truck lamp I owned. This provided water resistance without sacrificing digit visibility.</p>

<%= photo_gallery_image("turn_signal_counter/Counter-Case.jpg", "Counter circuit mounted in a case") %>
<%= photo_gallery_image("turn_signal_counter/Counter-Case-On-Truck-1.jpg", "Case on the truck's bumper") %>
<%= photo_gallery_image("turn_signal_counter/Counter-Case-On-Truck-2.jpg", "Case on the truck's bumper") %>

<h2>Future Ideas</h2>

<ul>
  <li>Add a proper debouncing circuit between the signal and the clock input</li>
  <li>Build a second counter for the right turn signal</li>
  <li>Filter out brake triggering of the counter by creating logic to increment the appropriate counter if and only if exactly one signal is rising</li>
</ul>