<h1>Visor Cam</h1>

<p>Visor Cam was an experiment to see if I could record video while driving.</p>

<p>As I drive a full-size pickup truck, the cabin height is substantial, and I was able to mount a standard point-and-shoot camera to the sun visor without blocking my vision.  After downloading each video from the camera, I would speed it up in video editing software (eight times normal running speed subjectively seemed to work best).</p>

<p>Below are a few of my favorite visor cam videos.  To see all of the videos, please view my <%= link_to("visor cam Youtube playlist", 'http://www.youtube.com/playlist?list=PL20905252D0306C6E&feature=plcp')%>.

<h2>Snow Drive</h2>
<p>After doing a few test videos, this was my first production video, depicting a drive through Fairborn, Ohio after a snowfall.</p>

<%= youtube_embed("lsMeWAGIxN8")%>

<p>The video is not perfect; the high position of the camera in the truck cabin placed it above the coverage area of the windshield wipers, leaving some water droplets in front of the camera.  Nonetheless, the drive is clearly visible.</p>

<h2>Cincinnati at Night</h2>

<p>This video was taken while driving northbound on I-75 from near Buttermilk Pike on the Kentucky side of the Ohio River, across the river, and through downtown.</p>

<%= youtube_embed("MBPb9A9wuL0")%>

<h2>Interstate H-3</h2>

<p>While on vacation on the island of Oahu, Hawaii, I took a video along the 15-mile length of <%= link_to("Interstate H-3", 'http://en.wikipedia.org/wiki/Interstate_H-3') %>.
  
<p>This video has slightly more glare and vibration than normal; my rental car's cabin was nowhere near as tall as my truck's, so I couldn't safely mount the camera on my visor.  Thus, I had to make a temporary mount by fastening a miniature camera tripod to a GPS suction cup mount at the lower center of the dashboard, which resulted in some reflections of the dashboard itself in the windshield.</p>

<%= youtube_embed("304kVh_o4s4")%>