<% known_airports = airports.select{|a| a[:iata_code].present?} %>
  
<% if known_airports.any? %>
  <% new_airports ||= Array.new %>
  <% legend_range ||= "this date range" %>
  
  <table class="flightlog">
    <thead>
      <tr>
    		<th class="counter">#</th>
        <th class="airport-country"><%= is_summary ? content_tag(:abbr, "Cnt", title: "Country") : sort_link(content_tag(:abbr, "Cnt", title: "Country"), :country, :asc, "airports-list") %></th>
    		<th class="airport-city"><%= is_summary ? "City" : sort_link("City", :city, :asc, "airports-list") %></th>
        <th class="airport-code"><%= is_summary ? "Code" : sort_link("Code", :code, :asc, "airports-list") %></th>
        <th class="airport-visits"><%= is_summary ? "Visits" : sort_link("Visits", :visits, :desc, "airports-list") %></th>
      </tr>
    </thead>
    <tbody>
    <% previous_count = nil %>

    <% airline_maximum = known_airports.max_by{|i| i[:visit_count]}[:visit_count]%>
    <% known_airports.each_with_index do |airport, index| %>
      <%= content_tag(:tr, class: (new_airports.include?(airport[:iata_code]) ? "new" : nil)) do %>
        <td class="counter"><%= ((is_summary || @sort[0] == :visits) && airport[:visit_count] == previous_count) ? Table::SAME_RANK : index + 1 %></td>
    		<td class="airport-country"><%= country_flag_icon(airport[:country]) %></td>
        <td class="airport-city"><%= link_to(format_airport_name(airport[:city]), airport_path(airport[:iata_code]), :title => "View airport details for #{airport[:city]}") %><% if new_airports.include?(airport[:iata_code]) %>*<% end %></td>
        <td class="airport-code code-mono"><%= link_to(airport[:iata_code], airport_path(airport[:iata_code]), :title => "View airport details for #{airport[:city]}") %></td>
        <td class="airport-visits"><%= render "flights/graph_block", :value => airport[:visit_count], :maximum => airline_maximum %></td>
      <% end %>
    	<% previous_count = airport[:visit_count] %>
    <% end %>

      <tr><td colspan="5" class="flightlog-total"><%= pluralize(known_airports.count, "airport") %></td></tr>
    </tbody>

  </table>

  <% if (known_airports.map{|a| a[:iata_code]} & new_airports).any? %>
    <p class="new-legend">* Airport first visited in <%= legend_range %></p>
  <% end %>
  
<% end %>
