<%= form_for(@airport) do |f| %>

  <%= render "error_messages" %>

  <p>
    <%= f.label :iata_code, "IATA Code" %><br />
    <% if @lookup_fields && @lookup_fields[:iata_code] %>
      <%= f.text_field :iata_code, readonly: true, value: @lookup_fields[:iata_code], size: 3, maxlength: 3, class: "code-mono all-caps" %>
    <% else %>
      <%= f.text_field :iata_code, size: 3, maxlength: 3, class: "code-mono all-caps" %>
    <% end %>
  </p>

  <p>
    <%= f.label :icao_code, "ICAO Code" %><br />
    <% if @lookup_fields && @lookup_fields[:icao_code] %>
      <%= f.text_field :icao_code, readonly: true, value: @lookup_fields[:icao_code], size: 4, maxlength: 4, class: "code-mono all-caps" %>
    <% else %>
      <%= f.text_field :icao_code, size: 4, maxlength: 4, class: "code-mono all-caps" %>
    <% end %>
  </p>

  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>

  <p>
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </p>

  <% if @airport.persisted? %>
    
    <p>
      <%= f.label :latitude, "Latitude (decimal degrees)" %><br />
      <%= f.text_field :latitude %>
    </p>

    <p>
      <%= f.label :longitude, "Longitude (decimal degrees)" %><br />
      <%= f.text_field :longitude %>
    </p>

  <% end %>

  <p>
    <%= f.label :slug, "Unique Slug" %><br />
    <%= f.text_field :slug, size: 25 %><br />
  	Used to uniquely identify the airport in URL parameters. Generally the uppercase IATA code; if non-unique, append name with hyphens in place of non-alphanumeric.<br>
    Examples: <span class="code-mono">ORD</span>, <span class="code-mono">DEN-Stapleton</span>
  </p>

  <p>
    <%= f.submit yield(:button_text) %>
  </p>

<% end %>