<%= form_for(@airport) do |f| %>

  <%= render "error_messages" %>

  <p>
    <%= f.label :iata_code, "IATA Code" %><br />
    <%= f.text_field :iata_code, size: 3, maxlength: 3, class: "code-mono all-caps" %>
  </p>

  <p>
    <%= f.label :icao_code, "ICAO Code" %><br />
    <%= f.text_field :icao_code, size: 4, maxlength: 4, class: "code-mono all-caps" %>
  </p>

  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>


  <p>
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </p>

  <p>
    <%= f.submit yield(:button_text) %>
  </p>

<% end %>