<% provide(:title, "Airports") %>
<% provide(:meta_description, "Maps and lists of airports Paul Bogard has visited, and how often heʼs visited them.") %>
<% add_admin_action link_to("Add New Airport", new_airport_path) %>
<% add_breadcrumb "Airports", airports_path %>

<h1>Airports</h1>

<% if @flights.any? %>

	<div class="page-navigation">
	  <ul>
			<li><%= link_to("Airport Map", "#airport-map", :title => "Airports Map") %></li>
			<li><%= link_to("List of Airports", "#airports-list", :title => "List of Airports") %></li>
			<li><%= link_to("Airport Frequency Map", "#airport-frequency-map", :title => "Airport Frequency Map") %></li>
	  </ul>
	</div>

<% end %>

<p>I have visited <%= pluralize(@airports.count || 0, "airport") %>.</p>

<% if @flights.any? %>

	<div id="airport-map">
    <%= gcmap_with_region_select(@airports_map, @region, anchor: "airports-map") %>
  </div>

	<div id="airports-list">

  	<p class="center">A layover counts as one single visit to a given airport, even though two flights use it.</p>

    <%= render partial: "airport_count_table", locals: {airports: @airports, is_summary: false} %>

  	<% if (logged_in? && @airports_with_no_flights.any?) %>
    	<h2>Airports with No Flights</h2>
    	<table class="flightlog">
    	<% @airports_with_no_flights.each do |airport| %>
    	  <tr>
    	    <td class="airport-city"><%= country_flag_icon(airport[:country]) %> <%= link_to(format_airport_name(airport.city), airport_path(airport[:slug]), title: "View airport details for #{airport.city}") %></td>
    	    <td class="airport-code code-mono"><%= link_to(airport.iata_code, airport_path(airport[:slug]), title: "View airport details for #{airport.city}") %></td>

    	  </tr>
    	<% end %>
    	</table>
    <% end %>
  </div>

	<h2 id="airport-frequency-map">Airport Frequency Map</h2>

	<p>This map shows how often Iʼve visited each airport. The area of the black rings centered on each red airport represents the number of times Iʼve visited that airport.</p>

  <%= gcmap_with_region_select(@frequency_map, @region, anchor: "frequency-map") %>

<% else %>

	<%= render "flights/error_no_flights" %>

<% end %>