<% if @airport.country %>
<div id="title-info"><%= @airport.country %><%= image_tag(@airport.country_flag_path, title: @airport.country, class: "country_flag") %></div>
<% end %>

<h1><%= format_airport_name(@airport.city) %></h1>


<div class="page_navigation">
  <ul>
		<li><%= link_to("Map", "#map", :title => "Map of flights using #{@airport.iata_code}") %></li>
		<li><%= link_to("Airports", "#airports", :title => "Origin and destination airports for #{@airport.iata_code}") %></li>
		<li><%= link_to("Airlines", "#airlines", :title => "Airlines using #{@airport.iata_code}") %></li>
		<li><%= link_to("Operators", "#operators", :title => "Operators using #{@airport.iata_code}") %></li>
		<li><%= link_to("Aircraft", "#aircraft", :title => "Aircraft using #{@airport.iata_code}") %></li>
		<li><%= link_to("Classes", "#classes", :title => "Classes flown to or from #{@airport.iata_code}") %></li>
		<li><%= link_to("Trip Sections", "#sections", :title => "Trip sections using #{@airport.iata_code}") %></li>
		<li><%= link_to("Trips", "#trips", :title => "Trips using #{@airport.iata_code}") %></li>
		<li><%= link_to("Flight List", "#flights", :title => "Flights using #{@airport.iata_code}") %></li>
  </ul>
</div>

<% if @airport.coordinates %>
  <div class="coordinates"><%= format_coordinates(@airport.coordinates) %></div>
<% end %>

<p>I have visited <span class="bold"><abbr title="<%= @airport.city %>"><%= @airport.iata_code %></abbr>/<abbr title="<%= @airport.city %>"><%= @airport.icao_code %></abbr></span> <%= pluralize(@airport_frequency, "time") %>.</p>

<% unless @flights.length == 0 %>

	<div id="map">  
    <%= map_with_region_select(@airport_map, @region, anchor: "airport-map") %>
	  <%= render partial: "routes/distance_block", locals: {distance: @total_distance, adjective: "total", flight_link: true} %>
  </div>

	<h2 id="airports">Direct Flight Airports for <abbr title="<%= @airport.city %>"><%= @airport.iata_code %></abbr></h2>

	<p>These are the airports with which Iʼve had a direct flight from or to <abbr title="<%= @airport.city %>"><%= @airport.iata_code %></abbr>.</p>

	<table class="flightlog">
	  <tr>
	    <th class="counter">#</th>
			<th class="airport-city"><%= sort_link("City", :city, "city", :asc, "airports") %></th>
	    <th class="airport-code"><%= sort_link("Code", :code, "code", :asc, "airports") %></th>
			<th class="airport-distance"><%= sort_link("Distance", :distance, "distance", :desc, "airports") %></th>
	    <th class="airport-flights"><%= sort_link("Flights", :flights, "flights", :desc, "airports") %></th>
	  </tr>
	
		<% previous_count = nil %>
		<% @direct_flight_airports.each_with_index do |row, index| %>
		  <tr>
	    	<td class="counter">
					<% if @sort_cat == :flights %>
						<%= (@sort_cat == :flights && row[:total_flights] == previous_count) ? "⋮" : index + 1 %>
					<% elsif @sort_cat == :distance %>
						<%= (@sort_cat == :distance && row[:distance_mi] == previous_count) ? "⋮" : index + 1 %>
					<% else %>
						<%= index + 1 %>
					<% end %>
	    	</td>
		    <td class="airport-city"><%= image_tag(Airport.new(:country => row[:country]).country_flag_path, :title => row[:country], :class => "country_flag") %> <%= link_to(format_airport_name(row[:city]).html_safe, airport_path(row[:iata_code])) %></td>
		    <td class="airport-code code-mono"><%= link_to(row[:iata_code], airport_path(row[:iata_code])) %></td>
				<td class="airport-distance"><%= render "flights/graph_block_with_unit", :value => row[:distance_mi], :maximum => @distance_maximum, :unit => "mi" %></td>
		    <td class="airport-flights"><div class="graph" style="background-size: <%= row[:total_flights]*100/@flights_maximum %>% 100%;"><%= link_to(row[:total_flights], route_path("#{@airport.iata_code}-#{row[:iata_code]}")) %></div></td>
		  </tr>
			<% previous_count = @sort_cat == :flights ? row[:total_flights] : row[:distance_mi] %>
		<% end %>
	  <tr><td colspan="5" class="flightlog-total"><%= pluralize(@direct_flight_airports.count, "direct flight airport") %></td></tr>
	</table>

	<h2 id="airports">Airlines Using <abbr title="<%= @airport.city %>"><%= @airport.iata_code %></abbr></h2>
	<%= render partial: "airlines/airline_count_table", locals: {airlines: @airlines, is_summary: true} %>
	
	<h2 id="operators">Operators Using <abbr title="<%= @airport.city %>"><%= @airport.iata_code %></abbr></h2>
	<%= render partial: "airlines/airline_count_table", locals: {airlines: @operators, type: :operator, is_summary: true, identical: (@airlines == @operators)} %>

	<h2 id="aircraft">Aircraft Using <abbr title="<%= @airport.city %>"><%= @airport.iata_code %></abbr></h2>
	<%= render partial: "aircraft_families/aircraft_family_count_table", locals: {aircraft_families: @aircraft_families, is_summary: true} %>

	<h2 id="classes">Classes Flown to or from <abbr title="<%= @airport.city %>"><%= @airport.iata_code %></abbr></h2>

	<%= render partial: "flights/class_count_table", locals: {classes: @classes, is_summary: true} %>

	<h2 id="sections">Trip Sections Using <abbr title="<%= @airport.city %>"><%= @airport.iata_code %></abbr></h2>
	<p>This map shows the flights of all of my trip sections that, at some point, flew through <abbr title="<%= @airport.city %>"><%= @airport.iata_code %></abbr>.
	<%= map_with_region_select(@sections_map, @region, anchor: "sections-map") %>
	<%= render "trips/section_table" %>

	<h2 id="trips">Trips Using <abbr title="<%= @airport.city %>"><%= @airport.iata_code %></abbr></h2>
	<p>This map shows the flights of all of my trips that, at some point, flew through <abbr title="<%= @airport.city %>"><%= @airport.iata_code %></abbr>.
	<%= map_with_region_select(@trips_map, @region, anchor: "trips-map") %>
	<%= render "trips/trip_table" %>
	
	<h2 id="flights"><abbr title="<%= @airport.city %>"><%= @airport.iata_code %></abbr> Flight List</h2>
	<table class="flightlog">
	<%= render :partial => "flights/flight_header_row" %>
	<%= render :partial => "flights/flight_row", :collection => @flights, :as => :flight %>
	<tr><td colspan="4" class="flightlog-total"><%= render :partial => "flights/flight_total_row_cell" %> &middot; <%= pluralize(@airport_frequency, "visit") %></td></tr>
	</table>

	<p>The number of flights using an airport may not be the same as the number of visits to that airport. Each time I used an airport as a layover, it counted as two flights but only one visit.</p>

<% end %>