<% provide(:title, @airport.iata_code + " – " + @airport.city) %>
<% provide(:meta_description, "Maps and lists of Paul Bogardʼs flights through #{@airport.iata_code} – #{@airport.city}.") %>
<% add_admin_action link_to("Delete Airport", @airport, method: :delete, data: {confirm: "Are you sure you want to delete #{@airport.iata_code}?"}, :class => "warning") if @flights.length == 0 %>
<% add_admin_action link_to("Edit Airport", edit_airport_path(@airport)) %>
<% add_breadcrumb "Airports", airports_path %>
<% add_breadcrumb @airport.iata_code, airport_path(@airport.slug) %>

<% if @airport.country || @airport.coordinates %>
<div id="title-info">
  <% if @airport.coordinates %>
    <div><%= format_coordinates(@airport.coordinates) %></div>
  <% end %>
  <% if @airport.country %>
    <div>
      <%= @airport.country %><%= country_flag_icon(@airport.country) %>
    </div>
  <% end %>
</div>
<% end %>

<h1><%= format_airport_name(@airport.city) %></h1>

<div class="page-navigation">
  <ul>
		<li><%= link_to("Map", "#map", title: "Map of flights using #{@airport.iata_code}") %></li>
		<li><%= link_to("Airports", "#airports", title: "Origin and destination airports for #{@airport.iata_code}") %></li>
		<li><%= link_to("Airlines", "#airlines", title: "Airlines using #{@airport.iata_code}") %></li>
		<li><%= link_to("Operators", "#operators", title: "Operators using #{@airport.iata_code}") %></li>
		<li><%= link_to("Aircraft", "#aircraft", title: "Aircraft using #{@airport.iata_code}") %></li>
		<li><%= link_to("Classes", "#classes", title: "Classes flown to or from #{@airport.iata_code}") %></li>
		<li><%= link_to("Trips and Sections", "#trips-and-sections", title: "Trips and sections using #{@airport.iata_code}") %></li>
		<li><%= link_to("Flight List", "#flights", title: "Flights using #{@airport.iata_code}") %></li>
		<li><%= link_to("Terminal", "#terminal", title: "Terminal silhouette of #{@airport.iata_code}") %></li>
  </ul>
</div>

<p>I have visited <span class="bold"><abbr title="<%= @airport.city %>"><%= @airport.iata_code %></abbr>/<abbr title="<%= @airport.city %>"><%= @airport.icao_code %></abbr></span> <%= pluralize(@airport_frequency, "time") %>.</p>

<% unless @flights.length == 0 %>

	<div id="map">  
    <%= gcmap_with_region_select(@airport_map, @region, anchor: "airport-map") %>
	  <%= render partial: "routes/distance_block", locals: {distance: @total_distance, adjective: "total", flight_link: true} %>
  </div>

	<h2 id="airports">Direct Flight Airports for <abbr title="<%= @airport.city %>"><%= @airport.iata_code %></abbr></h2>

	<p>These are the airports with which Iʼve had a direct flight from or to <abbr title="<%= @airport.city %>"><%= @airport.iata_code %></abbr>.</p>

	<table class="flightlog">
	  <tr>
	    <th class="counter">#</th>
			<th class="airport-city"><%= sort_link("City", :city, :asc, "airports") %></th>
	    <th class="airport-code"><%= sort_link("Code", :code, :asc, "airports") %></th>
			<th class="airport-distance"><%= sort_link("Distance", :distance, :desc, "airports") %></th>
	    <th class="airport-flights"><%= sort_link("Flights", :flights, :desc, "airports") %></th>
	  </tr>
	
		<% previous_count = nil %>
		<% @direct_flight_airports.each_with_index do |row, index| %>
		  <tr>
	    	<td class="counter">
					<% if @sort[0] == :flights %>
						<%= (row[:total_flights] == previous_count) ? Table::SAME_RANK : index + 1 %>
					<% elsif @sort[0] == :distance %>
						<%= (row[:distance_mi] == previous_count) ? Table::SAME_RANK : index + 1 %>
					<% else %>
						<%= index + 1 %>
					<% end %>
	    	</td>
		    <td class="airport-city"><%= country_flag_icon(row[:country]) %> <%= link_to(format_airport_name(row[:city]), airport_path(row[:slug])) %></td>
		    <td class="airport-code code-mono"><%= link_to(row[:iata_code], airport_path(row[:slug])) %></td>
				<td class="airport-distance"><%= render "flights/graph_block_with_unit", value: row[:distance_mi], maximum: @distance_maximum, unit: "mi" %></td>
		    <td class="airport-flights"><div class="graph" style="background-size: <%= row[:total_flights]*100/@flights_maximum %>% 100%;"><%= link_to(row[:total_flights], show_route_path(airport1: @airport.slug, airport2: row[:slug]), title: "View flights between #{@airport.iata_code} and #{row[:iata_code]}") %></div></td>
		  </tr>
			<% previous_count = @sort[0] == :flights ? row[:total_flights] : row[:distance_mi] %>
		<% end %>
	  <tr><td colspan="5" class="flightlog-total"><%= pluralize(@direct_flight_airports.count, "direct flight airport") %></td></tr>
	</table>

	<h2 id="airlines">Airlines Using <abbr title="<%= @airport.city %>"><%= @airport.iata_code %></abbr></h2>
	<%= render partial: "airlines/airline_count_table", locals: {airlines: @airlines, is_summary: true} %>
	
	<h2 id="operators">Operators Using <abbr title="<%= @airport.city %>"><%= @airport.iata_code %></abbr></h2>
	<%= render partial: "airlines/airline_count_table", locals: {airlines: @operators, type: :operator, is_summary: true, identical: (@airlines == @operators)} %>

	<h2 id="aircraft">Aircraft Using <abbr title="<%= @airport.city %>"><%= @airport.iata_code %></abbr></h2>
	<%= render partial: "aircraft_families/aircraft_family_count_table", locals: {aircraft_families: @aircraft_families, is_summary: true} %>

	<h2 id="classes">Classes Flown to or from <abbr title="<%= @airport.city %>"><%= @airport.iata_code %></abbr></h2>

	<%= render partial: "flights/class_count_table", locals: {classes: @classes, is_summary: true} %>


	<h2 id="trips-and-sections">Trips and Sections Using <abbr title="<%= @airport.city %>"><%= @airport.iata_code %></abbr></h2>

	<h3>Trips with a <abbr title="<%= @airport.city %>"><%= @airport.iata_code %></abbr> Visit</h3>
	<%= gcmap_with_region_select(@trips_map, @region, anchor: "trips-map") %>

	<h3>Trip Sections with a <abbr title="<%= @airport.city %>"><%= @airport.iata_code %></abbr> Visit</h3>
	<%= gcmap_with_region_select(@sections_map, @region, anchor: "sections-map") %>

	<h3>Trip and Section Details</h3>
	<%= render partial: "trips/trip_and_section_table", locals: {trips_and_sections: @trips_and_sections} %>

	
	<h2 id="flights"><abbr title="<%= @airport.city %>"><%= @airport.iata_code %></abbr> Flight List</h2>
	<table class="flightlog">
	<%= render :partial => "flights/flight_header_row" %>
	<%= render :partial => "flights/flight_row", :collection => @flights, :as => :flight %>
	<tr><td colspan="4" class="flightlog-total"><%= render :partial => "flights/flight_total_row_cell" %> &middot; <%= pluralize(@airport_frequency, "visit") %></td></tr>
	</table>

	<p>The number of flights using an airport may not be the same as the number of visits to that airport. Each time I used an airport as a layover, it counted as two flights but only one visit.</p>

	<h2 id="terminal">Terminal Silhouette</h2>

	<% if ExternalImage.exists?(@airport.terminal_silhouette_path) %>
  <div class="illustration-container">
    <% if ExternalImage.exists?(@airport.terminal_silhouette_large_path) %>
      <%= link_to(image_tag(@airport.terminal_silhouette_path, title: "#{@airport.iata_code} terminal silhouette", class: "terminal-silhouette"), @airport.terminal_silhouette_large_path, target: :_blank) %>
    <% else %>
      <%= image_tag(@airport.terminal_silhouette_path, title: "#{@airport.iata_code} terminal silhouette", class: "terminal-silhouette") %>
    <% end %>
  </div>
  <div class="credit illustration-credit">
    Terminal silhouette created by <%= link_to("Paul Bogard", "https://www.pbogard.com/projects/terminal-silhouettes", target: :_blank) %>
  </div>
<% end %>


<% end %>