<p>
  <%= f.label :airline_name %><br />
  <%= f.text_field :airline_name, size: 25 %>
</p>

<p>
  <%= f.label :iata_airline_code, "IATA Airline Code" %><br />
  <%= f.text_field :iata_airline_code, size: 15, class: "iata_mono" %><br />
	If not unique, append a hyphen and the airline name, with spaces converted to hyphens.<br />
	Example: <span class="iata_mono">OH-psa-airlines</span>
</p>

<p>
  <%= f.check_box :is_only_operator %> <%= f.label :is_only_operator, "This airline only operates flights (it does not sell or market flights)" %>
</p>