<%= form_for(@airline) do |f| %>

  <%= render "error_messages" %>

  <p>
    <%= f.label :airline_name, "Airline Name" %><br />
    <%= f.text_field :airline_name, size: 25 %>
  </p>

  <p>
    <%= f.label :iata_airline_code, "IATA Airline Code" %><br />
    <% if @lookup_fields && @lookup_fields[:iata_code] %>
      <%= f.text_field :iata_airline_code, value: @lookup_fields[:iata_code], size: 2, maxlength: 2, class: "code-mono" %><br />
    <% else %>
      <%= f.text_field :iata_airline_code, size: 2, class: "code-mono" %><br />
    <% end %>
  </p>
  
  <p>
    <%= f.label :icao_airline_code, "ICAO Airline Code" %><br />
    <% if @lookup_fields && @lookup_fields[:icao_code] %>
      <%= f.text_field :icao_airline_code, value: @lookup_fields[:icao_code], readonly: true, size: 3, maxlength: 3, class: "code-mono all-caps" %>
    <% else %>
      <%= f.text_field :icao_airline_code, size: 3, maxlength: 3, class: "code-mono all-caps" %>
    <% end %>
  </p>
  
  <p>
    <%= f.label :numeric_code, "Airline Numeric Code" %><br />
    <%= f.text_field :numeric_code, size: 3, maxlength: 3, class: "code-mono" %><br />
  	Please include leading zeroes.
  </p>
  
  <p>
    <%= f.check_box :is_only_operator %> <%= f.label :is_only_operator, "This airline only operates flights (it does not sell or market flights)" %>
  </p>

  <p>
    <%= f.label :slug, "Unique Slug" %><br />
    <%= f.text_field :slug, size: 25 %><br />
  	Used to uniquely identify the airline in URL parameters. Airline name with hyphens in place of non-alphanumeric.<br>
    Example: <span class="code-mono">American-Airlines</span>
  </p>
  
  <p>
    <%= f.submit yield(:button_text) %>
  </p>

<% end %>