<h1>Edit <%= @airline.airline_name %></h1>

<%= form_for(@airline) do |f| %>

  <%= render 'error_messages' %>
  
  <%= render :partial => 'form_fields', :locals => { :f => f } %>
  
  <p>
    <%= f.submit "Update Airline" %>
  </p>

<% end %>