<% provide(:title, "Airlines") %>
<% provide(:meta_description, "A list of the airlines on which Paul Bogard has flown, and how often heʼs flown on each.") %>
<% add_admin_action link_to("Add New Airline", new_airline_path) %>
<% add_breadcrumb "Airlines", airlines_path %>

<h1>Airlines</h1>

<% if @flights.empty? %>
  <%= render partial: "flights/error_no_flights" %>
<% else %>

  <div class="page-navigation">
    <ul>
  		<li><%= link_to("Mainline Airlines", "#airlines", :title => "Airlines") %></li>
  		<li><%= link_to("Operators", "#operators", :title => "Operators") %></li>
    </ul>
  </div>
  
  <%= render(partial: "layouts/personal_metrics", locals: {metrics: {custom: {"mainline airline(s)": @airlines.size, "operator(s)": @operators.size}}}) %>

  <h2 id="airlines">Mainline Airlines</h2>
  <% if @airlines.empty? %>
    <%= render_message(:warning, "There are no flights in the flight log that include an airline!") %>
  <% else %>
    <%= render partial: "airline_count_table", locals: {airlines: @airlines, type: :airline, is_summary: false} %>
  <% end %>

  <h2 id="operators">Operators</h2>

  <p>In many cases, an airline subcontracts another airline to operate flights for them. This happens especially often with small regional flights. This is a list of the airlines that actually operated my flights.</p>

  <% if @operators.any? %>
    <%= render partial: "airline_count_table", locals: {airlines: @operators, type: :operator, is_summary: false} %>
  <% else %>
  	<%= render_message(:warning, "All flights have unknown operators!") %>
  <% end %>


  <% if (logged_in? && @airlines_with_no_flights.any?) %>
  	<h2>Airlines/Operators with No Flights</h2>
  	<table class="flightlog" id="airlines-with-no-flights-table">
  		<tr>
  			<th class="airline-airline">Airline</th>
  			<th class="airline-code">Code</th>
  		</tr>
  	<% @airlines_with_no_flights.each do |airline| %>
  	  <tr id="airline-with-no-flights-row-<%= airline.id %>">
  	    <td class="airline-airline"><%= link_to(airline_icon(airline.slug, title: "View airline details for #{airline.name}") + airline.name, airline_path(airline.slug), title: "View airline details for #{airline.name}") %></td>
  	    <td class="airline-code code-mono"><%= link_to(airline.iata_code, airline_path(airline.slug), title: "View airline details for #{airline.name}") %></td>
  		</tr>
  	<% end %>
  	</table>
  <% end %>
 
<% end %>