<div id="title_info"><%= iata_airline_code_display(@airline.iata_airline_code) %><%= image_tag(airline_icon_path(@airline.iata_airline_code), :title => @airline.airline_name, :class => 'airline_icon')%></div>

<h1><%= @airline.airline_name %></h1>

<% if @flights.any? %>
	<div class="page_navigation">
	  <ul>
			<li><%= link_to("Map", "#map", :title => "Map of flights flown on #{@airline.airline_name}") %></li>
			<li><%= link_to("Aircraft", "#aircraft", :title => "Aircraft flown on #{@airline.airline_name}") %></li>
			<li><%= link_to("Operators", "#operators", :title => "Operators for #{@airline.airline_name} flights") %></li>
			<li><%= link_to("Classes", "#classes", :title => "Classes flown on #{@airline.airline_name}") %></li>
			<li><%= link_to("Longest and Shortest", "#superlatives", :title => "Longest and shortest routes flown on #{@airline.airline_name}") %></li>
			<li><%= link_to("Flight List", "#flights", :title => "Flights flown on #{@airline.airline_name}") %></li>
			
	  </ul>
	</div>
<% end %>


<p>I have flown <%= pluralize(@flights.length, 'flight') %> on <span class="bold"><%= @airline.airline_name %></span>.</p>

<% if @flights.any? %>

	<a name="map"></a>
	<%= embed_gcmap_flights(@flights) %>
	<%= distance_block(@total_distance, adjective: 'total', flight_link: true) %>
	
	<a name="aircraft"></a>
	<h2>Aircraft Flown on <%= @airline.airline_name %></h2>
	<%= render "flights/summary_aircraft_table" %>
	
	<a name="operators"></a>
	<h2>Operators for <%= @airline.airline_name %> Flights</h2>
	<%= render "flights/summary_operator_table" %>

	<a name="classes"></a>
	<h2>Classes Flown on <%= @airline.airline_name %></h2>
	<%= render "flights/summary_travel_class_table" %>

	<a name="superlatives"></a>
	<h2>Longest and Shortest Routes Flown on <%= @airline.airline_name %></h2>
	<%= render "routes/route_superlatives_table", :superlatives => @route_superlatives %>
	
	<a name="flights"></a>
	<h2><%= @airline.airline_name %> Flight List</h2>
	<%= render "flights/flight_table" %>

<% end %>

<% content_for :admin_actions do %>
  <% if @flights.length == 0 %>
    <%= link_to("Delete Airline", @airline, method: :delete, data: {:confirm => "Are you sure you want to delete #{@airline.airline_name}?"}, class: 'warning') %> &emsp; 
  <% end %>
  <%= link_to("Edit Airline", edit_airline_path(@airline)) %>
<% end %>