<% provide(:title, @operator.airline_name + " (Operator)") %>
<% provide(:meta_description, "Maps and lists of Paul Bogardʼs flights operated by #{@operator.airline_name}.") %>

<% add_admin_action link_to("Delete Airline", @operator, method: :delete, data: {:confirm => "Are you sure you want to delete #{@operator.airline_name}?"}, class: "warning") if @flights.length == 0 %>
<% add_admin_action link_to("Edit Airline", edit_airline_path(@operator)) %>

<% add_breadcrumb "Airlines", airlines_path %>
<% add_breadcrumb @operator.airline_name + " (operator)", show_operator_path(@operator.slug) %>

<div id="title-info"><%= @operator.iata_airline_code %> / <%= @operator.icao_airline_code %><%= airline_icon(@operator.slug, title: @operator.airline_name) %></div>

<h1>Flights Operated by <%= @operator.airline_name %></h1>

<% if @flights.any? %>

	<div class="page-navigation">
	  <ul>
			<li><%= link_to("Map", "#map", :title => "Map of flights operated by #{@operator.airline_name}") %></li>
			<li><%= link_to("Airlines", "#airlines", :title => "Airlines with flights operated by #{@operator.airline_name}") %></li>
			<li><%= link_to("Aircraft", "#aircraft", :title => "Aircraft operated by #{@operator.airline_name}") %></li>
			<li><%= link_to("Classes", "#classes", :title => "Classes flown on flights operated by #{@operator.airline_name}") %></li>
			<li><%= link_to("Longest and Shortest", "#superlatives", :title => "Longest and shortest routes operated by #{@operator.airline_name}") %></li>
			<li><%= link_to("Fleet", "#fleet", :title => "#{@operator.airline_name}ʼs Fleet") %></li>
			<li><%= link_to("Flight List", "#flights", :title => "Flights operated by #{@operator.airline_name}") %></li>
	  </ul>
	</div>

<% end %>


<p><span class="bold"><%= @operator.airline_name %></span> has operated <%= @flights.length %> of my flights.</p>

<% if @flights.any? %>

	<div id="map">
    <%= gcmap_with_region_select(@map, @region) %>
	  <%= render partial: "routes/distance_block", locals: {distance: @total_distance, adjective: "total", flight_link: true} %>
  </div>

	<h2 id="airlines">Airlines with Flights Operated by <%= @operator.airline_name %></h2>
	<%= render partial: "airlines/airline_count_table", locals: {airlines: @airlines, is_summary: true} %>

	<h2 id="aircraft">Aircraft Operated by <%= @operator.airline_name %></h2>
	<%= render partial: "aircraft_families/aircraft_family_count_table", locals: {aircraft_families: @aircraft_families, is_summary: true} %>

	<h2 id="classes">Classes Flown on Flights Operated by <%= @operator.airline_name %></h2>
	<%= render partial: "flights/class_count_table", locals: {classes: @classes, is_summary: true} %>

	<h2 id="superlatives">Longest and Shortest Routes Operated by <%= @operator.airline_name %></h2>

	<%= render "routes/route_superlatives_table", :superlatives => @route_superlatives %>

	<h2 id="fleet"><%= @operator.airline_name %>’s Fleet</h2>
	
	<% if @fleet_aircraft.length > 0 %>

  	<table class="flightlog">
  		<tr>
  			<th>Fleet Number</th>
  			<th class="tail-aircraft">Aircraft</th>
  		</tr>
  	<% @fleet_aircraft.each do |fleet_number, aircraft| %>
  		<tr>
  			<td><%= link_to(airline_icon(@operator.slug, title: "View flights on #{@operator.airline_name} aircraft ##{fleet_number}") + "#" + fleet_number, show_fleet_number_path(@operator.slug, fleet_number), title: "View flights on #{@operator.airline_name} aircraft ##{fleet_number}") %><% if @fleet_name[fleet_number] %> &ndash; <span class="aircraft-name"><%= @fleet_name[fleet_number] %><% end %></span></td>
  			<td class="tail-aircraft"><%= aircraft %></td>
  		</tr>
  	<% end %>
	  </table>

	<% else %>

	  <p>None of my flights operated by <%= @operator.airline_name %> have recorded fleet numbers.</p>

	<% end %>

	<h2 id="flights">List of Flights Operated by <%= @operator.airline_name %></h2>
	<%= render "flights/flight_table" %>

<% end %>