<div id="title_info"><%= iata_airline_code_display(@operator.iata_airline_code) %><%= image_tag(airline_icon_path(@operator.iata_airline_code), :title => @operator.airline_name, :class => 'airline_icon')%></div>

<h1><%= @operator.airline_name %> #<%= @fleet_number %></h1>

<div class="page_navigation">
  <ul>
		<li><%= link_to("Map", "#map", :title => "Map of flights operated by #{@operator.airline_name} ##{@fleet_number}") %></li>
		<li><%= link_to("Airlines", "#airlines", :title => "Airlines with flights operated by #{@operator.airline_name} ##{@fleet_number}") %></li>
		<li><%= link_to("Aircraft", "#aircraft", :title => "Aircraft operated by #{@operator.airline_name} ##{@fleet_number}") %></li>
		<li><%= link_to("Classes", "#classes", :title => "Classes operated by #{@operator.airline_name} ##{@fleet_number}") %></li>
				<li><%= link_to("Longest and Shortest", "#superlatives", :title => "Longest and shortest routes operated by #{@operator.airline_name} ##{@fleet_number}") %></li>
				<li><%= link_to("Flight List", "#flights", :title => "Flights operated by #{@operator.airline_name} ##{@fleet_number}") %></li>
  </ul>
</div>


<p><span class="bold"><%= link_to(@operator.airline_name, show_operator_path(@operator.iata_airline_code), :title => "View flights operated by #{@operator.airline_name}") %> #<%= @fleet_number %></span> has been the aircraft for <%= @flights.length %> of my flights.</p>

<a name="map"></a>
<%= embed_gcmap_flights(@flights) %>
<%= distance_block(@total_distance, adjective: 'total', flight_link: true) %>


<a name="airlines"></a>
<h2>Airlines with Flights Operated as <acronym title="<%= @operator.airline_name %>"><%= iata_airline_code_display(@operator.iata_airline_code) %></acronym> #<%= @fleet_number %></h2>
<%= render "flights/summary_airline_table" %>

<a name="aircraft"></a>
<h2>Aircraft Operated as <acronym title="<%= @operator.airline_name %>"><%= iata_airline_code_display(@operator.iata_airline_code) %></acronym> #<%= @fleet_number %></h2>
<%= render "flights/summary_aircraft_table" %>

<a name="classes"></a>
<h2>Classes Flown on <acronym title="<%= @operator.airline_name %>"><%= iata_airline_code_display(@operator.iata_airline_code) %></acronym> #<%= @fleet_number %></h2>
<%= render "flights/summary_travel_class_table" %>

<a name="superlatives"></a>
<h2>Longest and Shortest Routes Flown on <acronym title="<%= @operator.airline_name %>"><%= iata_airline_code_display(@operator.iata_airline_code) %></acronym> #<%= @fleet_number %></h2>
<%= render "routes/route_superlatives_table", :superlatives => @route_superlatives %>

<a name="flights"></a>
<h2><acronym title="<%= @operator.airline_name %>"><%= iata_airline_code_display(@operator.iata_airline_code) %></acronym> #<%= @fleet_number %> Flight List</h2>

<table class="flightlog">
	<tr class="th">
	  <th class="counter">#</th>
		<th class="flight_flight">Flight</td>
	  <th class="flight_route">Route</td>
	  <th class="flight_date">Departure</td>
	  <th class="flight_aircraft">Aircraft</td>
		<th class="flight_tail">Tail Number</td>
	</tr>
	<% @flights.each_with_index do |flight, index| %>
		<tr>
		  <td class="counter"><%= index + 1 %></th>
			<%= render "flights/flight_cell_flight", :flight => flight %>		  
			<%= render "flights/flight_cell_route", :flight => flight %>
			<%= render "flights/flight_cell_departure", :flight => flight %>
			<%= render "flights/flight_cell_aircraft", :flight => flight %>
			<%= render "flights/flight_cell_tail", :flight => flight %>
		</tr>
	<% end %>
	<tr><td colspan="6" class="flightlog_total"><%= render :partial => "flights/flight_total_row_cell" %></td></tr>
</table>