<% provide(:title, @airline.airline_name) %>
<% provide(:meta_description, "Maps and lists of Paul Bogardʼs flights on #{@airline.airline_name}.") %>
<% add_admin_action link_to("Delete Airline", @airline, method: :delete, data: {:confirm => "Are you sure you want to delete #{@airline.airline_name}?"}, class: "warning") if @flights.length == 0 %>
<% add_admin_action link_to("Edit Airline", edit_airline_path(@airline)) %>
<% add_breadcrumb "Airlines", airlines_path %>
<% add_breadcrumb @airline.airline_name, airline_path(@airline.slug) %>

<div id="title-info"><%= @airline.iata_airline_code %> / <%= @airline.icao_airline_code %><%= airline_icon(@airline.slug, title: @airline.airline_name)%></div>

<h1><%= @airline.airline_name %></h1>

<% if @flights.any? %>
	<div class="page-navigation">
	  <ul>
			<li><%= link_to("Map", "#map", :title => "Map of flights flown on #{@airline.airline_name}") %></li>
			<li><%= link_to("Aircraft", "#aircraft", :title => "Aircraft flown on #{@airline.airline_name}") %></li>
			<li><%= link_to("Operators", "#operators", :title => "Operators for #{@airline.airline_name} flights") %></li>
			<li><%= link_to("Classes", "#classes", :title => "Classes flown on #{@airline.airline_name}") %></li>
			<li><%= link_to("Longest and Shortest", "#superlatives", :title => "Longest and shortest routes flown on #{@airline.airline_name}") %></li>
			<li><%= link_to("Flight List", "#flights", :title => "Flights flown on #{@airline.airline_name}") %></li>
			
	  </ul>
	</div>
<% end %>


<p>I have flown <%= pluralize(@flights.length, "flight") %> on <span class="bold"><%= @airline.airline_name %></span>.</p>

<% if @flights.any? %>

	<div id="map">
    <%= gcmap_with_region_select(@map, @region) %>
  	<%= render partial: "routes/distance_block", locals: {distance: @total_distance, adjective: "total", flight_link: true} %>
  </div>
	
	<h2 id="aircraft">Aircraft Flown on <%= @airline.airline_name %></h2>
	<%= render partial: "aircraft_families/aircraft_family_count_table", locals: {aircraft_families: @aircraft_families, is_summary: true} %>
	
	<h2 id="operators">Operators for <%= @airline.airline_name %> Flights</h2>
	<%= render partial: "airlines/airline_count_table", locals: {airlines: @operators, type: :operator, is_summary: true, identical: (@airlines == @operators)} %>

	<h2 id="classes">Classes Flown on <%= @airline.airline_name %></h2>
	<%= render partial: "flights/class_count_table", locals: {classes: @classes, is_summary: true} %>

	<h2 id="superlatives">Longest and Shortest Routes Flown on <%= @airline.airline_name %></h2>
	<%= render "routes/route_superlatives_table", :superlatives => @route_superlatives %>
	
	<h2 id="flights"><%= @airline.airline_name %> Flight List</h2>
	<%= render "flights/flight_table" %>

<% end %>