<% provide(:title, @airline.name) %>
<% provide(:meta_description, "Maps and lists of Paul Bogardʼs flights on #{@airline.name}.") %>
<% add_admin_action link_to("Delete Airline", @airline, method: :delete, data: {:confirm => "Are you sure you want to delete #{@airline.name}?"}, class: "warning") unless @airline.has_any_airline_operator_codeshare_flights? %>
<% add_admin_action link_to("Edit Airline", edit_airline_path(@airline)) %>
<% add_breadcrumb "Airlines", airlines_path %>
<% add_breadcrumb @airline.name, airline_path(@airline.slug) %>

<div id="title-info"><%= safe_join(%w(iata icao).reject{|c| @airline["#{c}_code".to_sym].blank?}.map{|c| content_tag(:span, @airline["#{c}_code".to_sym], id: "#{c}-code")}, " / ") %><%= airline_icon(@airline.slug, title: @airline.name)%></div>

<h1><%= @airline.name %></h1>

<% if @flights.any? %>
	<div class="page-navigation">
	  <ul>
			<li><%= link_to("Map", "#map", title: "Map of flights flown on #{@airline.name}") %></li>
			<li><%= link_to("Aircraft", "#aircraft", title: "Aircraft flown on #{@airline.name}") %></li>
			<li><%= link_to("Operators", "#operators", title: "Operators for #{@airline.name} flights") %></li>
			<li><%= link_to("Classes", "#classes", title: "Classes flown on #{@airline.name}") %></li>
			<li><%= link_to("Longest and Shortest", "#superlatives", title: "Longest and shortest routes flown on #{@airline.name}") %></li>
			<li><%= link_to("Flight List", "#flights", title: "Flights flown on #{@airline.name}") %></li>
			
	  </ul>
	</div>
<% end %>

<p>I have flown <%= pluralize(NumberFormat.value(@flights.size), "flight") %> on <span class="bold"><%= @airline.name %></span>.</p>

<% if @flights.any? %>

	<div id="map">
    <%= gcmap_with_region_select(@map, @region) %>
		<%= distance_block(@total_distance, adjective: "total", flight_link: true) %>
  </div>
	
	<h2 id="aircraft">Aircraft Flown on <%= @airline.name %></h2>
	<%= render partial: "aircraft_families/aircraft_family_count_table", locals: {aircraft_families: @aircraft_families, is_summary: true} %>
	
	<h2 id="operators">Operators for <%= @airline.name %> Flights</h2>
	<%= render partial: "airlines/airline_count_table", locals: {airlines: @operators, type: :operator, name: @airline.name, identical: (@airlines == @operators), is_summary: true} %>

	<h2 id="classes">Classes Flown on <%= @airline.name %></h2>
	<%= render partial: "flights/class_count_table", locals: {classes: @classes, is_summary: true} %>

	<h2 id="superlatives">Longest and Shortest Routes Flown on <%= @airline.name %></h2>
	<%= render partial: "routes/route_superlatives_table", locals: {superlatives: @route_superlatives} %>
	
	<h2 id="flights"><%= @airline.name %> Flight List</h2>
	<%= render partial: "flights/flight_table", locals: {flights: @flights, is_summary: true} %>

<% end %>