<div id="title-info"><%= iata_airline_code_display(@operator.iata_airline_code) %><%= image_tag(airline_icon_path(@operator.iata_airline_code), :title => @operator.airline_name, :class => 'airline_icon')%></div>

<h1><%= @operator.airline_name %> #<%= @fleet_number %></h1>

<div class="page_navigation">
  <ul>
		<li><%= link_to("Map", "#map", :title => "Map of flights operated by #{@operator.airline_name} ##{@fleet_number}") %></li>
		<li><%= link_to("Airlines", "#airlines", :title => "Airlines with flights operated by #{@operator.airline_name} ##{@fleet_number}") %></li>
		<li><%= link_to("Aircraft", "#aircraft", :title => "Aircraft operated by #{@operator.airline_name} ##{@fleet_number}") %></li>
		<li><%= link_to("Classes", "#classes", :title => "Classes operated by #{@operator.airline_name} ##{@fleet_number}") %></li>
				<li><%= link_to("Longest and Shortest", "#superlatives", :title => "Longest and shortest routes operated by #{@operator.airline_name} ##{@fleet_number}") %></li>
				<li><%= link_to("Flight List", "#flights", :title => "Flights operated by #{@operator.airline_name} ##{@fleet_number}") %></li>
  </ul>
</div>


<p><span class="bold"><%= link_to(@operator.airline_name, show_operator_path(@operator.iata_airline_code), :title => "View flights operated by #{@operator.airline_name}") %> #<%= @fleet_number %></span> has been the aircraft for <%= @flights.length %> of my flights.</p>

<div id="map">
  <%= map_with_region_select(@map) %>
  <%= render partial: "routes/distance_block", locals: {distance: @total_distance, adjective: 'total', flight_link: true} %>
</div>

<h2 id="airlines">Airlines with Flights Operated as <abbr title="<%= @operator.airline_name %>"><%= iata_airline_code_display(@operator.iata_airline_code) %></abbr> #<%= @fleet_number %></h2>
<%= render partial: "airlines/airline_count_table", locals: {airlines: @airlines, is_summary: true} %>

<h2 id="aircraft">Aircraft Operated as <abbr title="<%= @operator.airline_name %>"><%= iata_airline_code_display(@operator.iata_airline_code) %></abbr> #<%= @fleet_number %></h2>
<%= render partial: "aircraft_families/aircraft_family_count_table", locals: {aircraft_families: @aircraft_families, is_summary: true} %>

<h2 id="classes">Classes Flown on <abbr title="<%= @operator.airline_name %>"><%= iata_airline_code_display(@operator.iata_airline_code) %></abbr> #<%= @fleet_number %></h2>
<%= render partial: "flights/class_count_table", locals: {classes: @classes, is_summary: true} %>

<h2 id="superlatives">Longest and Shortest Routes Flown on <abbr title="<%= @operator.airline_name %>"><%= iata_airline_code_display(@operator.iata_airline_code) %></abbr> #<%= @fleet_number %></h2>
<%= render "routes/route_superlatives_table", :superlatives => @route_superlatives %>

<h2 id="flights"><abbr title="<%= @operator.airline_name %>"><%= iata_airline_code_display(@operator.iata_airline_code) %></abbr> #<%= @fleet_number %> Flight List</h2>

<table class="flightlog">
	<tr>
	  <th class="counter">#</th>
		<th class="flight_flight">Flight</td>
	  <th class="flight_route">Route</td>
	  <th class="flight_date">Departure</td>
	  <th class="flight_aircraft">Aircraft</td>
		<th class="flight_tail">Tail Number</td>
	</tr>
	<% @flights.each_with_index do |flight, index| %>
		<tr>
		  <td class="counter"><%= index + 1 %></th>
			<%= render "flights/flight_cell_flight", :flight => flight %>		  
			<%= render "flights/flight_cell_route", :flight => flight %>
			<%= render "flights/flight_cell_departure", :flight => flight %>
			<%= render "flights/flight_cell_aircraft", :flight => flight %>
			<%= render "flights/flight_cell_tail", :flight => flight %>
		</tr>
	<% end %>
	<tr><td colspan="6" class="flightlog_total"><%= render :partial => "flights/flight_total_row_cell" %></td></tr>
</table>