<% provide(:title, @operator.name + " #" + @fleet_number) %>
<% provide(:meta_description, "Maps and lists of Paul Bogardʼs flights operated on #{@operator.name} aircraft ##{@fleet_number}.") %>
<% add_breadcrumb "Airlines", airlines_path %>
<% add_breadcrumb @operator.name + " (operator)", show_operator_path(@operator.slug) %>
<% add_breadcrumb "#" + @fleet_number, show_fleet_number_path(@operator.slug, @fleet_number) %>

<h1><%= @operator.name %> #<%= @fleet_number %></h1>

<%= render(partial: "layouts/summary", locals: {summary_items: {"Operator": link_to(airline_icon(@operator.slug, title: @operator.name) + @operator.name, show_operator_path(@operator.slug), title: "View flights operated by #{@operator.name}"), "Aircraft": (link_to(@flights.last.aircraft_family.name, aircraft_family_path(@flights.last.aircraft_family.slug), title: "View flights on #{@flights.last.aircraft_family.full_name} aircraft") if @flights.last.aircraft_family), "Tail": tail_number_with_country_flag(@flights.last.tail_number)}}) %>

<div class="page-navigation">
  <ul>
		<li><%= link_to("Map", "#fleet_number_map", title: "Map of flights operated by #{@operator.name} ##{@fleet_number}") %></li>
		<li><%= link_to("Airlines", "#airlines", title: "Airlines with flights operated by #{@operator.name} ##{@fleet_number}") %></li>
		<li><%= link_to("Aircraft", "#aircraft", title: "Aircraft operated by #{@operator.name} ##{@fleet_number}") %></li>
		<li><%= link_to("Classes", "#classes", title: "Classes operated by #{@operator.name} ##{@fleet_number}") %></li>
		<li><%= link_to("Longest and Shortest", "#superlatives", title: "Longest and shortest routes operated by #{@operator.name} ##{@fleet_number}") %></li>
		<li><%= link_to("Flight List", "#flights", title: "Flights operated by #{@operator.name} ##{@fleet_number}") %></li>
  </ul>
</div>

<%= render(partial: "layouts/map", locals: {map: @maps[:fleet_number_map], metrics: {flights: @flights.size, miles: @total_distance}}) %>

<h2 id="airlines">Airlines with Flights Operated as <abbr title="<%= @operator.name %>"><%= @operator.iata_code %></abbr> #<%= @fleet_number %></h2>
<%= render partial: "airlines/airline_count_table", locals: {airlines: @airlines, is_summary: true} %>

<h2 id="aircraft">Aircraft Operated as <abbr title="<%= @operator.name %>"><%= @operator.iata_code %></abbr> #<%= @fleet_number %></h2>
<%= render partial: "aircraft_families/aircraft_family_count_table", locals: {aircraft_families: @aircraft_families, is_summary: true} %>

<h2 id="classes">Classes Flown on <abbr title="<%= @operator.name %>"><%= @operator.iata_code %></abbr> #<%= @fleet_number %></h2>
<%= render partial: "flights/class_count_table", locals: {classes: @classes, is_summary: true} %>

<h2 id="superlatives">Longest and Shortest Routes Flown on <abbr title="<%= @operator.name %>"><%= @operator.iata_code %></abbr> #<%= @fleet_number %></h2>
<%= render partial: "routes/route_superlatives_table", locals: {superlatives: @route_superlatives} %>

<h2 id="flights"><abbr title="<%= @operator.name %>"><%= @operator.iata_code %></abbr> #<%= @fleet_number %> Flight List</h2>

<%= render partial: "flights/flight_table", locals: {flights: @flights, is_summary: true} %>