<% provide(:title, @operator.name + " (Operator)") %>
<% provide(:meta_description, "Maps and lists of Paul Bogardʼs flights operated by #{@operator.name}.") %>

<% add_admin_action link_to("Delete Airline", @operator, method: :delete, data: {:confirm => "Are you sure you want to delete #{@operator.name}?"}, class: "warning") unless @operator.has_any_airline_operator_codeshare_flights? %>
<% add_admin_action link_to("Edit Airline", edit_airline_path(@operator)) %>

<% add_breadcrumb "Airlines", airlines_path %>
<% add_breadcrumb @operator.name + " (operator)", show_operator_path(@operator.slug) %>

<h1>Flights Operated by <%= @operator.name %></h1>

<%= render(partial: "layouts/summary", locals: {summary_items: {"IATA": @operator.iata_code, "ICAO": @operator.icao_code, "Logo": airline_icon(@operator.slug, title: @operator.name, css_class: ["icon-no-text"])}}) %>

<% if @flights.any? %>

	<div class="page-navigation">
	  <ul>
			<li><%= link_to("Map", "#operator_map", :title => "Map of flights operated by #{@operator.name}") %></li>
			<li><%= link_to("Airlines", "#airlines", :title => "Airlines with flights operated by #{@operator.name}") %></li>
			<li><%= link_to("Aircraft", "#aircraft", :title => "Aircraft operated by #{@operator.name}") %></li>
			<li><%= link_to("Classes", "#classes", :title => "Classes flown on flights operated by #{@operator.name}") %></li>
			<li><%= link_to("Longest and Shortest", "#superlatives", :title => "Longest and shortest routes operated by #{@operator.name}") %></li>
			<li><%= link_to("Fleet", "#fleet", :title => "#{@operator.name}ʼs Fleet") %></li>
			<li><%= link_to("Flight List", "#flights", :title => "Flights operated by #{@operator.name}") %></li>
	  </ul>
	</div>

<% end %>

<% if @flights.any? %>
	<%= render(partial: "layouts/map", locals: {map: @maps[:operator_map], metrics: {flights: @flights.size, miles: @total_distance}}) %>

	<h2 id="airlines">Airlines with Flights Operated by <%= @operator.name %></h2>
	<%= render partial: "airlines/airline_count_table", locals: {airlines: @airlines, is_summary: true} %>

	<h2 id="aircraft">Aircraft Operated by <%= @operator.name %></h2>
	<%= render partial: "aircraft_families/aircraft_family_count_table", locals: {aircraft_families: @aircraft_families, is_summary: true} %>

	<h2 id="classes">Classes Flown on Flights Operated by <%= @operator.name %></h2>
	<%= render partial: "flights/class_count_table", locals: {classes: @classes, is_summary: true} %>

	<h2 id="superlatives">Longest and Shortest Routes Operated by <%= @operator.name %></h2>

	<%= render partial: "routes/route_superlatives_table", locals: {superlatives: @route_superlatives} %>

	<h2 id="fleet"><%= @operator.name %>’s Fleet</h2>
	
	<% if @fleet.length > 0 %>

  	<table class="flightlog" id="fleet-number-table">
  		<tr>
  			<th>Fleet Number</th>
  			<th class="tail-aircraft">Aircraft</th>
				<th class="tail-number">Tail</th>
  		</tr>
  	<% @fleet.each do |fleet_number, aircraft| %>
  		<tr>
  			<td><%= link_to(airline_icon(@operator.slug, title: "View flights on #{@operator.name} aircraft ##{fleet_number}") + "#" + fleet_number, show_fleet_number_path(@operator.slug, fleet_number), title: "View flights on #{@operator.name} aircraft ##{fleet_number}") %><% if aircraft[:name] %> &ndash; <span class="aircraft-name"><%= aircraft[:name] %><% end %></span></td>
  			<td class="tail-aircraft code-mono"><abbr title="<%= aircraft[:aircraft] %>"><%= aircraft[:aircraft_icao] %></abbr></td>
				<td class="tail-number"><%= tail_number_with_country_flag(aircraft[:tail]) %></td>
  		</tr>
  	<% end %>
	  </table>

	<% else %>

	  <p>None of my flights operated by <%= @operator.name %> have recorded fleet numbers.</p>

	<% end %>

	<h2 id="flights">List of Flights Operated by <%= @operator.name %></h2>
	<%= render partial: "flights/flight_table", locals: {flights: @flights, is_summary: true} %>

<% end %>