<% if superlatives %>
	<% categories = {max: "Longest Route", min: "Shortest Route", zero: "Shortest Net Distance"} %>

	<table class="flightlog">
		<% categories.each do |category, label| %>
				
			<% superlatives[category].each_with_index do |(airports, distance), index| %>
				<% airports.sort_by!{|a| a.iata_code} %>
				
				<tr>
					<% if index == 0 %>
						<td class="label-column superlatives-label" rowspan="<%= superlatives[category].length %>"><%= label %></td>
					<% end %>
					<td class="route-route"><%= link_to(format_route(airports.map{|r| r.iata_code}), show_route_path(airport1: airports.first.slug, airport2: airports.last.slug), title: "View flights between #{airports.first.iata_code} and #{airports.last.iata_code}") %></td>
					<td class="superlatives-distance"><%= number_with_delimiter(distance, delimeter: ",") %> <span class="measurement-unit">mi</span></td>
					<td class="superlatives-distance"><%= number_with_delimiter(Distance::km(distance), delimeter: ",") %> <span class="measurement-unit">km</span></td>
				</tr>

			<% end %>	
		<% end %>
	</table>

<% else %>
	<%= render_message(:warning, "No superlatives are available, because none of these flight routes have a known length.") %>
<% end %>