<% provide(:title, "Edit #{@airports.first.iata_code} #{Route::ARROW_TWO_WAY_PLAINTEXT} #{@airports.last.iata_code}") %>
<% add_breadcrumb "Routes", routes_path %>
<% add_breadcrumb "#{@airports.first.iata_code} #{Route::ARROW_TWO_WAY_PLAINTEXT} #{@airports.last.iata_code}", show_route_path(airport1: @airports.first.slug, airport2: @airports.last.slug) %>
<% add_breadcrumb "Edit", edit_route_path(airport1: @airports.first, airport2: @airports.last) %>

<h1>Edit <%= @airports.first.iata_code %> <%= Route::ARROW_TWO_WAY_PLAINTEXT %> <%= @airports.last.iata_code %></h1>

<%= form_for(@route) do |f| %>

  <%= render "error_messages" %>
  
	<p>
	  <%= f.label :distance_mi, "Distance" %><br />
	  <%= f.text_field :distance_mi, :size => 6 %> statute miles
	</p>
	
	<%= f.hidden_field :airport1_id, :value => @airport_ids[0] %>
	<%= f.hidden_field :airport2_id, :value => @airport_ids[1] %>
  
  <p>
    <%= f.submit "Submit" %>
  </p>

<% end %>