<h1>Routes</h1>

<p>I have had commercial flights on <%= pluralize(@route_table.count, "route") %>.</p>

<% if @route_table.any? %>

<p>Each route listed includes flights going both directions.</p>

<table class="flightlog">
  <tr>
    <th class="counter">#</th>
		<th class="route-route">Route</th>
		<th class="route-distance"><%= sort_link("Distance", :distance, :desc) %></th>
    <th class="route-flights"><%= sort_link("Flights", :flights, :desc) %></th>
  </tr>
<% previous_count = nil %>
<% @route_table.each_with_index do |row, index| %>
  <tr>
    <td class="counter">
			<% if @sort_cat == :flights %>
				<%= (@sort_cat == :flights && row[:flight_count] == previous_count) ? "⋮" : index + 1 %>
			<% elsif @sort_cat == :distance %>
				<%= (@sort_cat == :distance && row[:distance_mi] == previous_count) ? "⋮" : index + 1 %>
			<% else %>
				<%= index + 1 %>
			<% end %>
		</td>
		<td class="route-route"><%= link_to(format_route(row[:route]), route_path(row[:route].join("-")), title: "View flights between #{row[:route][0]} and #{row[:route][1]}") %></td>
    <td class="route-distance"><%= render "flights/graph_block_with_unit", value: row[:distance_mi], maximum: @distance_maximum, :unit => "mi" %></td>
		<td class="route-flights"><%= render "flights/graph_block", value: row[:flight_count], maximum: @flights_maximum %></td>
  </tr>
	<% previous_count = @sort_cat == :flights ? row[:flight_count] : row[:distance_mi] %>
<% end %>
  <tr><td colspan="4" class="flightlog-total"><%= pluralize(@route_table.count, "route") %></td></tr>
</table>

<% else %>

<%= render "flights/error_no_flights" %>

<% end %>