<% provide(:title, "Routes") %>
<% provide(:meta_description, "A list of the routes Paul Bogard has flown on, and how often heʼs flown on each.") %>
<% add_breadcrumb "Routes", routes_path %>

<h1>Routes</h1>

<p>I have had commercial flights on <%= pluralize(number_with_delimiter(@route_table.size, delimiter: sanitize("&nbsp;")), "route") %>.</p>

<% if @route_table.any? %>

<p>Each route listed includes flights going both directions.</p>

<table class="flightlog" id="route-count-table">
  <tr>
    <th class="counter">#</th>
		<th class="route-route">Route</th>
		<th class="route-distance"><%= sort_link("Distance", :distance, :desc) %></th>
    <th class="route-flights"><%= sort_link("Flights", :flights, :desc) %></th>
  </tr>
<% previous_count = nil %>
<% @route_table.each_with_index do |row, index| %>
  <tr id="route-count-row-<%= row[:route].pluck(:slug).sort.join("-to-") %>">
    <td class="counter">
			<% if @sort[0] == :flights %>
				<%= (row[:flight_count] == previous_count) ? Table::SAME_RANK : index + 1 %>
			<% elsif @sort[0] == :distance %>
				<%= (row[:distance_mi] == previous_count) ? Table::SAME_RANK : index + 1 %>
			<% else %>
				<%= index + 1 %>
			<% end %>
		</td>
		<td class="route-route"><%= link_to(format_route(row[:route].map{|r| r.iata_code}), show_route_path(airport1: row[:route].first.slug, airport2: row[:route].last.slug), title: "View flights between #{row[:route][0].iata_code} and #{row[:route][1].iata_code}") %></td>
    <td class="route-distance"><%= graph_bar(row[:distance_mi], @distance_maximum, true) %></td>
		<td class="route-flights"><%= graph_bar(row[:flight_count], @flights_maximum) %></td>
  </tr>
	<% previous_count = @sort[0] == :flights ? row[:flight_count] : row[:distance_mi] %>
<% end %>
  <tr><td colspan="4" class="flightlog-total" id="route-count-total" data-total="<%= @route_table.size %>"><%= pluralize(number_with_delimiter(@route_table.size, delimiter: sanitize("&nbsp;")), "route") %></td></tr>
</table>

<% else %>

<%= render partial: "flights/error_no_flights" %>

<% end %>