<% provide(:title, "Aircraft") %>
<% provide(:meta_description, "A list of the types of planes on which Paul Bogard has flown, and how often heʼs flown on each.") %>
<% add_admin_action link_to("Add New Aircraft Family", new_aircraft_family_path) %>
<% add_breadcrumb "Aircraft", aircraft_families_path %>

<h1>Aircraft Families</h1>

<p>This listing shows how often Iʼve flown on each particular family of airplane. Each family of airplane may have several types, but all of those types have been included in each familyʼs total.</p>

<% if @flights.empty? %>
  <%= render partial: "flights/error_no_flights" %>
<% else %>

  <p>I have flown on <%= pluralize(@aircraft_families.count, "aircraft family") %>.</p>

  <% if @aircraft_families.empty? %>
    <%= render_message(:warning, "There are no flights in the flight log that include an aircraft type!") %>
  <% else %>
    <%= render partial: "aircraft_family_count_table", locals: {aircraft_families: @aircraft_families, is_summary: false} %>
  <% end %>

  <% if (logged_in? && @aircraft_families_with_no_flights.any?) %>
  	<h2>Aircraft Families with No Flights</h2>
  	<table class="flightlog">
  		<tr>
  			<th class="aircraft-family">Aircraft Family</th>
  		</tr>
  	<% @aircraft_families_with_no_flights.each do |aircraft_family| %>
  	  <tr>
  	    <td class="aircraft-family"><%= link_to(format_aircraft_family(aircraft_family[:manufacturer], aircraft_family[:family_name]), aircraft_family_path(aircraft_family[:slug]), title: "View aircraft family details for #{aircraft_family[:manufacturer]} #{aircraft_family[:family_name]}") %></td>
  		</tr>
  	<% end %>
  	</table>
  <% end %>
  
<% end %>