<% provide(:meta_description, "Maps and lists of Paul Bogardʼs flights on #{@aircraft.full_name} aircraft.") %>
<% add_breadcrumb("Aircraft", aircraft_families_path) %>

<% provide(:title, @aircraft.full_name) %>
<% add_admin_action(link_to("Delete Aircraft", @aircraft, method: :delete, data: {confirm: "Are you sure you want to delete #{@aircraft.full_name}?"}, class: "warning")) if @flights.length == 0 && !@aircraft.children.any? %>
<% add_admin_action(link_to("Edit Aircraft", edit_aircraft_family_path(@aircraft))) %>
<% add_admin_action(link_to("Add Type", new_aircraft_family_path(family_id: @aircraft))) if @aircraft.is_root_family? %>
<% type_and_parent_types_breadcrumbs(@aircraft) %>

<div id="title-info"><%= safe_join(%w(iata icao).reject{|c| @aircraft["#{c}_aircraft_code".to_sym].blank?}.map{|c| content_tag(:span, @aircraft["#{c}_aircraft_code".to_sym], id: "#{c}-aircraft-code")}, " / ") %></div>

<h1><%= @aircraft.full_name %></h1>

<% if @flights.any? %>
	<div class="page-navigation">
	  <ul>
			<li><%= link_to("Map", "#map", :title => "Map of flights flown on #{@aircraft.full_name} aircraft") %></li>
			<% if @children.any? %>
        <li><%= link_to("Types", "#types", :title => "Types of #{@aircraft.full_name}") %></li>
      <% end %>
			<li><%= link_to("Airlines", "#airlines", :title => "Airlines with #{@aircraft.full_name} flights") %></li>
			<li><%= link_to("Operators", "#operators", :title => "Operators with #{@aircraft.full_name} flights") %></li>
			<li><%= link_to("Classes", "#classes", :title => "Classes flown on #{@aircraft.full_name} aircraft") %></li>
			<li><%= link_to("Longest and Shortest", "#superlatives", :title => "Longest and shortest routes flown on #{@aircraft.full_name} aircraft") %></li>
			<li><%= link_to("Flight List", "#flights", :title => "Flights flown on #{@aircraft.full_name} aircraft") %></li>
	  </ul>
	</div>
<% end %>

<%= render partial: "aircraft_illustration", locals: {aircraft_family: @aircraft} %>

<p>I have flown on <span class="bold"><%= @aircraft.full_name %></span> aircraft <%= pluralize(@flights.length, "time") %>.</p>

<% if @flights.any? %>

	<div id="map">
    <%= gcmap_with_region_select(@map, @region) %>
    <%= distance_block(@total_distance, adjective: "total", flight_link: true) %>
  </div>
<% end %>
  
<% if @children.any? %>
  <h2 id="types"><%= @aircraft.family_name %> Types</h2>
  <% if @flights.any? %>
    <%= render partial: "aircraft_child_types", locals: {parent_type: @aircraft, child_types: @flights_including_child_types} %>
  <% else %>
    <p>I haven’t flown on any <%= @aircraft.full_name %> types.</p>
  <% end %>
  <% if logged_in? && @child_types_with_no_flights.any? %>
    <table class="flightlog">
      <thead>
        <tr>
          <th colspan="2">Types with no flights</th>
        </tr>
      </thead>
      <tbody>
      <% @child_types_with_no_flights.each do |type| %>
        <tr>
          <td class="aircraft-family"><%= link_to(type.family_name, aircraft_family_path(type.slug)) %></td>
          <td class="aircraft-code code-mono"><%= link_to(type.icao_aircraft_code, aircraft_family_path(type.slug)) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
  
<% if @flights.any? %>
  
	<h2 id="airlines">Airlines with <%= @aircraft.family_name %> Flights</h2>
	<%= render partial: "airlines/airline_count_table", locals: {airlines: @airlines, type: :airline, is_summary: true} %>

	<h2 id="operators">Operators with <%= @aircraft.family_name %> Flights</h2>
	<%= render partial: "airlines/airline_count_table", locals: {airlines: @operators, type: :operator, is_summary: true, identical: (@airlines == @operators)} %>

	<h2 id="classes">Classes Flown on <%= @aircraft.family_name %> Aircraft</h2>

	<%= render partial: "flights/class_count_table", locals: {classes: @classes, is_summary: true} %>

	<h2 id="superlatives">Longest and Shortest Routes Flown on <%= @aircraft.family_name %> Aircraft</h2>

	<%= render partial: "routes/route_superlatives_table", locals: {superlatives: @route_superlatives} %>

	<h2 id="flights"><%= @aircraft.family_name %> Flight List</h2>

	<%= render partial: "flights/flight_table", locals: {flights: @flights, is_summary: true} %>

<% end %>