<div id="title-info"><%= [@aircraft_family.iata_aircraft_code, @aircraft_family.icao_aircraft_code].compact.join(" / ") %></div>

<h1><%= @aircraft_family.full_name %><%= " Family" if @aircraft_family.is_family? %></h1>

<% if @flights.any? %>

	<div class="page_navigation">
	  <ul>
			<li><%= link_to("Map", "#map", :title => "Map of flights flown on #{@aircraft_family.full_name} aircraft") %></li>
			<% if @aircraft_family.is_family? %>
        <li><%= link_to("Subtypes", "#types", :title => "Subtypes of the #{@aircraft_family.full_name} family") %></li>
      <% end %>
			<li><%= link_to("Airlines", "#airlines", :title => "Airlines with #{@aircraft_family.full_name} flights") %></li>
			<li><%= link_to("Operators", "#operators", :title => "Operators with #{@aircraft_family.full_name} flights") %></li>
			<li><%= link_to("Classes", "#classes", :title => "Classes flown on #{@aircraft_family.full_name} aircraft") %></li>
			<li><%= link_to("Longest and Shortest", "#superlatives", :title => "Longest and shortest routes flown on #{@aircraft_family.full_name} aircraft") %></li>
			<li><%= link_to("Flight List", "#flights", :title => "Flights flown on #{@aircraft_family.full_name} aircraft") %></li>
	  </ul>
	</div>

<% end %>

<%= render partial: "aircraft_illustration", locals: {aircraft_family: @aircraft_family} %>

<p>I have flown on <span class="bold"><%= @aircraft_family.full_name %></span> aircraft <%= pluralize(@flights.length, "time") %>.</p>

<% if @flights.any? %>

	<div id="map">
    <%= map_with_region_select(@map) %>
  	<%= render partial: "routes/distance_block", locals: {distance: @total_distance, adjective: "total", flight_link: true} %>
  </div>
  
  <% if @aircraft_family.is_family? %>
    <h2 id="types"><%= @aircraft_family.family_name %> Family Subtypes</h2>
    <%= render partial: "aircraft_family_subtypes", locals: {subtypes: @subtypes} %>
    <% if logged_in? && @subtypes_with_no_flights.any? %>
      <table class="flightlog">
        <thead>
          <tr>
            <th colspan="2">Types with no flights</th>
          </tr>
        </thead>
        <tbody>
        <% @subtypes_with_no_flights.each do |type| %>
          <tr>
            <td class="aircraft-family"><%= link_to(type.family_name, aircraft_family_path(type)) %></td>
            <td class="aircraft-code code-mono"><%= link_to(type.icao_aircraft_code, aircraft_family_path(type)) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
  
	<h2 id="airlines">Airlines with <%= @aircraft_family.family_name %><%= " Family" if @aircraft_family.is_family? %> Flights</h2>
	<%= render partial: "airlines/airline_count_table", locals: {airlines: @airlines, type: :airline, is_summary: true} %>

	<h2 id="operators">Operators with <%= @aircraft_family.family_name %><%= " Family" if @aircraft_family.is_family? %> Flights</h2>
	<%= render partial: "airlines/airline_count_table", locals: {airlines: @operators, type: :operator, is_summary: true, identical: (@airlines == @operators)} %>

	<h2 id="classes">Classes Flown on <%= @aircraft_family.family_name %><%= " Family" if @aircraft_family.is_family? %> Aircraft</h2>

	<%= render partial: "flights/class_count_table", locals: {classes: @classes, is_summary: true} %>

	<h2 id="superlatives">Longest and Shortest Routes Flown on <%= @aircraft_family.family_name %><%= " Family" if @aircraft_family.is_family? %> Aircraft</h2>

	<%= render "routes/route_superlatives_table", :superlatives => @route_superlatives %>

	<h2 id="flights"><%= @aircraft_family.family_name %><%= " Family" if @aircraft_family.is_family? %> Flight List</h2>

	<%= render "flights/flight_table" %>

<% end %>