<div id="title_info"><%= @aircraft_family.iata_aircraft_code %></div>

<h1><%= @aircraft_family.full_name %></h1>

<% if @flights.any? %>

	<div class="page_navigation">
	  <ul>
			<li><%= link_to("Map", "#map", :title => "Map of flights flown on #{@aircraft_family.full_name} aircraft") %></li>
			<li><%= link_to("Airlines", "#airlines", :title => "Airlines with #{@aircraft_family.full_name} flights") %></li>
			<li><%= link_to("Operators", "#operators", :title => "Operators with #{@aircraft_family.full_name} flights") %></li>
			<li><%= link_to("Classes", "#classes", :title => "Classes flown on #{@aircraft_family.full_name} aircraft") %></li>
			<li><%= link_to("Longest and Shortest", "#superlatives", :title => "Longest and shortest routes flown on #{@aircraft_family.full_name} aircraft") %></li>
			<li><%= link_to("Flight List", "#flights", :title => "Flights flown on #{@aircraft_family.full_name} aircraft") %></li>
	  </ul>
	</div>

<% end %>

<%= aircraft_illustration(@aircraft_family.iata_aircraft_code) %>

<p>I have flown on <span class="bold"><%= @aircraft_family.full_name %></span> aircraft <%= pluralize(@flights.length, 'time') %>.</p>

<% if @flights.any? %>

	<a name="map"></a>
  <%= map_with_region_select(@map) %>
	<%= distance_block(@total_distance, adjective: 'total', flight_link: true) %>
  
  <h2 id="types"><%= @aircraft_family.family_name %> Subtypes</h2>
  <%= render partial: "aircraft_family_subtypes", locals: {subtypes: @subtypes} %>
  <% if logged_in? && @subtypes_with_no_flights.any? %>
    <p class="center">Subtypes with no flights: <%= @subtypes_with_no_flights.map{|type|  type.icao_aircraft_code}.join(" / ") %></p>
  <% end %>
  
	<h2 id="airlines">Airlines with <%= @aircraft_family.family_name %> Flights</h2>
	<%= render "flights/summary_airline_table" %>

	<h2 id="operators">Operators with <%= @aircraft_family.family_name %> Flights</h2>
	<%= render "flights/summary_operator_table" %>

	<h2 id="classes">Classes Flown on <%= @aircraft_family.family_name %> Aircraft</h2>

	<%= render "flights/summary_travel_class_table" %>

	<h2 id="superlatives">Longest and Shortest Routes Flown on <%= @aircraft_family.family_name %> Aircraft</h2>

	<%= render "routes/route_superlatives_table", :superlatives => @route_superlatives %>

	<h2 id="flights"><%= @aircraft_family.family_name %> Flight List</h2>

	<%= render "flights/flight_table" %>

<% end %>