<% mapboxgl_attr = map.mapboxgl %>
<% map_id = mapboxgl_attr[:id] %>
<div class="inset <%= mapboxgl_attr[:map_type] %>" id="<%= mapboxgl_attr[:id] %>">

  <% if local_assigns[:metrics] %>
  <%= render(partial: "layouts/personal_metrics", locals: {map: map, metrics: metrics}) %>
  <% end %>

  <div class="map-mapbox" id="mapbox_<%= map_id %>"></div>
  
  <div class="map-download-links">
    <%= link_to("GPX", params.permit!.merge(map_id: mapboxgl_attr[:id], extension: :gpx), download: "#{mapboxgl_attr[:id]}.gpx") %>
    &middot; 
    <%= link_to("KML", params.permit!.merge(map_id: mapboxgl_attr[:id], extension: :kml), download: "#{mapboxgl_attr[:id]}.kml") %>
    &middot; 
    <%= link_to("GeoJSON", params.permit!.merge(map_id: mapboxgl_attr[:id], extension: :geojson), download: "#{mapboxgl_attr[:id]}.geojson") %>
    &middot; 
    <%= link_to("GraphML", params.permit!.merge(map_id: mapboxgl_attr[:id], extension: :graphml), download: "#{mapboxgl_attr[:id]}.graphml") %>
    <% if map.gcmap_exists? %>
    &middot;
    <%= link_to("GCMap", map.gcmap_url) %>
    <% end %>
  </div>

</div>

<script>
  const map_data_<%= map_id %> = <%= map.geojson.html_safe %>;
  const map_type_<%= map_id %> = '<%= mapboxgl_attr[:map_type] %>';
  populateMapboxGLMap('<%= map_id %>', map_data_<%= map_id %>, map_type_<%= map_id %>);
</script>