<!DOCTYPE html>
<html>
<head>
  <!-- Created by Paul Bogard. https://github.com/bogardpd/flight_log -->
	<title><%= title_flight_log %></title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="icon" href="/favicon.ico" />
	<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400&text=ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789-" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,300,600" rel="stylesheet" type="text/css">
	<%= stylesheet_link_tag "flight_log", :media => "all", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=820, user-scalable:yes" />
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
	<%= render "layouts/shim" %>
  <meta name="author" content="Paul Bogard" />
  <%= meta_description %>
  <%= yield :head_includes %>
  
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-73092262-1', 'auto');
	  ga('send', 'pageview');

	</script>
</head>
<body>

  <div id="top-banner">
  </div>
  
  <div id="menu-banner">
  </div>

  <div id="container">

    <%= render "layouts/header" %>
    <%= render "layouts/navigation" %>
    <%= render "layouts/breadcrumbs" %>
    
    <div id="body">
          
      <%= render_messages %>
      
      <section>
        <!-- Begin page-specific body -->
        
        <%= yield %>
        
        <!-- End page-specific body -->
        
        <div class="clear"><!-- Empty div to clear floats before footer --></div>
      </section>
    </div>
    
    <%= render "layouts/admin_panel" %>
    <%= render "layouts/footer" %>
    
    <%= debug(params) if Rails.env.development? %>
  </div>


</body>
</html>
